/*@font-face {
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  src: local('Questrial'), local('Questrial-Regular'), url(https://fonts.gstatic.com/s/questrial/v8/QdVUSTchPBm7nuUeVf70viFl.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}*/

html,body{
	margin:0;
	padding:0;
	background-color:white;
	-webkit-font-smoothing: antialiased;
	-ms-overflow-style: none;
	font-size:14px;
}
/*embed{
	 pointer-events: none !important;    
}*/

img {
  -webkit-touch-callout: none; 
  -webkit-user-select: none;   
  -khtml-user-select: none;    
  -moz-user-select: none;    
  -ms-user-select: none;      
   user-select: none; 

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
   user-drag: none;       
}

/*.is-loading {
  background-color: black !important;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/loading.gif') !important;
}*/

h1{
	letter-spacing: 2px;
}

.iframe-container{
	height: 100%;
	position:relative;
}

.iframe-container iframe{
	position:absolute;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width:100%;
    height:100%;
}

.hidden-option{
	background-color: white;
    height: 45px;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 45px;
    z-index: 2147483647;
}

/*md-dialog-content{
	scrollbar-width: none;
}*/

/*md-dialog-content::-webkit-scrollbar { width: 0 !important }
md-dialog-content::-moz-scrollbar { width: 0 !important }
md-dialog-content::-ms-scrollbar { width: 0 !important }

#dialogContent_2::-webkit-scrollbar { width: 0 !important }
#dialogContent_2::-moz-scrollbar { width: 0 !important }
#dialogContent_2::-ms-scrollbar { width: 0 !important }*/
md-dialog{
	width:60% !important;
}

 @media (max-width: 575.98px) {
	md-dialog{
		width:100% !important;
	}
 }

.advance-search-3::-webkit-scrollbar { width: 0 !important }
.advance-search-3::-moz-scrollbar { width: 0 !important }
.advance-search-3::-ms-scrollbar { width: 0 !important }

.advance-search-3{
	scrollbar-width: none;
}

::-webkit-input-placeholder { /* Edge */
  color: #ccc !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ccc !important;
}

::placeholder {
  color: #ccc !important;
}

.full_width-masonry .item{
	background-color:rgba(192,192,192,0.5);
}

html,body, div, p{
	font-family: 'Arial', sans-serif !important;
}

span{
	outline:none;
}

p{
	margin-bottom:0.5rem !important;
}

ul{
	list-style-type: none;
	margin:0;
	padding:0;
}

a{
	text-decoration: none !important;
	cursor: pointer !important;
	color:#9F0D0F;
}

a:hover{
	color:#D71116;
}	

a.theme-btn{
position: relative;
width: 150px;
height: 50px;
line-height: 50px;
display: inline-block;
font-size: 16px;
color: #262626;
border:1px solid #ddd;
text-align:center;
color:black;
cursor:pointer;
}
a.theme-btn:hover{
	color:black;
}
a.theme-btn:before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 0;
height: 0;
background: transparent;
border: 2px solid transparent;
}
a.theme-btn:hover:before{
animation: buttonBorder_topright 200ms linear forwards;
}

a.theme-btn:after{
content: '';
position: absolute;
top: 0;
left: 0;
width: 0;
height: 0;
background: transparent;
border: 2px solid transparent;
}
a.theme-btn:hover:after{
animation: buttonBorder_leftBottom 200ms linear forwards;
animation-delay: 200ms;
}

.sticky-footer{
	margin-bottom:100%;
}

.border-light-gray{
	border:1px solid #ddd;
}

.theme-color{
	color:#9F0D0F !important;
}

.theme-bgcolor{
	background-color:#9F0D0F !important;
}

.theme-bgcolor:hover{
	background-color:#700A0C !important;
}

.isolate-bg{
	background-color:#F1F1F1 !important;
}

.text-normal{
	font-weight:normal !important;
}

.text-bold{
	font-weight:bold !important;
}
.text-bolder{
	font-weight:800 !important;
}
.text-underline{
	text-decoration: underline;
}

.container-fluid{
	padding:0 !important;
	margin:0 !important;
}

.full-width{
	width:100% !important;
}

.width-10{
	width:10% !important;
}

.width-20{
	width:20% !important;
}

.width-30{
	width : 33.33% !important;
}

.width-40{
	width:40% !important;
}

.width-50{
	width:calc((100% / 2) - 5px) !important;
}

.width-60{
	width:60% !important;
}

.width-70{
	width:70% !important;
}

.width-80{
	width:80% !important;
}

.width-90{
	width:90% !important;
}

.height-100{
	height:100%;
}

.min-full-height{
	min-height:100%;
}

.full-height{
	height:100%;
	min-height:100%;
}

.height-10{
	height:10% !important;
}

.height-20{
	height:20% !important;
}

.height-30{
	height:30% !important;
}

.height-40{
	height:40% !important;
}

.height-50{
	height:50% !important;
}

.height-60{
	height:60% !important;
}

.height-70{
	height:70% !important;
}

.height-80{
	height:80% !important;
}

.height-90{
	height:90% !important;
}


.image-responsive{
	width:100%;
	height:auto;
}

.image-responsive-height{
	width:auto;
	height:100%;
}

.icons{
	width:90%;
	height:auto;
}
.icons-2{
	width:15px;
	height:auto;
}

.icons-3{
	width:25px;
	height:auto;
}

.icons-4{
	width:50px;
	height:auto;
}

.icons-5{
	width:40px;
	height:auto;
}

.bg-F4{
	background-color:#F4F4F4 !important;
}

.bg-ddd{
	background-color:#ddd !important;
}

.btn-disabled{
	background-color:#ddd !important;
	opacity:0.7;
}

.break-line{
	border-top:1px solid #ddd;
	height:1px;
	width:100%;
	margin:20px 0;
}

.md-bar{
	background-color:#124F4F !important;
	opacity:0.5;
}

md-switch.md-default-theme.md-checked:not([disabled]).md-primary .md-thumb, md-switch.md-checked:not([disabled]).md-primary .md-thumb{
	background-color:#124F4F !important;
}

.tick {
    stroke-dasharray: 29px;
    stroke-dashoffset: 29px;
    animation: draw .5s cubic-bezier(.25, .25, .25, 1) forwards;
    animation-delay: .6s
}

.circle {
    fill-opacity: 0;
    stroke: #219a00;
    stroke-width: 16px;
    transform-origin: center;
    transform: scale(0);
    animation: grow 1s cubic-bezier(.25, .25, .25, 1.25) forwards;   
}

.requestSuccess{
display:none;
}

.grid:after {
/*  content: '';
  display: block;
  clear: both;*/
}

.toggle-off-pad, .toggle-on-pad{
	padding:.375rem 15px !important;
	text-align: center !important;
}

.ng-enter, .ng-enter-active{
	transition: all 0 !important;
}

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}

.cursor_pointer{
	cursor:pointer;
}

video::-webkit-media-controls {
  display:none !important;
}

video::-webkit-media-controls-enclosure {
  display:none !important;
}

.minwidth-80{
	min-width:80%;
}

.content-downtime {
	margin-top: 10%;
}

.header-content-downtime {
	font-size: 60px;
	font-weight: bold;
}

.description-content-downtime {
	font-size: 30px;
}