@keyframes drop {
  0% {
    transform-origin: center;
    opacity: 1;
  }
  20% {
    transform: 
      translate3d(0, 20px, 0)
      rotate3d(0, 0, 1, -120deg);
    opacity: 1;
  }
  40%, 45% {
    transform: 
      translate3d(0, -50px, 0)
      rotate3d(0, 0, 1, 10deg);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: 
      translate3d(0, 220px, 0)
      rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes screenMoving {
  0% {
    transform: translate(0, 0);
  }

   30% {
      transform: translate(-30%, 0);
  }
  
 60% {
    transform: translate(0, 30%);
  }

  to{
    transform: translate(0, 0);
  }
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes bgMovingRight {
  0% {
    background-position:0 center;
  }

  to{
     background-position:100% center;
  }
}

@keyframes bgMovingLeft {
  0% {
    background-position:100% center;
  }

  to{
     background-position:0 center;
  }

/*  to{
     background-position:0 center;
  }*/
}

@keyframes zoomInEffect {
      0% {
          transform: scale(0);
          -webkit-transform: scale(0);
      }
      to {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
  }

  @keyframes buttonBorder_topright{
  0%{
    width: 0;
    height: 0;
    border-top-color: #757575;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
  50%{
    width: 100%;
    height: 0;
    border-top-color: #757575;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: #757575;
  }
  100%{
    width: 100%;
    height: 100%;
    border-top-color: #757575;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: #757575;
  }
}

@keyframes buttonBorder_leftBottom{
  0%{
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #757575;
    border-right-color: transparent;
  }
  50%{
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-bottom-color: #757575;
    border-left-color: #757575;
    border-right-color: transparent;
  }
  100%{
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-bottom-color: #757575;
    border-left-color: #757575;
    border-right-color: transparent;
  }
}

@keyframes slideDown {
  0% {
    opacity:0;
    transform: translateY(-10%);
  }
 
  100% {
    opacity:1;
    transform: translateY(0%);
  }   
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
}


@keyframes grow {
    60% {
        transform: scale(.8);
        stroke-width: 4px;
        fill-opacity: 0;
    }
    100% {
        transform: scale(.9);
        stroke-width: 8px;
        fill-opacity: 1;
        fill: #219a00;
    }
}

@keyframes draw {
    100% { stroke-dashoffset: 0; }
}

@keyframes screenClear{
    from {
      background-color:rgba(256,256,256,1);
    }
    
    70% {
      background-color:rgba(256,256,256,0.3);
    }

    to {
      background-color:rgba(256,256,256,0);
    }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }