$theme-color: #9F0D0F;

// .drop{
//  animation: drop 1.2s forwards;
// }

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#backtoTop {
    opacity: 0;
    bottom: 15px;
    right: 25px;
    z-index: 999;
    transition: opacity 1s ease;

    .rounded-circle {
        background-color: #DBDBDB;
        padding: 5px 15px;

        span {
            font-size: 12px;
        }
    }
}

#toastBox {
    right: -100%;
    top: 100px;
    transition: all 500ms;
    z-index: 800;

    .toastBox {
        background-color: rgba(0, 0, 0, 0.9);
        width: 200px;
        height: auto;
        padding: 10px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.46), 0 3px 6px rgba(0, 0, 0, 0.23);

        p {
            font-size: 14px;
        }
    }
}

header {
    //header.html
    #navbar {
        width: 100%;
        padding: 20px 0;
        height: 55px;
        position: fixed;
        background-color: white;
        z-index: 999;
        -webkit-box-shadow: -1px -4px 7px 2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -1px -4px 7px 2px rgba(0, 0, 0, 0.75);
        box-shadow: -1px -4px 7px 2px rgba(0, 0, 0, 0.75);

        .block-logo {
            width: 33.33%;

            .navbar-brand {
                #logo {
                    width: 75%;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                    vertical-align: middle;
                    transition: width 0.5s;
                    -webkit-transition: width 0.5s;
                }

                @media (max-width: 575.98px) {
                    #logo {
                        width: 90%;
                    }
                }
            }
        }

        @media (max-width: 991.98px) {
            .block-logo {
                width: 30%;
            }
        }

        .block-title {
            width: 33.33%;

            .nav-title {
                color: $theme-color;
                font-size: 14px;
                font-weight: bold;
                transition: font-size 1s ease;
            }

            .nav-title.deactive {
                display: none !important;
            }

            .nav-title.active {
                display: block !important;
            }
        }

        @media (max-width: 991.98px) {
            .block-title {
                width: 40%;

                // display: none;
                text-align: center;

                .nav-title {
                    font-size: 10.5px;
                }

                // display:none;
           
            }
        }

        .block-menu {
            width: 33.33%;

            ul {
                li {
                    display: inline-block;
                    padding: 0 15px;

                    a {
                        font-weight: bold;
                        color: #343434;
                        font-size: 14px;
                        letter-spacing: 0em;
                        line-height: 1.05em;
                    }

                    a:hover {
                        color: $theme-color;
                    }
                }

                li:nth-last-child(2) {
                    padding-right: 0px;

                    div.space {
                        width: 20px;

                        a.magnifying {
                            display: none;

                            img {
                                width: 100%;
                            }
                        }
                    }
                }

                li.hamburger {
                    display: none;
                }
            }

            // ul {
            //     list-style-type: none;
            //     float: right;

            //     li {
            //         float: right;
            //         height: 100%;
            //         padding: 5px 0;
            //         font-size: 12px;
            //         border-left: 1px solid #ddd;
            //         border-right: 1px solid #ddd;

            //         .cart-num {
            //             top: -3px;
            //             right: -3px;
            //             border-radius: 50%;
            //             background-color: black;
            //             color: white;
            //             font-weight: bold;
            //             font-size: 12px;
            //             padding: 2px 7px;
            //         }

            //         #menubar {
            //             -moz-transform: scaleX(-1);
            //             -o-transform: scaleX(-1);
            //             -webkit-transform: scaleX(-1);
            //             transform: scaleX(-1);
            //             filter: FlipH;
            //             -ms-filter: "FlipH";
            //         }
            //     }
            //     li:hover{
            //         background-color:#F5F5F5;
            //     }
            //     li:nth-child(2) {
            //         border-right: 0px;
            //         padding: 0 15px;
            //         color: $theme-color;
            //         height: 50px;
            //     }

            //     li:last-child {
            //         display: none;
            //         border-right: 0px;
            //         padding: 12px 10px;
            //         height: 50px;
            //         cursor: pointer;
            //     }

            //     li.hamburger {
            //         width: 60px;
            //         label{
            //             cursor: pointer !important;
            //         }
            //     }
            // }
       
        }

        @media (max-width: 1120px) {
            .block-menu {
                ul {
                    li {
                        display: none;
                    }

                    li.hamburger {
                        display: inline-block !important;
                        font-size: 12px;

                        // border-left: 1px solid #ddd;
                        // border-right: 1px solid #ddd;
                   
                    }

                    li:nth-last-child(2) {
                        display: inline-block !important;
                        padding-right: 10px;
                    }
                }

                width: 30%;

                // ul {
                //     li.btn-myList {
                //         display: none;
                //     }

                //     li:nth-child(2) {
                //         display: none !important;
                //     }
                // }
           
            }
        }
    }

    #navbar.collection {
        background-color: white;
    }
}

#footer {
    bottom: 0;
    z-index: 999;
    height: 35px;

    ul {
        li {
            display: inline-block;
            padding-right: 15px;

            a {
                font-size: 10px;
            }
        }
    }

    .reserved {
        font-size: 10px;
    }
}

.mobile-navigation {
    //header.html
    position: fixed;
    top: 0;
    right: 0;
    width: 260px;
    height: 100%;
    z-index: 99;
    padding: 55px 10px;
    background: white;
    margin-right: -270px;
    -webkit-box-shadow: -3px 12px 7px -7px black;
    -moz-box-shadow: -3px 12px 7px -7px black;
    box-shadow: -3px 12px 7px -7px black;
    -moz-transition: all 100ms ease-in;
    -webkit-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;

    ul {
        width: 100%;
        height: 100%;
        margin: 0;
        padding-top: 30px;
        list-style: none;
        overflow: hidden;

        li {
            padding: 20px 0;
            border-bottom: 1px solid #F3F3F3;

            a {
                color: black;
                opacity: 0.4;
                font-size: 1.3rem;
            }

            a.active {
                opacity: 0.8;
                border-bottom: 3px solid $theme-color;
                -moz-transition: border-bottom 100ms ease-in;
                -webkit-transition: border-bottom 100ms ease-in;
                -o-transition: border-bottom 100ms ease-in;
                transition: border-bottom 100ms ease-in;
            }

            a:hover {
                opacity: 0.8;
                border-bottom: 3px solid $theme-color;
                -moz-transition: border-bottom 100ms ease-in;
                -webkit-transition: border-bottom 100ms ease-in;
                -o-transition: border-bottom 100ms ease-in;
                transition: border-bottom 100ms ease-in;
            }
        }

        li:last-child {
            border-bottom: 0px;
        }

        .menuCart {
            opacity: 1;
            -moz-transition: opacity 1s ease-in;
            -webkit-transition: opacity 1s ease-in;
            -o-transition: opacity 1s ease-in;
            transition: opacity 1s ease-in;
        }

        @media (min-width: 1200px) {
            li.for-mobile {
                display: none;
            }
        }
    }
}

.mobile-navigation.active {
    margin-right: 0;
}

.searchComponent {
    //components/search.html
    .searchField {
        width: 100%;

        input {
            height: 45px;
            border: 0;
        }

        .btn-outline-secondary {
            background-color: rgba(192, 192, 192, 0.6);
            border: 0;

            .icon-advanceSearch {
                width: 22px;
                height: auto;
                transition: 500ms ease;
            }

            .icon-advanceSearch.active {
                transform: rotate(45deg);
            }
        }

        .btn-basicSearch {
            background-color: white;
            border: 1px solid #ddd;
            border: 0;

            .icon-basicSearch {
                width: 22px;
                height: auto;
            }
        }
    }

    .bs_autocomplete {
        z-index: 5;

        ul {
            li {
                a {
                    display: block;
                    width: 100%;
                }
            }

            li:hover {
                background-color: #f5f5f5;
            }

            li.selected {
                background-color: #f5f5f5;
            }
        }
    }

    .search-dropdown {
        z-index: 4;
        width: 100%;
        top: 40px;
        display: none;

        .search-menu {
            width: 99%;
            top: 0;
            left: 4px;

            ul {
                // padding: 0 1.5rem;

                li {
                    display: inline-block;
                    margin-right: -5px;
                    color: #AFB3B5;
                    background-color: white;
                    padding: 5px 10px;
                    font-size: 1rem;
                    text-align: left;
                    width: calc(100% / 3);
                    text-align: center;
                    border: 1px solid #ddd;

                    img {
                        vertical-align: middle;
                        padding-right: 5px;
                        width: 35px;
                    }

                    a {
                        display: block;
                        width: 100%;
                        font-size: 14px;
                        letter-spacing: 1px;
                    }
                }

                li:last-child {
                    border-right: 1px solid #ddd;
                }

                li.active {
                    color: $theme-color;
                    background-color: white;
                    font-weight: bold;
                    border-bottom: 0px;
                }

                li:hover {
                    cursor: pointer;
                    color: $theme-color;
                    background-color: white;
                }
            }
        }

        .search-form {
            width: 500px;
            background-color: white;
            margin-top: 20px;
            border: 1px solid #ddd;
            color: black;

            .advFields {
                padding: 5px 0px 5px 0px;

                input {
                    height: 35px;
                    border-radius: 0;
                }

                a {
                    color: white;
                    background-color: $theme-color;
                }

                .bs_collectionOptionsList {
                    display: none;
                }

                .bs_AdvOptionsList, .bs_AdvOptionsCollectionList {
                    z-index: 10;

                    ul {
                        li {
                            a {
                                display: block;
                                width: 100%;
                                height: 100%;
                                border: 0px;
                                background-color: transparent;
                                color: black;
                                font-size: 14px;
                            }

                            a:hover {
                                color: black;
                                border: 0px;
                                background-color: #f5f5f5;
                            }
                        }

                        // li:hover {
                        //     background-color: #f5f5f5;
                        // }
                   
                    }
                }
            }
        }

        @media (max-width: 768px) {
            .search-menu {
                width: 100%;
                top: 0;
                left: 3px;

                ul {
                    width: 303px;

                    li {
                        padding: 5px;
                        text-align: center;

                        a {
                            font-size: 12px;
                        }
                    }
                }
            }

            .search-form {
                width: 300px;
            }
        }
    }

    .search-dropdown.avtive {
        display: block !important;
        animation-name: slideDown;
        -webkit-animation-name: slideDown;
        animation-duration: 50ms;
        -webkit-animation-duration: 50ms;
        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;
    }
}

// ------------ Filter component in search page [search-filter.html] ------------
.filter-block {
    z-index: 98;
    right: 0;
    margin-right: -360px;
    -moz-transition: all 100ms ease-in;
    -webkit-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.46), 0 3px 6px rgba(0, 0, 0, 0.23);

    .advance-search-3 {
        padding-top: 10px;
        width: 320px;

        //min-height: 5000px;
        overflow: auto;

        .filter_header_option {
            a {
                color: $theme-color;
            }
        }

        .filter_category_option {
            label {
                color: #AFB3B5;
                font-size: 14px;
                letter-spacing: 1px;
            }

            a {
                display: block;
                width: 100%;
                height: 100%;
                color: #AFB3B5;
            }

            a:hover {
                color: $theme-color;
            }
        }

        .category_filter {
            height: 900px;

            .options-card {
                table {
                    tr {
                        th {
                            border: 0;
                        }

                        td {
                            border: 0;
                        }
                    }
                }

                text-align: left !important;

                .bs_optionsList {
                    z-index: 99;

                    ul {
                        li {
                            a {
                                display: block;
                                width: 100%;
                                height: 100%;
                                border: 0px;
                            }

                            a:hover {
                                color: black;
                                border: 0px;
                                background-color: #f5f5f5;
                            }
                        }

                        // li:hover {
                        //     background-color: #f5f5f5;
                        // }
                   
                    }
                }

                a {
                    border: 1px solid #F4F4F4;
                    background-color: white;
                    color: black;
                    display: block;
                    font-size: 14px;
                }

                a.active {
                    color: white;
                    border: 1px solid #F4F4F4;
                    background-color: #f5f5f5;
                }

                a:hover {
                    color: white;
                    border: 1px solid #F4F4F4;
                    background-color: #f5f5f5;
                }

                .block-filter {
                    display: none;
                    top: 63px;
                    z-index: 10;
                    max-height: 210px;
                    overflow: auto;

                    ul {
                        li {
                            border-bottom: 1px solid #F5F5F5;

                            label {
                                cursor: pointer;
                            }
                        }

                        li:hover {
                            background-color: #f5f5f5;
                        }
                    }
                }

                .form-group {
                    text-align: left;

                    label {
                        text-align: left;
                        font-size: 1rem;
                    }
                }

                border: 0px;
                text-align: center;
                color: black;
                padding: 0 1rem;

                textarea {
                    font-size: 14px;
                    min-height: 100px;
                    max-height: 100%;
                    background-color: #F5F5F5;
                }

                input[type=text] {
                    font-size: 14px;
                    background-color: white;
                }

                // box-shadow: 0 10px 20px rgba(0,0,0,0.49), 0 6px 6px rgba(0,0,0,0.23);
           
            }
        }
    }
}

.filter-block.active {
    margin-right: 0;
}

section {
    padding-top: 55px;

    // margin-bottom:100px;
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    min-height: 100% !important;

    .container-fluid {
        .container {
            // margin: 2rem auto;

            h1 {
                span {
                    color: gray;
                }
            }

            .form-group {
                input {
                    background-color: ghostwhite;
                    border: 0;
                }

                button {
                    // background-color: rgba(192, 192, 192, 0.8);
                    // border: 0;
               
                }
            }

            .btn-group {
                button {
                    color: white;
                    background-color: transparent;
                    outline: 0;
                    box-shadow: none;
                }
            }
        }
    }

    @media (max-width: 575.98px) {
        .container-fluid {
            h1 {
                font-size: 2rem;
            }

            .container {
                margin: 0 auto;
            }
        }
    }
}

// @media (max-width: 575.98px) {
//     section {
//         padding-top: 45px;

//     }
// }

section#homepage {
    #collectionOptionBar {
        display: none;
        opacity: 0;
        background-color: #F8F8F8;
        top: 55px;
        border-bottom: 1px solid #ddd;
        z-index: 999;
        height: 65px;
        border-top: 1px solid #ddd;
        padding: 10px 0;

        ul.tabsBar {
            width: 100%;

            li {
                width: calc(100% / 4);
                margin-right: -5px;
                display: inline-block;
                color: #AFB3B5;
                background-color: white;
                font-size: 1rem;
                text-align: center;
                border: 1px solid #ddd;
                border-right: 0px;

                img {
                    vertical-align: middle;
                    padding-right: 5px;
                    width: 35px;
                }

                a {
                    display: block;
                    width: 100%;
                    font-size: 14px;
                    letter-spacing: 1px;
                }

                @media (min-width: 768px) and (max-width: 991.98px) {
                    a {
                        font-size: 10px;
                    }
                }

                @media (min-width: 992px) and (max-width: 1199.98px) {
                    a {
                        font-size: 12px;
                    }
                }
            }

            li:last-child {
                border-right: 1px solid #ddd;
            }

            li.active {
                color: $theme-color;
                background-color: white;
                font-weight: bold;
                border-bottom: 0px;
            }

            li:hover {
                cursor: pointer;
                color: $theme-color;
                background-color: white;
            }
        }

        .selectBars {
            display: none !important;
        }

        @media (max-width: 575.98px) {
            h1 {
                font-size: 2rem;
            }

            ul.tabsBar {
                display: none !important;
            }

            .selectBars {
                display: block !important;
            }
        }
    }

    #collectionOptionBar.active {
        display: block;
        animation: slideDown 100ms forwards;

        .searchComponent {
            //components/search.html
            .form-group {
                width: 100%;

                .btn-outline-secondary {
                    background-color: rgba(192, 192, 192, 0.9);
                    border: 0;
                }
            }
        }
    }

    // @media (max-width: 575.98px) {
    //     #collectionOptionBar {
    //         top: 55px;
    //     }
    // }

    .short_header {
        background-color: #F8F8F8;

        .banner {
            height: 300px;
            padding-top:5%;
        }

        @media (max-width: 575.98px) {
            .banner {
                padding-top:25px;
                height: 200px;
            }
        }

        ul.tabsBar {
            width: 100%;

            li {
                width: calc(100% / 4);
                margin-right: -5px;
                display: inline-block;
                color: #AFB3B5;
                background-color: white;
                font-size: 1rem;
                text-align: center;
                border: 1px solid #ddd;
                border-right: 0px;

                img {
                    vertical-align: middle;
                    padding-right: 5px;
                    width: 35px;
                }

                a {
                    display: block;
                    width: 100%;
                    letter-spacing: 1px;
                    font-size: 14px;
                }
            }

            li:last-child {
                border-right: 1px solid #ddd;
            }

            li.active {
                color: $theme-color;
                background-color: white;
                font-weight: bold;
                border-bottom: 0px;
            }

            li:hover {
                cursor: pointer;
                color: $theme-color;
                background-color: white;
            }
        }

        .selectBars {
            display: none !important;
        }

        @media (max-width: 575.98px) {
            h1 {
                font-size: 2rem;
            }

            ul.tabsBar {
                display: none !important;
            }

            .selectBars {
                display: block !important;
            }
        }
    }

    .collection-section {
        // .allCollection {
        //     display: block;
        // }

        // .artCollection {
        //     display: none;
        // }

        // .arcCollection {
        //     display: none;
        // }

        // .libCollection {
        //     display: none;
        // }

        .collection {
            background-color: white;
            padding: 0 3rem 3rem 3rem;
            min-height: 100%;

            .siteLoc {
                outline: 0;
                cursor: pointer;

                h2 {
                    span {
                        border-bottom: 1px solid #ddd;
                    }

                    span:hover {
                        border-bottom: 1px solid black;
                        transition: 1s;
                    }
                }
            }

            .masonry-grid {
                // column-count: 5;
                // column-gap: 1em;
                .masonry-brick.loaded {
                    opacity: 1 !important;
                }

                .gutter-sizer {
                    width: 25px;
                }

                .masonry-brick {
                    background-color: #eee !important;
                    width: calc(100% / 6 - 21px);
                    margin-bottom: 20px;
                    opacity: 0;
                    -moz-transition: opacity 100ms;
                    -webkit-transition: opacity 100ms;
                    transition: opacity 100ms;

                    .lib_gridTitle {
                        padding: 20px 10px;
                        font-weight: 800;
                        color: white;
                    }

                    img {
                        display: block;
                        max-width: 100%;
                    }

                    img:hover {
                        transition: transform 0.5s;
                        -webkit-transition: transform 0.5s;
                        -moz-transition: transform 0.5s;
                        -o-transition: transform 0.5s;
                    }

                    .item_details {
                        padding: 4% 2%;

                        .details_name {
                            font-size: 12px;
                        }

                        .sourcetitle {
                            font-size: 14px;
                        }

                        .lib_sourcetitle {
                            font-size: 14px;
                        }
                    }

                    .product_image:hover .viewDetailsOverlay {
                        background-color: rgba(0, 0, 0, 0.4);
                    }

                    .product_image:hover .viewDetailsOverlay a {
                        display: block;
                    }

                    .viewDetailsOverlay {
                        background-color: rgba(0, 0, 0, 0);
                        z-index: 1;
                        top: 0;
                        left: 0;
                        cursor: pointer;
                        transition: all 700ms;

                        a {
                            display: none;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .grid-badge {
                        right: 0;
                        bottom: 0;
                    }
                }
            }

            @media (max-width: 575.98px) {
                .masonry-grid {
                    padding: 0 10px;

                    .gutter-sizer {
                        width: 15px;
                    }

                    .masonry-brick {
                        width: calc(100% / 2 - 18px);
                        margin: 0 0 1em;

                        .item_details {
                            .details_name {
                                font-size: 10px;
                            }

                            .sourcetitle {
                                font-size: 12px;
                            }

                            .lib_sourcetitle {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            @media (min-width: 576px) and (max-width: 767.98px) {
                .masonry-grid {
                    padding: 0 10px;

                    .gutter-sizer {
                        width: 15px;
                    }

                    .masonry-brick {
                        width: calc(100% / 3 - 18px);
                        margin: 0 0 1em;

                        .item_details {
                            .details_name {
                                font-size: 10px;
                            }

                            .sourcetitle {
                                font-size: 12px;
                            }

                            .lib_sourcetitle {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            @media (min-width: 768px) and (max-width: 991.98px) {
                .masonry-grid {
                    padding: 0 10px;

                    .gutter-sizer {
                        width: 25px;
                    }

                    .masonry-brick {
                        width: calc(100% / 3 - 24px);
                        margin: 0 0 1.8em;
                    }
                }
            }

            @media (min-width: 992px) and (max-width: 1199.98px) {
                .masonry-grid {
                    padding: 0 10px;

                    .gutter-sizer {
                        width: 25px;
                    }

                    .masonry-brick {
                        width: calc(100% / 4 - 24px);
                        margin: 0 0 2em;
                    }
                }
            }

            @media (min-width: 1200px) and (max-width: 1440.98px) {
                .masonry-grid {
                    padding: 0 10px;

                    .gutter-sizer {
                        width: 25px;
                    }

                    .grid-sizer {
                        width: calc(100% / 5 - 25px);
                    }

                    .masonry-brick {
                        width: calc(100% / 5 - 25px);
                        margin: 0 0 2em;
                    }
                }
            }
        }

        @media (max-width: 767.98px) {
            .collection {
                padding: 0;
            }
        }
    }
}

section#searchPage {
    .container-fluid {
        #searchNav {
            height: 60px;
            z-index: 97;
            top: 55px;
            display: none;
            background-color: #F8F8F8;
            border-top: 1px solid #ddd;
        }

        @media (max-width: 575.98px) {
            #searchNav {
                top: 55px;
            }
        }

        #searchNav.active {
            display: block;
        }

        .search-data {
            background-color: #F8F8F8;
        }

        .search_sort select{
            border:1px solid #ddd;
        }

        .search_sort select:focus, .search_sort select:active{
            outline:1px solid $theme-color !important;
        }

        ul.tabsBar {
            width: 100%;

            li {
                width: calc(100% / 4);
                margin-right: -5px;
                display: inline-block;
                color: #AFB3B5;
                background-color: white;
                font-size: 1rem;
                text-align: center;
                border: 1px solid #ddd;
                border-right: 0px;

                img {
                    vertical-align: middle;
                    padding-right: 5px;
                    width: 35px;
                }

                a {
                    display: block;
                    width: 100%;
                    letter-spacing: 1px;
                    font-size: 14px;
                }

                @media (min-width: 768px) and (max-width: 991.98px) {
                    a {
                        font-size: 10px;
                    }
                }

                @media (min-width: 992px) and (max-width: 1199.98px) {
                    a {
                        font-size: 12px;
                    }
                }
            }

            li:last-child {
                border-right: 1px solid #ddd;
            }

            li.active {
                color: $theme-color;
                background-color: white;
                font-weight: bold;
                border-bottom: 0px;
            }

            li:hover {
                cursor: pointer;
                color: $theme-color;
                background-color: white;
            }
        }

        .selectBars {
            display: none !important;
        }

        @media (max-width: 575.98px) {
            h1 {
                font-size: 2rem;
            }

            ul.tabsBar {
                display: none !important;
            }

            .selectBars {
                display: block !important;
            }
        }

        .search_options_list {
            ul {
                li {
                    display: inline-block;
                }
            }
        }

        .filterSection {
            .position-absolute {
                z-index: 99;
                left: 0;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.46), 0 3px 6px rgba(0, 0, 0, 0.23);
            }
        }

        @media (max-width: 575.98px) {
            .filterSection {
                display: none;
            }
        }

        .block-sorting {
            display: none;
            z-index: 90;
            background-color: #ddd;
            border-radius: 10px;
            top: 55px;
            left: -110px;
            color: black;
            padding: 10px;
            width: 150px;

            ul {
                li {
                    cursor: pointer;
                    display: block;
                    width: 100%;
                    padding: 10px;
                    outline: 0;
                    margin-bottom: 5px;
                    background-color: #A3A3A3;
                }

                li:last-child {
                    margin-bottom: 0px;
                }

                li:hover {
                    background-color: #9D9D9D;
                    color: white;
                    transition: 200ms;
                }

                li.active {
                    background-color: #343434;
                    color: white;
                }
            }
        }

        .collection {
            background-color: white;
            padding: 0 3rem 3rem 3rem;
            min-height: 100%;

            .masonry-grid {
                .gutter-sizer {
                    width: 25px;
                }

                // column-count: 5;
                // column-gap: 1em;
                .masonry-brick.loaded {
                    opacity: 1 !important;
                }

                .masonry-brick {
                    background-color: #eee !important;
                    width: calc(100% / 6 - 21px);
                    margin-bottom: 20px;
                    opacity: 0;
                    -moz-transition: opacity 500ms;
                    -webkit-transition: opacity 500ms;
                    transition: opacity 500ms;

                    .lib_gridTitle {
                        padding: 20px 10px;
                        font-weight: 800;
                        color: white;
                    }

                    img {
                        display: block;
                        max-width: 100%;
                    }

                    img:hover {
                        transition: transform 0.5s;
                        -webkit-transition: transform 0.5s;
                        -moz-transition: transform 0.5s;
                        -o-transition: transform 0.5s;
                    }

                    .item_details {
                        padding: 4% 2%;

                        .details_name {
                            font-size: 12px;
                        }

                        .sourcetitle {
                            font-size: 14px;
                        }

                        .lib_sourcetitle {
                            font-size: 14px;
                        }
                    }

                    .product_image:hover .viewDetailsOverlay {
                        background-color: rgba(0, 0, 0, 0.4);
                    }

                    .product_image:hover .viewDetailsOverlay a {
                        display: block;
                    }

                    .viewDetailsOverlay {
                        background-color: rgba(0, 0, 0, 0);
                        z-index: 1;
                        top: 0;
                        left: 0;
                        cursor: pointer;
                        transition: all 700ms;

                        a {
                            display: none;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .grid-badge {
                        right: 0;
                        bottom: 0;
                    }
                }
            }

            @media (max-width: 575.98px) {
                .masonry-grid {
                    padding: 0 10px;

                    .gutter-sizer {
                        width: 15px;
                    }

                    .masonry-brick {
                        width: calc(100% / 2 - 18px);
                        margin: 0 0 1em;

                        .item_details {
                            .details_name {
                                font-size: 10px;
                            }

                            .sourcetitle {
                                font-size: 12px;
                            }

                            .lib_sourcetitle {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            @media (min-width: 576px) and (max-width: 767.98px) {
                .masonry-grid {
                    padding: 0 10px;

                    .gutter-sizer {
                        width: 15px;
                    }

                    .masonry-brick {
                        width: calc(100% / 3 - 18px);
                        margin: 0 0 1em;

                        .item_details {
                            .details_name {
                                font-size: 10px;
                            }

                            .sourcetitle {
                                font-size: 12px;
                            }

                            .lib_sourcetitle {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            @media (min-width: 768px) and (max-width: 991.98px) {
                .masonry-grid {
                    padding: 0 10px;

                    .gutter-sizer {
                        width: 25px;
                    }

                    .masonry-brick {
                        width: calc(100% / 3 - 24px);
                        margin: 0 0 1.8em;
                    }
                }
            }

            @media (min-width: 992px) and (max-width: 1199.98px) {
                .masonry-grid {
                    padding: 0 10px;

                    .gutter-sizer {
                        width: 25px;
                    }

                    .masonry-brick {
                        width: calc(100% / 4 - 24px);
                        margin: 0 0 2em;
                    }
                }
            }

            @media (min-width: 1200px) and (max-width: 1440.98px) {
                .masonry-grid {
                    padding: 0 10px;

                    .gutter-sizer {
                        width: 25px;
                    }

                    .masonry-brick {
                        width: calc(100% / 5 - 25px);
                        margin: 0 0 2em;
                    }
                }
            }
        }

        @media (max-width: 767.98px) {
            .collection {
                padding: 0;
            }
        }

        .item-list {
            background-color: #f5f5f5;
            border-radius: 5px;
            margin: 15px 0;
            border-radius: 5px;

            .arcTableList {
                overflow: auto;
            }

            .item-attachment {
                // height:300px;
                width: 20%;

                // background-color: #DBDBDB;
                transition: height 2s;
                -webkit-transition: height 2s;

                img {
                    // height: auto;
                    // max-height:200px;
                    // width: 100%;
                    // max-width: 100%;

                    // max-height: 100%;
               
                }
            }

            .item_list_details {
                width: 80%;
                padding: 10px 50px;

                // .list-badge {
                //     top: 40%;
                //     right: 5%;
                // }
           
            }
        }

        // .item-list:nth-child(odd){
        //     background-color:#E9E9E9;
        // }

        @media (max-width: 575.98px) {
            .item-list {
                margin: 0 0 15px  0;

                .item-attachment {
                    width: 40%;
                }

                .item_list_details {
                    width: 60%;
                    padding: 25px;

                    .list-badge {
                        top: -5px;
                        right: -5px;
                    }
                }
            }
        }

        .container {}
    }

    .collection-section {
        // .allCollection {
        //     display: block;
        // }

        // .artCollection {
        //     display: none;
        // }

        // .arcCollection {
        //     display: none;
        // }

        // .libCollection {
        //     display: none;
        // }
   
    }
}

section#cartPage {
    .container-fluid {
        .container {
            .cart-items {
                img.cart-img {
                    height: 150px;
                    width: auto;
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .stepper {
                .progressbar {
                    width: 100%;

                    li {
                        height: 60px;
                        padding: auto 0;

                        img {
                            padding-right: 10px;
                        }
                    }
                }
            }
        }
    }
}

section#personalParticular {
    .container-fluid {
        .container {
            .form-group {
                input {
                    background-color: white;
                    border: 1px solid #ddd;
                }

                button {
                    // background-color: rgba(192, 192, 192, 0.8);
                    // border: 0;
               
                }
            }

            .infoForm {
                .btn-addmore {
                    text-align: center;

                    a {
                        display: inline-block;
                        position: relative;

                        img {
                            width: 40px;
                            height: auto;
                        }
                    }

                    a::before {
                        content: '';
                        top: 50%;
                        left: 100%;
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: 1px;
                        border: 1px solid #ddd;
                    }

                    a::after {
                        content: '';
                        top: 50%;
                        right: 100%;
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: 1px;
                        border: 1px solid #ddd;
                    }

                    a:hover::after {
                        width: 150%;
                        transition: all 200ms;
                    }

                    a:hover::before {
                        width: 150%;
                        transition: all 200ms;
                    }

                    a:hover img {
                        width: 50px;
                        transition: all 200ms;
                    }
                }
            }
        }
    }
}

// section#artworkDetailsPage {
//     .container-fluid {
//         .container {
//             .share-block {
//                 color: #666666;
//                 text-align: right;

//                 a {
//                     display: inline-block;
//                     padding: 10px;
//                 }

//                 a:hover {
//                     border-radius: 50%;
//                     background-color: #ddd;
//                     transition: background-color 1s;
//                     -webkit-transition: background-color 1s;
//                 }
//             }

//             @media (max-width: 575.98px) {
//                 .breadcrum {
//                     justify-content: center;
//                 }

//                 .share-block {
//                     text-align: center;
//                 }
//             }

//             .detailsTable {
//                 // height: 250px;
//                 // overflow: hidden;

//                 .table-details {
//                     // border-top:1px solid #ddd;
//                     tr {
//                         th {
//                             // text-transform: uppercase;
//                             width: 30%;
//                             border: 0;
//                         }

//                         td {
//                             border: 0;

//                             div {
//                                 a {
//                                     color: black;
//                                 }

//                                 a:hover {
//                                     color: $theme-color;
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }

//             .detailsTable.active {
//                 height: 100%;
//             }

//             .related-work {
//                 .related-item {
//                     cursor: pointer;

//                     .row {
//                         border-radius: 5px;
//                         background-color: #F4F4F4;
//                         box-shadow: 0 1px 3px rgba(0, 0, 0, 0.42), 0 1px 2px rgba(0, 0, 0, 0.24);
//                         transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

//                         .item-img {
//                             height: 70px;

//                             img {
//                                 height: 100%;
//                                 width: auto;
//                                 max-width: 100%;
//                                 max-height: 100%;
//                             }
//                         }

//                         @media (max-width: 575.98px) {
//                             .item-img {
//                                 img {
//                                     height: auto;
//                                     width: 100%;
//                                     max-width: 100%;
//                                     max-height: 100%;
//                                 }
//                             }
//                         }

//                         .item-option {
//                             a {
//                                 display: block;
//                             }
//                         }
//                     }

//                     .row:hover {
//                         border: 1px solid #ddd;
//                         background-color: #ddd;
//                         transition: background-color 1.5s;
//                         -webkit-transition: background-color 1.5s;
//                     }
//                 }
//             }
//         }
//     }
// }

section#DetailsPage {
    .container-fluid {
        .container {
            .share-block {
                color: #666666;
                text-align: right;

                a {
                    display: inline-block;
                    padding: 10px;
                }

                a:hover {
                    border-radius: 50%;
                    background-color: #ddd;
                    transition: background-color 1s;
                    -webkit-transition: background-color 1s;
                }
            }

            @media (max-width: 575.98px) {
                .breadcrum {
                    justify-content: center;
                }

                .share-block {
                    text-align: center;
                }
            }

            .details_image_block {
                .lib_gridTitle {
                    padding: 20px 10px;
                    font-weight: 800;
                    color: white;
                    font-size: 18px;
                }
            }

            .detailsTable {
                // height: 250px;
                // overflow: hidden;

                .table-details {
                    // border-top:1px solid #ddd;
                    tr {
                        th {
                            width: 30%;
                            border: 0;

                            // text-transform: uppercase;
                       
                        }

                        td {
                            border: 0;
                            word-break: break-word;

                            div {
                                a {
                                    color: black;
                                }

                                a:hover {
                                    color: $theme-color;
                                }
                            }
                        }
                    }
                }

                @media (max-width: 575.98px) {
                    .table-details {
                        // border-top:1px solid #ddd;
                        tr {
                            th {
                                width: 35%;
                                border: 0;

                                // text-transform: uppercase;
                           
                            }
                        }
                    }
                }
            }

            .detailsTable.active {
                height: auto;
            }

            .related_item {
                .items {
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                    height: 120px;
                }

                .items:hover {
                    background-color: #E9ECEF;
                    transition: 500ms;

                    .count {
                        color: $theme-color;
                    }
                }
            }

            // .related-work {
            //     .related-item {
            //         cursor: pointer;

            //         .row {
            //             border-radius: 5px;
            //             background-color: #F4F4F4;
            //             box-shadow: 0 1px 3px rgba(0, 0, 0, 0.42), 0 1px 2px rgba(0, 0, 0, 0.24);
            //             transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

            //             .item-img {
            //                 height: 70px;

            //                 img {
            //                     height: 100%;
            //                     width: auto;
            //                     max-width: 100%;
            //                     max-height: 100%;
            //                 }
            //             }

            //             @media (max-width: 575.98px) {
            //                 .item-img {
            //                     img {
            //                         height: auto;
            //                         width: 100%;
            //                         max-width: 100%;
            //                         max-height: 100%;
            //                     }
            //                 }
            //             }

            //             .item-option {
            //                 a {
            //                     display: block;
            //                 }
            //             }
            //         }

            //         .row:hover {
            //             border: 1px solid #ddd;
            //             background-color: #ddd;
            //             transition: background-color 1.5s;
            //             -webkit-transition: background-color 1.5s;
            //         }
            //     }
            // }
       
        }
    }
}

section#termAndCondition {
    ol {
        li {
            padding: 5px 0;
        }
    }
}

section#FAQ {
    .container-fluid {
        // .container {
        .accordian {
            display: none;
        }

        .accordianTitle {
            background-color: white;
            border: 1px solid #eee;
            padding: 10px;
            cursor: pointer;
            color: #8F0C0F;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .accorContent {
            padding: 20px;
            background-color: white;
            color: #585858;
            margin-bottom: 5px;
        }

        // }
   
    }
}

section#success {
    padding-bottom: 50px;
}

.footer {
    width: 100%;
    bottom: 0;
    z-index: 999;
    height: auto;
    line-height: 50px;
    background-color: $theme-color;

    div.footer-nav {
        a.inline {
            padding: 0 20px;
            border-right: 1px solid white;
            color: white;
        }

        a.inline:last-child {
            border-right: 0px;
        }
    }
}

// .advance-search-1{
//  display:none;
//  z-index:2;
//  .card{
//      color:white;
//      border:1px solid gray;
//      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
//      .card-header{
//          background-color:#848484;
//      }
//      .card-body{
//          background-color:#848484;
//          form{
//              a{
//                  background-color:$theme-color;
//                  color:white;
//              }
//          }
//      }
//  }

// }

// .mobile-nav{
//     -webkit-transform:translate3d(-260px, 0, 0);
//     -moz-transform:translate3d(-260px, 0, 0);
//     -o-transform:translate3d(-260px, 0, 0);
//     transform:translate3d(-260px, 0, 0);
// }

// .category{
//  a{
//      text-decoration:none;
//      padding:0 1rem;
//      font-weight:bold;
//      color:gray;
//  }
//  a:hover{
//      color:$theme-color;
//  }
//  a.active{
//      color:$theme-color;
//  }
// }

// .load_more{
//  text-align: center;
//  small:before{
//      content:'';
//      width:40%;
//      height:1px;
//      position:absolute;
//      right:55%;
//      top:50%;
//      border:1px solid #ddd;
//  }
//  small:after{
//      content:'';
//      width:40%;
//      height:1px;
//      position:absolute;
//      top:50%;
//      left:55%;
//      border:1px solid #ddd;
//  }
// }