.clip-me {  
	background: black;
  	box-sizing: border-box;
  	stroke:red;
	width:200px;
	height:100%;
	-webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
	clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);

} 

.temp_class{
	border-bottom:2px solid #ddd;
}

.temp_tab button{
	border:none;
	color:black !important;

}

.temp_tab button:hover{
	font-weight:bold;

}

canvas{
    background-color: #000;
}

