<div class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1 class="mb-4"><span>Search for</span> Online Collections</h1>
				<div class="position-relative">
					<div class="input-group">
					  <input type="text" class="form-control" placeholder="Search across Art, Archive and library items..." aria-label="Recipient's username" aria-describedby="basic-addon2">
					  <div class="input-group-append">
					    <button class="btn btn-outline-secondary" ng-click="advance_search()" type="button"><i class="fa fa-chevron-down"></i></button>
					  </div>
					</div>
				</div>
				<div class="col-md-12 advance-search-1 position-absolute p-0" id="advance-search-1">
					<div class="d-flex justify-content-md-center">
						<div style="width:93%">
							 <div class="card">
							    <div class="card-header text-left text-light"><h4>Refine your search</h4></div>
							    <div class="card-body text-left">
					    			<form name="formData" ng-submit="advanceSearch()">
					    				<div class="row">
					    					<div class="form-group col-md-6">
											    <label class="col-md-12 p-0" for="">Date Range:</label>
											    <div class="col-md-5 d-inline-block p-0">
											    	<input type="date" class="form-control">
											    </div>
											   	<span class="d-inline-block pr-3" style="margin-left:20px">To</span>
											    <div class="col-md-5 d-inline-block p-0">
											    	<input type="date" class="form-control">
											    </div>
											    
											  </div>
											  <div class="col-md-6 p-0">
												  <div class="col-md-5 form-group d-inline-block">
												    <label for="">View categories:</label>
												    <select class="form-control">
												    	<option>Artwork</option>
												    </select>
												  </div>
												   <div class="col-md-5 form-group d-inline-block">
												    <label for="">Accession Number</label>
												    <input type="text" class="form-control">
												  </div>
											  </div>
											  
					    				</div>
					    				<div class="row">
					    					<div class="form-group col-md-6">
											    <label for="">Artist Name:</label>
											    <input type="text" class="form-control" id="" placeholder="Type here...">
											  </div>
											  <div class="form-group col-md-6">
											   	<label for="">Artist Title:</label>
											    <input type="text" class="form-control" id="" placeholder="Type here...">
											  </div>
					    				</div>
										<div class="row">
					    					<div class="form-group col-md-6">
											    <label for="">Geographic Association:</label>
											    <input type="text" class="form-control" id="" placeholder="Type here...">
											  </div>
											  <div class="form-group col-md-6">
											     <a href="#search" class="btn btn-default full-width" style="margin-top:32px; ">Search Now <i class="fa fa-chevron-right"></i></a>
											  </div>
					    				</div>
									
									</form>
							    </div> 
							</div>
						</div>
					</div>

				</div>

			</div>
			<div class="col-md-12 d-flex justify-content-center">
				<div class="col-md-8 mt-4 category text-center">
						<div class="row-fluid">
						    <div class="span12">
						        <a href="" class="inline active">View all</a> /
						        <a href="" class="inline"><img class="icons-4" src="{{imagePath}}icon-artwork.png" class="p-1" />Artwork</a> /
						        <a href="" class="inline"><img class="icons-4" src="{{imagePath}}icon-archive.png" class="p-1" />Archive</a> /
						        <a href="" class="inline"><img class="icons-4" src="{{imagePath}}icon-library.png" class="p-1" />Library</a>
						    </div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>