<div class="position-fixed" id="backtoTop">
	<a id="backtotop">
		<!-- ng-click="backtotop()" -->
	<div class="rounded-circle d-flex align-items-center text-center">
		<div class="pb-1">
			<img src="{{imagePath}}arrowTop.png" class="icons-2" />
			<span class="d-block">TOP</span>
		</div>
	</div>
	</a>
</div>

<script type="text/javascript">
	$('#backtotop').click(function(){
		$('html, body').animate({
		    scrollTop: 0
		}, 0);
		return false;
	});

</script>

