<header>
	<div class="container-fluid" id="navbar">
		<!-- <div class="row" style="height:30px">
			<div class="col-md-12 bg-dark text-light text-bold">
				
				<div class="d-flex justify-content-end p-1">

					<select class="p-1" style="border-radius:5px" ng-model="siteSwitch" ng-change="siteSwitchFunc(siteSwitch)">
						<option value="true">On Site View</option>
						<option value="false">Online View</option>
					</select>

					<md-switch aria-label="siteSwitch" ng-model="siteSwitch" ng-change="siteSwitchFunc(siteSwitch)" class="md-warn m-0" checked="siteSwitch">
				    
				  </md-switch>
				</div>
			</div>
			
		</div> -->
		<!-- <div class="container p-0"> -->
			<div class="row m-0 full-height d-flex align-items-center">
				<div class="col-md-12">
					<div class="row d-flex flex-row align-items-center nav-row pr-md-5 pl-md-5 w-100 m-0">
						<div class="text-left block-logo">
							<a class="home navbar-brand m-0" href="https://www.nationalgallery.sg/" target="_blank"><img class="align-middle" id="logo" src="{{imagePath}}logo.png" alt=""  / ></a>
						</div>
						<div class="text-bold text-center block-title" ng-cloak>
							<div ng-show="homeTop">
								<a ng-click="home()" class="nav-title text-uppercase">Search Our Collections</a>
							</div>
						</div>
						<div class="block-menu d-flex justify-content-end">
							<ul class="m-0 d-flex align-items-center">
								
								<li><a target="_blank" href="https://www.nationalgallery.sg/collections">About</a></li>
								<li><a ui-sref="termcondition">Make a Request</a></li>
								<li><a ui-sref="faq">FAQs</a></li>
								<li class="text-center magnifying">
									<div class="space">
										<div style="width:25px"></div>
										<a id="toggleOptionsBar" ng-click="toggleOptionsBar()" class="magnifying" ng-show="hasOptionBar"><img src="{{imagePath}}navSearch.png" /></a>
									</div>
									
								</li>
								<li class="text-center hamburger" ng-click="toggleNavBar()" style="outline:0;">
									<label class="theme-color m-0 full-width" for="navMobile"> 
										<img src="{{imagePath}}hamburger.png" class="icons-2" ng-cloak />
										<span class="d-block pt-1">MENU</span>
										<!-- <input type="checkbox" id="navMobile" ng-model="navMobile" hidden> -->
									</label>
									
								</li>
								
							</ul>
							<!-- <ul class="m-0">
								<li><a href="#search_m"><img src="{{imagePath}}temp_search.png" class="icons" /></a></li>
								
								<li class="text-center d-flex align-items-center">
									<a ui-sref="about" class="theme-color d-block text-bolder">ABOUT COLLECTIONS</a>
								</li>
								<li class="text-center" ng-show="hasOptionBar">
									<a id="toggleOptionsBar" ng-click="toggleOptionsBar()" class="d-block full-width full-height"><img src="{{imagePath}}navSearch.png" class="icons-3" /></a>
								</li>

							</ul> -->
						</div>
						
					</div>

				</div>
			</div>
		<!-- </div> -->
		
	</div>
</header>
<div class="mobile-navigation" ng-cloak>
	<div class="row">
		<div class="col-md-12 full-height p-1">
			<div class="d-flex justify-content-end pr-3">
				<a id="closeNav"><img src="{{imagePath}}closeFilter.png"></a>
			</div>
			<ul class="text-center nav_list">
				<li><a ng-click="home()" class="home" ng-class="location == 'home' ? 'active' : ''">HOME</a></li>
				<li><a target="_blank" href="https://www.nationalgallery.sg/collections" ng-class="location == 'about' ? 'active' : ''">ABOUT</a></li>
				<li><a ui-sref="termcondition" ng-class="location == 'personal-particular' ? 'active' : ''">MAKE A REQUEST</a></li>
				<li><a ui-sref="faq" ng-class="location == 'faq' ? 'active' : ''">FAQs</a></li>
			</ul>
		</div>
	</div>
	
</div>

<script type="text/javascript">
$(document).ready(function(){
	$('a[ui-sref]').on('click',function () {
		$('.mobile-navigation').removeClass('active');
	     // $('.mobile-navigation').css({'margin-right':'-270px'});
	     // $('span.hamburger').removeClass('close');
	     // $('#cart').removeClass('drop');
 	});
	var $hamburger = $('.hamburger');
	var $sideNav = $('.mobile-navigation');
	$(document).bind( "mouseup touchend", function(e){
	   if ((!$sideNav.is(e.target) 
	   && $sideNav.has(e.target).length === 0) && (!$hamburger.is(e.target) && $hamburger.has(e.target).length === 0))
	   {
	   	$('.mobile-navigation').removeClass('active');
	     // $('.mobile-navigation').css({'margin-right':'-270px'});
      	//  $('span.hamburger').removeClass('close');
      	//  $('#cart').removeClass('drop');
	  }
 	});

	$('#closeNav').on('click',function () {
		$('.mobile-navigation').removeClass('active');
		// $('.mobile-navigation').css({'margin-right':'-270px'});
  //        $('span.hamburger').removeClass('close');
  //        $('#cart').removeClass('drop');
	});

});
</script>