<div class="searchComponent position-relative">
  
  <div class="position-relative">
    <div class="form-group m-0 searchField">
      <div class="input-group">
        <input type="text" class="form-control basicSearch bg-white"  ng-change="autoComplete(genericSearch.Search)" ng-model="genericSearch.Search" placeholder="{{switchPlaceholder}}" ng-keydown="handleKeyDown($event)">
        <div class="input-group-append">
          <button ng-click="basicSearch()" class="btn btn-outline-secondary btn-basicSearch" type="button"><md-tooltip md-direction="top">Basic Search</md-tooltip><img class="icon-basicSearch" src="{{imagePath}}search.png" /></button>
          <button class="btn btn-outline-secondary btn-advSearch"  ng-click="open_advanceSearch()" type="button"><md-tooltip md-direction="top" >Advanced Search</md-tooltip><img class="icon-advanceSearch" src="{{imagePath}}plus_search.png" /></button>
        </div>
      </div>
    </div>
    <div class="position-absolute full-width bg-white border border-1 bs_autocomplete" ng-show="autoData.Results.length > 0">
      <ul class="m-0 autocompleteResults">
        <li ng-repeat="(key, data) in autoData.Results track by $index" ng-class="{'selected' : focusedIndex == $index}" data-item="true"><a class="p-2" ng-click="clickToBasicSearch(data)">{{data}}</a></li>
      </ul>
    </div>
  </div>
  
  <div class="position-absolute search-dropdown">
    <div class="d-flex justify-content-center">
      <div class="row p-1 m-0 position-relative dropdown-list">
        
        <div class="p-3 search-form">
          <div class="p-0 search-menu position-absolute">
          <ul>
            <li ng-class="artTabActive ? 'active' : ''"><a ng-click="searchTab('art')">ARTWORK</a></li>
            <li ng-class="arcTabActive ? 'active' : ''"><a ng-click="searchTab('arc')">ARCHIVE</a></li>
            <li ng-class="libTabActive ? 'active' : ''"><a ng-click="searchTab('lib')">LIBRARY</a></li>
          </ul>
        </div>
          <div class="m-0" ng-if="artTabActive">
            <form ng-submit="AdvSearch()" ng-model="artFormData">
              <div class="full-width advFields position-relative">
                <input type="text" placeholder="Artist" class="form-control advSearchArtist" ng-model="artFormData.Artist" ng-change="autoAdvArtistComplete(artFormData.Artist)" />
                <!--    <div class="position-absolute full-width bs_AdvOptionsList bg-white border border-1" ng-show="autoAdvArtistData.Results.length > 0">
                  <ul class="m-0">
                    <li class="p-2" ng-repeat="data in autoAdvArtistData.Results track by $index"><a ng-click="clickToAdvArtistSearch(data)">{{data}}</a></li>
                  </ul>
                </div> -->
              </div>
              <div class="full-width advFields">
                <input type="text" placeholder="Title" class="form-control" ng-model="artFormData.SourceTitle" />
              </div>
               <div class="full-width advFields">
                <input type="text" ng-model="artFormData.ProductDate" placeholder="Dating" class="form-control datePicker">
              </div>
              <div class="full-width advFields">
                <input type="text" placeholder="Medium" class="form-control" ng-model="artFormData.Medium" />
              </div>
              <div class="full-width advFields">
                <input type="text" placeholder="Creditline" class="form-control" ng-model="artFormData.Creditline" />
              </div>
              <div class="full-width advFields">
                <input type="text" placeholder="Accession Number" class="form-control" ng-model="artFormData.SourceNo" />
              </div>
              <div class="full-width advFields">
                <input type="text" placeholder="Geographic Association" class="form-control" ng-model="artFormData.Location" />
              </div>
              
              <div class="full-width advFields">
                <button type="submit" class="btn full-width theme-bgcolor text-light">Search</button>
              </div>
            </form>
            
          </div>
          <div class="m-0" ng-if="libTabActive">
            <form ng-submit="AdvSearch()" ng-model="libFormData">
              <div class="full-width advFields">
                <input type="text" placeholder="Main Title" class="form-control" ng-model="libFormData.SourceTitle" />
              </div>
              <div class="full-width advFields position-relative">
                <input type="text" placeholder="Author" class="form-control advSearchAuthor" ng-model="libFormData.Artist" ng-change="autoAdvAuthorComplete(libFormData.Artist)" />
                
                <!--  <div class="position-absolute full-width bs_AdvOptionsList bg-white border border-1" ng-show="autoAdvAuthorData.Results.length > 0">
                  <ul class="m-0">
                    <li class="p-2" ng-repeat="data in autoAdvAuthorData.Results track by $index"><a ng-click="clickToAdvAuthorSearch(data)">{{data}}</a></li>
                  </ul>
                </div> -->
              </div>
              <!--     <div class="full-width advFields">
                <input type="text" placeholder="Meeting Name" class="form-control" ng-model="libFormData.MeetingName" />
              </div> -->
              <div class="full-width advFields">
                <input type="text" placeholder="Publisher" class="form-control" ng-model="libFormData.Imprint" />
              </div>
              <div class="full-width advFields">
                <input type="text" placeholder="Series Title" class="form-control" ng-model="libFormData.SeriesTitle" />
              </div>
              <div class="full-width advFields">
                <input type="text" placeholder="ISBN" class="form-control" ng-model="libFormData.ISBN" />
              </div>
              <div class="full-width advFields">
                <input type="text" placeholder="ISSN" class="form-control" ng-model="libFormData.ISSN" />
              </div>
              <div class="full-width advFields">
                <input type="text" placeholder="Dewey Class" class="form-control" ng-model="libFormData.DeweyClass" />
              </div>
              <div class="full-width advFields">
                <input type="text" placeholder="Language" class="form-control" ng-model="libFormData.Language" />
              </div>
              <div class="full-width advFields">
                <input type="text" placeholder="Subject" class="form-control" ng-model="libFormData.Subject" />
              </div>
              <!--  <div class="full-width advFields">
                <input type="text" placeholder="Added Title" class="form-control" ng-model="libFormData.Subject" />
              </div> -->
              <div class="full-width advFields position-relative">
                <input type="text" readonly placeholder="Collection" class="form-control bg-white advSearchCollection" ng-model="libFormData.Collection" ng-click="collectionSelection()" />
                <div class="position-absolute full-width bs_AdvOptionsCollectionList bs_collectionOptionsList bg-white border border-1">
                  <ul class="m-0">
                    <li><a class="p-2" ng-click="clickToCollectionField('')">-Clear Selection -</a></li>
                    <li><a class="p-2" ng-click="clickToCollectionField('Audio Visual')">Audio Visual</a></li>
                     <li><a class="p-2" ng-click="clickToCollectionField('Books')">Books</a></li>
                     <li><a class="p-2" ng-click="clickToCollectionField('Closed Stacks')">Closed Stacks</a></li>
                     <li><a class="p-2" ng-click="clickToCollectionField('Exhibition Catalogues')">Exhibition Catalogues</a></li>
                     <li><a class="p-2" ng-click="clickToCollectionField('Journals/Serials')">Journals/Serials</a></li>
                  </ul>
                </div>
              </div>
              <div class="full-width advFields">
                <input type="text" placeholder="Country" class="form-control" ng-model="libFormData.Location" />
              </div>
              <!--    <div class="full-width advFields">
                <input type="text" ng-model="libFormData.ProductDate" placeholder="Date Published" class="form-control datePicker">
              </div> -->
              <!-- <div class="full-width advFields">
                <input type="text" placeholder="Subject" class="form-control" ng-model="libFormData.Subject" />
              </div> -->
              <div class="full-width advFields">
                <button type="submit" class="btn full-width theme-bgcolor text-light">Search</button>
              </div>
            </form>
          </div>
          <div class="m-0" ng-if="arcTabActive">
            <form ng-submit="AdvSearch()" ng-model="arcFormData">
              <div class="full-width advFields">
                <input type="text" placeholder="Title" class="form-control" ng-model="arcFormData.SourceTitle" />
              </div>
              <div class="full-width advFields">
                <input type="text" placeholder="Creator" class="form-control" ng-model="arcFormData.Artist" />
              </div>
              <div class="full-width advFields">
                <input type="text" placeholder="Subject" class="form-control" ng-model="arcFormData.Subject" />
              </div>
              <div class="full-width advFields">
                <input type="text" ng-model="arcFormData.FondsCollection" placeholder="Fonds / Collection" class="form-control FondsCollection">
              </div>
              <div class="full-width advFields">
                <input type="text" ng-model="arcFormData.ProductDate" placeholder="Date" class="form-control datePicker">
              </div>
              <div class="full-width advFields">
                <input type="text" ng-model="arcFormData.ScopeAndContent" placeholder="Scope and Content" class="form-control ScopeAndContent">
              </div>
              <div class="full-width advFields">
                <input type="text" placeholder="Reference Code" class="form-control" ng-model="arcFormData.SourceNo" />
              </div>
              <!--    <div class="full-width advFields">
                <input type="text" placeholder="Language of Materials (Rename to Language)" class="form-control" ng-model="arcFormData.Language" />
              </div> -->
              <div class="full-width advFields">
                <button type="submit" class="btn full-width theme-bgcolor text-light">Search</button>
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
</div>
<script type="text/javascript">
var $searchBar = $('.basicSearch');
var $autocompleteBar = $('.bs_autocomplete');
var $searchDropDown = $('.search-dropdown');
var btnAdvSearch = $('.btn-advSearch');
var $dropdown_list = $('.dropdown-list');
// var $advSearchArtist = $('.advSearchArtist');
// var $advSearchAuthor = $('.advSearchAuthor');
var $advSearchCollection = $('.advSearchCollection');
$(document).bind( "mouseup tap", function(e){
if (!$advSearchCollection.is(e.target)
&& $advSearchCollection.has(e.target).length === 0)
{
$('.bs_AdvOptionsList').hide();
$('.bs_AdvOptionsCollectionList').hide();
}
// if (!$advSearchAuthor.is(e.target)
// && $advSearchAuthor.has(e.target).length === 0)
// {
// $('.bs_AdvOptionsList').hide();
// }
// if (!$advSearchArtist.is(e.target)
// && $advSearchArtist.has(e.target).length === 0)
// {
// $('.bs_AdvOptionsList').hide();
// }
if (!$searchBar.is(e.target)
&& $searchBar.has(e.target).length === 0)
{
$autocompleteBar.hide();
}
if ((!$dropdown_list.is(e.target)
&& $dropdown_list.has(e.target).length === 0) && (!btnAdvSearch.is(e.target)
&& btnAdvSearch.has(e.target).length === 0))
{
$searchDropDown.removeClass("avtive");
$('.icon-advanceSearch').removeClass("active");
}
});
$('.datePicker').datepicker({
format: 'dd/mm/yyyy'
});
$searchBar.on('click', function(){
$autocompleteBar.show();
});
</script>