<div class="advance-search-3 full-height position-relative bg-white">
	<div class="container-fluid">
		<div class="row filter_header_option m-0">
			<div class="width-30 p-3 pl-3 text-left">
				<a ng-click="clearFilter()">Clear</a>
			</div>
			<div class="width-30 p-3 text-center">
				<a href="" class="text-bold text-dark">FILTERS</a>
			</div>
			<div class="width-30 p-3 pr-3 text-right">
				<a ng-click="triggerFilterBlock()">Cancel</a>
			</div>
		</div>
		<div class="row text-center filter_category_option m-0">
			<div class="width-30 p-2 border border-1">
				<label class="m-0" ng-class="artWorkFilterTab ? 'theme-color text-bold' : ''">
					ARTWORK
					<input type="checkbox" ng-model="artWorkFilterTab" ng-change="filterTab('art')" hidden />
				</label>
				
			</div>
			<div class="width-30 p-2 border border-1">
				<label class="m-0" ng-class="archiveFilterTab ? 'theme-color text-bold' : ''">
					ARCHIVE
					<input type="checkbox" ng-model="archiveFilterTab" ng-change="filterTab('arc')" hidden />
				</label>
			</div>
			<div class="width-30 p-2 border border-1">
				<label class="m-0" ng-class="libraryFilterTab ? 'theme-color text-bold' : ''">
					LIBRARY
					<input type="checkbox" ng-model="libraryFilterTab" ng-change="filterTab('lib')" hidden />
				</label>
			</div>
		</div>
	</div>
	<div class="container-fluid category_filter bg-light">
		<div class="row m-0 pt-3" id="art_filterTabs" ng-show="artWorkFilterTab">
			<div class="col-md-12">
				<div class="options-card col-md-12 mb-3 artistField">
					<div class="form-group m-0 position-relative">
						<label class="text-bold text-dark">Artist</label>
						<!-- 	<input type="text" name="artist" ng-change="autoArtistComplete(filter_artist)" ng-model="filter_artist" class="form-control artistSearch input_filter" autocomplete="off"> -->
						
						<input type="text" name="" readonly ng-model="artist_list" class="form-control input_filter" ng-click="showArtistFilterOpt('on')" placeholder="Select..." />
						
						<div class="position-absolute full-width bg-white border border-1 bs_optionsList block-filter filter-artist">
							<ul class="m-0" ng-show="dataArtworkArtists.length > 0">
								<li ng-repeat="(key,artistList) in dataArtworkArtists track by $index"  ng-class="getArtistList.indexOf(artistList.Artist) != -1 ? 'bg-light' : ''">
									<label class="m-0 p-2 full-width full-height"  ng-class="getArtistList.indexOf(artistList.Artist) != -1 ? 'theme-color text-bold' : ''">
										<!-- <input type="checkbox" name="artistSelect[]" ng-model="artist.checked" ng-change="artistFilter(artist)"hidden /> -->
										<input type="checkbox" checklist-model="getArtistList" checklist-value="artistList.Artist" ng-change="artistFilter(artistList.Artist, checked)" hidden>
										{{artistList.Artist}}
									</label></li>
								</ul>
								<div class="text-center p-2" ng-show="dataArtworkArtists.length <= 0">
									No filter option
								</div>
							</div>
							<!-- <div class="position-absolute full-width bg-white border border-1 bs_artistAutocomplete bs_optionsList" ng-show="autoArtistData.Results.length > 0">
									<ul class="m-0">
											<li ng-repeat="data in autoArtistData.Results track by $index"><a class="p-2" ng-click="clickToArtistSearch(data)">{{data}}</a></li>
									</ul>
							</div> -->
						</div>
					</div>
					<!-- <div class="options-card col-md-12 mb-3">
								<div class="position-relative">
											<label class="text-bold">Date Created</label>
											<input type="text" ng-model="artFormData.ProductDate" placeholder="Date Created" class="form-control datePicker">
								</div>
					</div> -->
					<div class="options-card col-md-12 mb-3 MediumField">
						<div class="position-relative">
							<label class="text-bold text-dark">Medium</label>
							<!-- <textarea readonly ng-model="medium_list" class="form-control textarea_filter" ng-click="showMedFilterOpt('on')" placeholder="Select..."></textarea> -->
							<input type="text" name="" readonly ng-model="medium_list" class="form-control input_filter" ng-click="showMedFilterOpt('on')" placeholder="Select..." />
							<div class="position-absolute full-width bg-white border border-1 bs_optionsList block-filter filter-medium">
								<ul class="m-0" ng-show="dataMediums.length > 0">
									<li ng-repeat="(key,mediumList) in dataMediums track by $index"  ng-class="getMediumList.indexOf(mediumList.Medium) != -1 ? 'bg-light' : ''"><label class="m-0 p-2 full-width full-height"  ng-class="getMediumList.indexOf(mediumList.Medium) != -1 ? 'theme-color text-bold' : ''">
										<!-- <input name="mediumList[]" type="checkbox" value="{{med.Medium}}" ng-model="med.checked" ng-change="medFilter(med)" hidden /> -->
										<input type="checkbox" checklist-model="getMediumList" checklist-value="mediumList.Medium" ng-change="medFilter(mediumList.Medium, checked)" hidden>
										{{mediumList.Medium}}
									</label></li>
								</ul>
								<div class="text-center p-2" ng-show="dataMediums.length <= 0">
									No filter option
								</div>
							</div>
						</div>
					</div>
					<div class="options-card col-md-12 mb-1 locationField">
						<div class="position-relative">
							<label class="text-bold text-dark">Geographic Association</label>
							<input type="text" name="" readonly ng-model="location_list" class="form-control input_filter" ng-click="showLocFilterOpt('on')" placeholder="Select..." />
							
							<div class="position-absolute full-width bg-white border border-1 bs_optionsList block-filter filter-location">
								<ul class="m-0" ng-show="dataArtworkLocations.length > 0">
									<li ng-repeat="(key,loc) in dataArtworkLocations track by $index"  ng-class="getLocList.indexOf(loc.Location) != -1 ? 'bg-light' : ''">
										<label class="m-0 p-2 full-width full-height"  ng-class="getLocList.indexOf(loc.Location) != -1 ? 'theme-color text-bold' : ''">
											<!-- <input type="checkbox" ng-model="loc.checked" ng-change="locFilter(loc)" hidden /> -->
											<input type="checkbox" checklist-model="getLocList" checklist-value="loc.Location" ng-change="locFilter(loc.Location, checked)" hidden>
											{{loc.Location}}
										</label></li>
									</ul>
									<div class="text-center p-2" ng-show="dataArtworkLocations.length <= 0">
										No filter option
									</div>
								</div>
							</div>
						</div>
						<div class="options-card col-md-12 mb-3">
							<div class="position-relative">
								<table class="table">
									<!-- <tr>
											<td><label for="displayList" class="full-width m-0"><input type="checkbox" id="displayList" ng-model="display_list">&nbsp; On-display</label></td>
									</tr> -->
									<tr>
										<td><label for="showImagesOnly" class="full-width m-0"><input type="checkbox" name="" id="showImagesOnly" ng-model="imageAvailability_list">&nbsp; Show records with images only</label>
									</td>
								</tr>
							</table>
							<!-- <input type="text" name="" readonly ng-model="display_list" class="form-control input_filter" ng-click="showDisFilterOpt('on')" placeholder="Select..."> -->
							<!-- 	<div class="position-absolute full-width bg-white border border-1 bs_optionsList block-filter filter-display">
									<ul class="m-0" ng-show="dataOnDisplays.length > 0">
											<li class="p-2" ng-repeat="(key,dis) in dataOnDisplays track by $index" ng-class="dis.checked ? 'bg-light' : ''"><label class="m-0 full-width full-height"  ng-class="dis.checked ? 'theme-color text-bold' : ''"><input type="checkbox"  ng-model="dis.checked" ng-change="disFilter(dis)" hidden />{{dis.option}}</label></li>
									</ul>
									<div class="text-center p-2" ng-show="dataOnDisplays.length <= 0">
											No filter option
									</div>
							</div> -->
						</div>
					</div>
					
					<!-- <div class="options-card col-md-12 mb-3">
							<div class="position-relative">
									<label class="text-bold text-dark">Availability</label>
									<input type="text" name="" readonly ng-model="imageAvailability_list" class="form-control input_filter" ng-click="showImageAvailabilityFilterOpt('on')" placeholder="Select...">
									<div class="position-absolute full-width bg-white border border-1 bs_optionsList block-filter filter-imageAvailability">
											<ul class="m-0" ng-show="dataImageAvailability.length > 0">
													<li class="p-2" ng-repeat="(key,access) in dataImageAvailability track by $index" ng-class="access.checked ? 'bg-light' : ''"><label class="m-0 full-width full-height"  ng-class="access.checked ? 'theme-color text-bold' : ''"><input type="checkbox"  ng-model="access.checked" ng-change="imageAvailabilityFilter(access)" hidden />{{access.item}}</label></li>
											</ul>
											<div class="text-center p-2" ng-show="dataImageAvailability.length <= 0">
													No filter option
											</div>
									</div>
							</div>
					</div> -->
				</div>
				<div class="options-card col-md-12 p-md-3">
					<div class="pr-md-3 pl-md-3">
						<button class="btn theme-bgcolor full-width text-white" ng-click="FilterFunc()">FILTER</button>
					</div>
					
				</div>
			</div>
			<div class="row m-0 pt-3" id="lib_filterTabs" ng-show="libraryFilterTab">
				<div class="col-md-12">
					<div class="options-card col-md-12 mb-3 authorField">
						<div class="form-group m-0 position-relative">
							<label class="text-bold text-dark">Author</label>
							<input type="text" name="" readonly ng-model="author_list" class="form-control input_filter" ng-click="showAuthorFilterOpt('on')" placeholder="Select..." />
							<div class="position-absolute full-width bg-white border border-1 bs_optionsList block-filter filter-author">
								<ul class="m-0" ng-show="dataLibraryAuthors.length > 0">
									<li ng-repeat="(key,author) in dataLibraryAuthors track by $index"  ng-class="getAuthorList.indexOf(author.Author) != -1 ? 'bg-light' : ''"><label class="m-0 p-2 full-width full-height"  ng-class="getAuthorList.indexOf(author.Author) != -1 ? 'theme-color text-bold' : ''">
										<!-- <input type="checkbox" ng-model="author.checked" ng-change="authorFilter(author)" hidden /> -->
										<input type="checkbox" checklist-model="getAuthorList" checklist-value="author.Author" ng-change="authorFilter(author.Author, checked)" hidden>{{author.Author}}
									</label></li>
								</ul>
								<div class="text-center p-2" ng-show="dataLibraryAuthors.length <= 0">
									No filter option
								</div>
							</div>
							<!-- <input type="text" name="artist" ng-change="autoAuthorComplete(filter_artist)" ng-model="filter_artist" class="form-control authorSearch input_filter" autocomplete="off">
							<div class="position-absolute full-width bg-white border border-1 bs_authorAutocomplete bs_optionsList" ng-show="autoAuthorData.Results.length > 0">
									<ul class="m-0">
											<li ng-repeat="data in autoAuthorData.Results track by $index"><a class="p-2"  ng-click="clickToAuthorSearch(data)">{{data}}</a></li>
									</ul>
							</div> -->
						</div>
					</div>
					<!-- <div class="options-card col-md-12 mb-3">
							<div class="form-group m-0 position-relative">
									<label class="text-bold text-dark">Meeting</label>
									<input type="text" name="libMeetingName" ng-model="filter_MeetingName" class="form-control input_filter">
							</div>
					</div> -->
					<div class="options-card col-md-12 mb-1">
						<div class="form-group m-0 position-relative">
							<label class="text-bold text-dark">Language</label>
							<input type="text" name="libLanguage" ng-model="filter_LibLanguage" class="form-control input_filter" ng-click="showLibLangFilterOpt('on')" placeholder="Select...">
							<div class="position-absolute full-width bg-white border border-1 bs_optionsList block-filter filter-libLang">
								<ul class="m-0" ng-show="dataLibraryLanguages.length > 0">
									<li ng-repeat="(key,lang) in dataLibraryLanguages track by $index" ng-class="getLibLangList.indexOf(lang.Language) != -1 ? 'bg-light' : ''"><label class="m-0 p-2 full-width full-height"  ng-class="getLibLangList.indexOf(lang.Language) != -1 ? 'theme-color text-bold' : ''">
										<!-- <input type="checkbox"  ng-model="lang.checked" ng-change="libLangFilter(lang)" hidden /> -->
										<input type="checkbox" checklist-model="getLibLangList" checklist-value="lang.Language" ng-change="libLangFilter(lang.Language, checked)" hidden>
										{{lang.Language}}
									</label></li>
								</ul>
								<div class="text-center p-2" ng-show="dataLibraryLanguages.length <= 0">
									No filter option
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="options-card col-md-12 mb-1">
						<div class="position-relative">
							<table class="table">
								<tr>
									<td><label for="showLibANDLanguage" class="full-width m-0"><input type="checkbox" name="" id="showLibANDLanguage" ng-model="showANDlanguage_list">&nbsp; Include records that must contain all selected language</label>
								</td>
							</tr>
						</table>
					</div>
				</div> -->
				<div class="options-card col-md-12 mb-3">
					<div class="form-group m-0">
						<label class="text-bold text-dark">Subject</label>
						<input type="text" name="libSubject" ng-model="filter_Subject" class="form-control input_filter">
					</div>
				</div>
				<div class="options-card col-md-12 mb-3">
					<div class="position-relative">
						<label class="text-bold text-dark">Collections</label>
						<input type="text" readonly ng-model="collections_list" class="form-control input_filter" ng-click="showColFilterOpt('on')" placeholder="Select...">
						
						<div class="position-absolute full-width bg-white border border-1 bs_optionsList block-filter filter-collections">
							<ul class="m-0" ng-show="dataCollections.length > 0">
								<li ng-repeat="(key,col) in dataCollections track by $index"  ng-class="getColList.indexOf(col.Collection) != -1 ? 'bg-light' : ''"><label class="m-0 p-2 full-width full-height"  ng-class="getColList.indexOf(col.Collection) != -1 ? 'theme-color text-bold' : ''">
									<!-- <input type="checkbox" ng-model="col.checked" ng-change="colFilter(col)" hidden /> -->
									<input type="checkbox" checklist-model="getColList" checklist-value="col.Collection" ng-change="colFilter(col.Collection, checked)" hidden>
									{{col.Collection}}
								</label></li>
							</ul>
							<div class="text-center p-2" ng-show="dataCollections.length <= 0">
								No filter option
							</div>
						</div>
					</div>
				</div>
				<div class="options-card col-md-12 mb-3">
					<div class="position-relative">
						<label class="text-bold text-dark">Item availability</label>
						<input type="text" name="" readonly ng-model="itemAvailability_list" class="form-control input_filter" ng-click="showItemAvailabilityFilterOpt('on')" placeholder="Select...">
						<div class="position-absolute full-width bg-white border border-1 bs_optionsList block-filter filter-itemAvailability">
							<ul class="m-0" ng-show="dataLibraryAvailability.length > 0">
								<li ng-repeat="(key,access) in dataLibraryAvailability track by $index" ng-class="getItemAvailabilityList.indexOf(access.ItemAvailability) != -1 ? 'bg-light' : ''"><label class="m-0 p-2 full-width full-height"  ng-class="getItemAvailabilityList.indexOf(access.ItemAvailability) != -1 ? 'theme-color text-bold' : ''">
									<!-- <input type="checkbox"  ng-model="access.checked" ng-change="itemAvailabilityFilter(access)" hidden /> -->
									<input type="checkbox" checklist-model="getItemAvailabilityList" checklist-value="access.ItemAvailability" ng-change="itemAvailabilityFilter(access.ItemAvailability, checked)" hidden>
									{{access.ItemAvailability}}
								</label></li>
							</ul>
							<div class="text-center p-2" ng-show="dataLibraryAvailability.length <= 0">
								No filter option
							</div>
						</div>
					</div>
				</div>
				
				<div class="options-card col-md-12 mb-3">
					<div class="position-relative">
						<label class="text-bold text-dark">Country</label>
						<input type="text" readonly ng-model="country_list" class="form-control input_filter" ng-click="showCountryFilterOpt('on')" placeholder="Select...">
						<div class="position-absolute full-width bg-white border border-1 bs_optionsList block-filter filter-country">
							<ul class="m-0" ng-show="dataLibraryLocations.length > 0">
								<li ng-repeat="(key,ctry) in dataLibraryLocations track by $index"  ng-class="getCountryList.indexOf(ctry.Location) != -1 ? 'bg-light' : ''"><label class="m-0 p-2 full-width full-height"  ng-class="getCountryList.indexOf(ctry.Location) != -1 ? 'theme-color text-bold' : ''">
									<!-- <input type="checkbox" ng-model="ctry.checked" ng-change="countryFilter(ctry)" hidden /> -->
									<input type="checkbox" checklist-model="getCountryList" checklist-value="ctry.Location" ng-change="countryFilter(ctry.Location, checked)" hidden>
									{{ctry.Location}}
								</label></li>
							</ul>
							<div class="text-center p-2" ng-show="dataLibraryLocations.length <= 0">
								No filter option
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<div class="options-card col-md-12 p-md-3">
				<div class="pr-md-3 pl-md-3">
					<button class="btn theme-bgcolor full-width text-white" ng-click="FilterFunc()" ng-disabled="disabledLibFilter">FILTER</button>
				</div>
				
			</div>
		</div>
		<div class="row m-0 pt-3" id="arc_filterTabs" ng-show="archiveFilterTab">
			<div class="col-md-12">
				<!-- 				<div class="options-card col-md-12 mb-3 artistField">
					<div class="form-group m-0 position-relative">
						<label class="text-bold text-dark">Creator</label>
						<input type="text" name="artist" ng-change="autoArtistComplete(filter_artist)" ng-model="filter_artist" class="form-control artistSearch input_filter">
						<div class="position-absolute full-width bg-white border border-1 bs_artistAutocomplete" ng-show="autoArtistData.Results.length > 0">
									<ul class="m-0">
												<li class="p-2" ng-repeat="data in autoArtistData.Results"><a ng-click="clickToArtistSearch(data)">{{data}}</a></li>
									</ul>
						</div>
					</div>
				</div> -->
				<div class="options-card col-md-12 mb-1">
					<div class="form-group m-0 position-relative">
						<label class="text-bold text-dark">Language</label>
						<input type="text" name="LanguageOfMaterials" readonly ng-model="filter_arcLanguage" class="form-control input_filter" ng-click="showArcLangFilterOpt('on')" placeholder="Select...">
						<div class="position-absolute full-width bg-white border border-1 bs_optionsList block-filter filter-arcLang">
							<ul class="m-0" ng-show="dataArchiveLanguages.length > 0">
								<li ng-repeat="(key,lang) in dataArchiveLanguages track by $index" ng-class="getArcLangList.indexOf(lang.Language) != -1 ? 'bg-light' : ''"><label class="m-0 p-2 full-width full-height"  ng-class="getArcLangList.indexOf(lang.Language) != -1 ? 'theme-color text-bold' : ''">
									<!-- <input type="checkbox"  ng-model="lang.checked" ng-change="arcLangFilter(lang)" hidden /> -->
									<input type="checkbox" checklist-model="getArcLangList" checklist-value="lang.Language" ng-change="arcLangFilter(lang.Language, checked)" hidden>
									{{lang.Language}}
								</label></li>
							</ul>
							<div class="text-center p-2" ng-show="dataArchiveLanguages.length <= 0">
								No filter option
							</div>
						</div>
					</div>
				</div>
				<div class="options-card col-md-12 mb-1">
						<div class="position-relative">
							<table class="table">
								<tr>
									<td><label for="showArcANDLanguage" class="full-width m-0"><input type="checkbox" name="" id="showArcANDLanguage" ng-model="showANDlanguage_list">&nbsp; Include records that must contain all selected language</label>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="options-card col-md-12 mb-3">
					<div class="position-relative">
						<label class="text-bold text-dark">General material type</label>
						<input type="text" name="LanguageOfMaterials" readonly ng-model="material_list" class="form-control input_filter" ng-click="showMaterialFilterOpt('on')" placeholder="Select...">
						
						<div class="position-absolute full-width bg-white border border-1 bs_optionsList block-filter filter-material">
							<ul class="m-0" ng-show="dataMaterialTypes.length > 0">
								<li ng-repeat="(key, mat) in dataMaterialTypes track by $index" ng-class="getMaterialList.indexOf(mat.MaterialType) != -1 ? 'bg-light' : ''"><label class="m-0 p-2 full-width full-height"  ng-class="getMaterialList.indexOf(mat.MaterialType) != -1 ? 'theme-color text-bold' : ''">
									<!-- <input type="checkbox"  ng-model="mat.checked" ng-change="matFilter(mat)" hidden /> -->
									<input type="checkbox" checklist-model="getMaterialList" checklist-value="mat.MaterialType" ng-change="matFilter(mat.MaterialType, checked)" hidden>
									{{mat.MaterialType}}
								</label></li>
							</ul>
							<div class="text-center p-2" ng-show="dataMaterialTypes.length <= 0">
								No filter option
							</div>
						</div>
					</div>
				</div>
				<div class="options-card col-md-12 mb-3">
					<div class="position-relative">
						<label class="text-bold text-dark">Storage locations</label>
						<input type="text" name="LanguageOfMaterials" readonly ng-model="store_list" class="form-control input_filter" ng-click="showStoreFilterOpt('on')" placeholder="Select...">
						<div class="position-absolute full-width bg-white border border-1 bs_optionsList block-filter filter-store">
							<ul class="m-0" ng-show="dataStorageLocations.length > 0">
								<li ng-repeat="(key,storeLoc) in dataStorageLocations track by $index" ng-class="getStoreLocList.indexOf(storeLoc.StorageLocation) != -1 ? 'bg-light' : ''"><label class="m-0 p-2 full-width full-height"  ng-class="getStoreLocList.indexOf(storeLoc.StorageLocation) != -1 ? 'theme-color text-bold' : ''">
									<!-- <input type="checkbox"  ng-model="storeLoc.checked" ng-change="storeLocFilter(storeLoc)" hidden /> -->
									<input type="checkbox" checklist-model="getStoreLocList" checklist-value="storeLoc.StorageLocation" ng-change="storeLocFilter(storeLoc.StorageLocation, checked)" hidden>{{storeLoc.StorageLocation}}
								</label></li>
							</ul>
							<div class="text-center p-2" ng-show="dataStorageLocations.length <= 0">
								No filter option
							</div>
						</div>
					</div>
				</div>
				<div class="options-card col-md-12 mb-3">
					<div class="position-relative">
						<label class="text-bold text-dark">Access restrictions code</label>
						<input type="text" name="" readonly ng-model="access_list" class="form-control input_filter" ng-click="showAccessFilterOpt('on')" placeholder="Select...">
						<div class="position-absolute full-width bg-white border border-1 bs_optionsList block-filter filter-access">
							<ul class="m-0" ng-show="dataAccessLevels.length > 0">
								<li ng-repeat="(key,access) in dataAccessLevels track by $index" ng-class="getAccessList.indexOf(access.AccessLevel) != -1 ? 'bg-light' : ''"><label class="m-0 full-width full-height p-2"  ng-class="getAccessList.indexOf(access.AccessLevel) != -1 ? 'theme-color text-bold' : ''">
									<!-- <input type="checkbox"  ng-model="access.checked" ng-change="accessFilter(access)" hidden /> -->
									<input type="checkbox" checklist-model="getAccessList" checklist-value="access.AccessLevel" ng-change="accessFilter(access.AccessLevel, checked)" hidden>
									{{access.AccessLevel}}
								</label></li>
							</ul>
							<div class="text-center p-2" ng-show="dataAccessLevels.length <= 0">
								No filter option
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="options-card col-md-12 p-md-3">
				<div class="pr-md-3 pl-md-3">
					<button class="btn theme-bgcolor full-width text-white" ng-click="FilterFunc()">FILTER</button>
				</div>
				
			</div>
		</div>
		
	</div>
</div>
<script type="text/javascript">
var $artistSearchBar = $('.artistSearch');
var $authorSearchBar = $('.authorSearch');
var $artistAutocompleteBar = $('.bs_artistAutocomplete');
var $authorAutocomplete = $('.bs_authorAutocomplete');
var $blockFilter = $('.block-filter');
var $textareaField = $('textarea.textarea_filter');
var $inputField = $('input.input_filter');
$(document).bind( "mouseup touchend", function(e){
	if (!$artistSearchBar.is(e.target)
	&& $artistSearchBar.has(e.target).length === 0)
	{
		$artistAutocompleteBar.hide();
	}
	if (!$authorSearchBar.is(e.target)
	&& $authorSearchBar.has(e.target).length === 0)
	{
		$authorAutocomplete.hide();
	}
	if (((!$blockFilter.is(e.target)
	&& $blockFilter.has(e.target).length === 0) && (!$textareaField.is(e.target)
	&& $textareaField.has(e.target).length === 0)) && (!$inputField.is(e.target)
	&& $inputField.has(e.target).length === 0))
	{
		$blockFilter.css({
		'display': 'none'
		});
		
	}
});
$artistSearchBar.on('click', function(){
	$artistAutocompleteBar.show();
});
</script>