<md-dialog aria-label="emailRequest">
  <form ng-cloak>
    <md-toolbar class="">
      <div class="md-toolbar-tools">
        <h2><img src="{{imagePath}}bookmark.png" class="icons-3" />&nbsp;<span class="d-inline-block align-middle mt-1">Send List via Email</span></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()" aria-label="Close dialog">
          <i><img ng-src="{{imagePath}}close.png" class="icons-3" /></i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content class="p-5">

      <div id="emailRequestForm">
          <label for="requestorEmail">
          Email :
          <input id="requestorEmail" type="email" class="form-control" />
        </label>
        <button class="btn btn-secondary" ng-click="sendRequest()">Send</button>
      </div>

    <div class="requestSuccess">
      <div class="svg-container d-flex justify-content-center">
          <svg class="ft-green-tick" xmlns="http://www.w3.org/2000/svg" height="100" width="100" viewBox="0 0 48 48" aria-hidden="true">
              <circle class="circle" fill="#5bb543" cx="24" cy="24" r="22"/>
              <path class="tick" fill="none" stroke="#FFF" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M14 27l5.917 4.917L34 17"/>
          </svg>
        </div>
        <div class="text-center">
          <h4>Email Sent!</h4> 
        </div>
    </div>
      
    </md-dialog-content>

  </form>
</md-dialog>
