<md-dialog aria-label="ItemImage">
  <form ng-cloak>
    <md-toolbar class="bg-dark text-light">
      <div class="md-toolbar-tools">
        <h2 ng-bind-html="dialogTitle"></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()" aria-label="Close dialog">
          <i><img ng-src="{{imagePath}}close.png" class="icons-3" /></i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content class="position-relative" style="overflow:hidden">
      <div class="md-dialog-content" id="panzoom">
        <div class="panzoom d-flex justify-content-center" style="height:550px">
         <img class="zoomedImg image-responsive-height" ng-src="{{imagePath}}asset/{{imageCategoryCode == 'ART' ? 'Artwork' : imageCategoryCode == 'LIB' ? 'Library' : imageCategoryCode == 'ARC' ? 'Archives' : ''}}/{{dialogImage}}" />
        </div>
      </div>
      <div class="position-absolute" style="right:15px;bottom:10px">
        <ul>
          <li class="pb-3"><a id="reset"><img ng-src="{{imagePath}}reset.png" class="icons-3" /></a></li>
          <li class="pb-3"><a id="zoomIn"><img ng-src="{{imagePath}}zoomIn.png" class="icons-3" /></a></li>
          <li class="pb-3"><a id="zoomOut"><img ng-src="{{imagePath}}zoomout.png" class="icons-3" /></a></li>
        </ul>
          
      </div>
    </md-dialog-content>

  </form>
</md-dialog>

<script type="text/javascript">
 (function() {
var $panzoom = $("#panzoom");
 $panzoom.panzoom({
      disablePan: false,
      disableZoom: false,
      animate: false,
      silent: true,
      increment: 0.25,
      minScale: 0.25,
      maxScale: 2,
      duration: 500,
      $zoomIn: $('#zoomIn'),
      $zoomOut: $('#zoomOut'),
      $reset: $('#reset')
    });

 })();

</script>