<md-dialog aria-label="ItemImage" id="pdfView">
<form ng-cloak>
  <md-toolbar class="bg-dark text-light">
  <div class="md-toolbar-tools">
    <h2>Source Viewer</h2>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="cancel()" aria-label="Close dialog">
    <i><img ng-src="{{imagePath}}close.png" class="icons-3" /></i>
    </md-button>
  </div>
  </md-toolbar>
  <md-dialog-content>
  <div ng-show="fileFormat == '.jpg' || fileFormat == '.png'">
    <img ng-src="{{imagePath}}asset/{{imageCategoryCode == 'ART' ? 'Artwork' : imageCategoryCode == 'LIB' ? 'Library' : imageCategoryCode == 'ARC' ? 'Archives' : ''}}/{{filePath}}" />
  </div>
  <div class="iframe-container" ng-show="fileFormat == '.pdf'">
    <object data="{{pdfLink}}" type="application/pdf" class="full-width position-absolute pt-5">
    <p class="p-3">Your browser does not support PDFs.</p>
    </object>
  </div>
  <div ng-show="fileFormat == '.mp4' || fileFormat == '.avi' || fileFormat == '.wmv' || fileFormat == '.mov'">
    <video autoplay muted loop id="myVideo" style="width:100%;height:600px">
      <source src="{{imagePath}}" >
      Your browser does not support HTML5 video.
    </video>
  </div>
  </md-dialog-content>
</form>
</md-dialog>