<section id="aboutPage" class="pb-5">
<!-- 	<div class="container-fluid">
		
		<div class="row bg-light m-0">
			<div class="col-md-12 p-0 d-flex justify-content-center">
				<img src="{{imagePath}}NGS_overview.jpg" style="height:600px; width:auto" />
			</div>
		</div>
		
	</div> -->
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-12 pl-md-0 pr-md-0 pb-2 pt-3">
					<small><a ng-click="back()" class="text-dark"><img src="{{imagePath}}arrow-left-black.png" class="icons-1 align-top" /><span class="d-inline-block text-bold">BACK</span></a> &nbsp; | &nbsp; <a class="text-dark text-uppercase" ui-sref="search">About</a></small>
				</div>
			</div>
		</div>

		
	</div>
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-bolder text-center pt-5 pb-3" style="font-size:7vh">About Collections</h1>
					<p class="text-center">
						This page will be redirected to the NGS 'About Collections'
					</p>
					
				</div>
			</div>
		</div>
	</div>
</section>
