<section id="artworkDetailsPage" class="bg-light">
	<!-- 	<div class="container-fluid isolate-bg pt-3 pb-3">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<img class="icons-4" src="{{imagePath}}icon-artwork.png" />&nbsp; <span class="theme-color text-bold"><i class="fa fa-chevron-left"></i> &nbsp; Artwork</span>
						<h1 class="text-bold mt-3">White Orchids (Phalenopsis)</h1>
					</div>
								
				</div>
			</div>
	</div> -->
	<div class="position-fixed" id="toastBox">
		<div class="toastBox text-light">
			<div class="full-width full-height d-flex justify-content-center align-items-center">
				<img src="{{imagePath}}request.png" class="pr-3 align-middle" /> <p class="d-inline-bloc m-0">Item Added</p>
				<!-- <b>{{item.SourceTitle}}</b> -->
			</div>
			
		</div>
	</div>
	<div class="container-fluid">
		<div class="container">
			<div class="row pt-3 pb-2">
				<div class="col-md-6 d-flex align-items-center justify-content-start breadcrum text-uppercase">
					<small><a ng-click="back()"><img src="{{imagePath}}arrow-left-black.png" class="icons-1 align-middle" /><span class="d-inline-block pt-3 text-bold">BACK</span></a> &nbsp; | &nbsp;<a class="text-dark" ui-sref="{{from.toLowerCase()}}">{{from}}</a> > <a class="text-dark" href=""><span>{{ item.CategoryCode == 'ART' ? 'Artwork' : item.CategoryCode == 'LIB' ? 'Library' : item.CategoryCode == 'ARC' ? 'Archives' : '' }}</span></a> </small>
				</div>
			<!-- 	<div class="col-md-6 text-bold share-block">
					<div class="addthis_inline_share_toolbox"></div>
				</div> -->
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-12 pb-3">
					<search-component></search-component>
				</div>
				
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="d-flex justify-content-center align-items-center">
						<div class="position-relative" >
							<img ng-if="item.ImagePath" class="image-responsive" ng-src="{{imagePath}}asset/{{item.CategoryCode == 'ART' ? 'Artwork' : item.CategoryCode == 'LIB' ? 'Library' : item.CategoryCode == 'ARC' ? 'Archives' : ''}}/{{item.ImagePath}}" style="max-width:500px" alt="{{item.SourceTitle}}" />
							<div class="position-absolute p-2 text-right" style="bottom:0;right:0">
								<a ng-click="showAdvanced($event)"><img src="{{imagePath}}manify.png" /></a>
							</div>
						</div>
					</div>
					<div class="col-md-12 text-center mt-3 mb-3 p-0">
						<h5><i>{{item.SourceTitle}}</i></h5>
						<span>{{item.Artist}}</span><br />
						<span>{{item.ProductDate}}</span>
					</div>
				</div>
			<!-- 	<div class="col-md-4 p-2">
					<a download class="text-light btn btn-secondary full-width mt-2 text-uppercase  text-bold" href="{{imagePath}}asset/{{item.CategoryCode == 'ART' ? 'Artwork' : item.CategoryCode == 'LIB' ? 'Library' : item.CategoryCode == 'ARC' ? 'Archives' : ''}}/{{item.FilePath}}">View <img class="ml-2" style="width:35px" ng-src="{{imagePath}}{{item.FileFormat == '.jpg' ? 'jpg' : item.FileFormat == '.mp3' ? 'mp3' : 'pdf' }}.png" ></a>
				</div> -->
				<div class="offset-md-2 col-md-8 mt-3">
					<div class="p-3 bg-white">
						<div class="detailsTable">
							<table class="table table-details">
								<tr ng-if="item.Artist">
									<th>Artist</th>
									<td>
										<div class="d-block">
											<a ui-sref="search({det:'isDet', SearchType:'a',Artist: item.Artist,CategoryCode:item.CategoryCode})" target="_blank"><u>{{item.Artist}}</u></a>
										</div>
									</td>
								</tr>
								<tr ng-if="item.ArtistDateOfBirth">
									<th>Date of Birth</th>
									<td>{{item.ArtistDateOfBirth}}</td>
								</tr>
								<tr ng-if="item.ArtistDateOfDeath">
									<th>Date of Death</th>
									<td>{{item.ArtistDateOfDeath}}</td>
								</tr>
								<tr ng-if="item.SourceTitle">
									<th>Title</th>
									<td><i>{{item.SourceTitle}}</i></td>
								</tr>
								<tr ng-if="item.ProductDate">
									<th>Date</th>
									<td>{{item.ProductDate}}</td>
								</tr>
								<tr ng-if="item.Medium">
									<th>Medium</th>
									<td>{{item.Medium}}</td>
								</tr>
								<tr ng-if="item.Dimensions.length > 0"> 
									<th>Dimensions</th>
									<td>
										<div class="d-block" ng-repeat="dim in item.Dimensions track by $index">
											{{dim}}
										</div>
									</td>
								</tr>
								<tr ng-if="item.Creditline">
									<th>Creditline</th>
									<td>{{item.Creditline}}</td>
								</tr>
								<tr ng-if="item.PhotoCredit">
									<th>Photo Credit</th>
									<td>{{item.PhotoCredit}}</td>
								</tr>		
								<tr ng-if="item.AccessionNo">
									<th>Accession Number</th>
									<td>{{item.AccessionNo}}</td>
								</tr>
								<tr ng-if="item.Location">
									<th>Geographic Association</th>
									<td>{{item.Location}}</td>
								</tr>
								<tr ng-if="item.Description">
									<th>Description</th>
									<td>{{item.Description}}</td>
								</tr>
								<tr ng-if="item.OnDisplay">
									<th>On Display</th>
									<td>{{item.OnDisplay}}</td>
								</tr>
		
							</table>
						</div>
						<!-- <h4 class="text-bold mt-1 mb-3 ml-1">{}</h4> -->
						
						<!-- <div class="text-center pt-3">
							<a ng-click="expandDetails()" class="theme-color" ng-if="item.FilePath">View {{showText}}</a>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid full-height" ng-cloak>
		<hr>
		<div ng-if="loading" class="text-center"><img src="{{imagePath}}loading.gif" class="icons-4" /></div>
		<div class="container" ng-show="!loading && relatedItems.length > 0">
			<h4 class="text-bold text-uppercase">Related Items</h4>
			<div class="related-work" id="relatedWorkArt-slide">
				<div class="related-item" ng-repeat="ritem in relatedItems track by $index" ng-show="ritem.ProductId != item.ProductId">
					<a class="text-dark" ng-click="goToPage('artwork_details','Related Item', ritem.ProductId)"><div class="row m-1 p-2 border border-light-gray">
						<div class="item-img pl-2 pr-1 d-flex align-items-center" style="width:25%">
							<img ng-if="ritem.ImagePath" ng-src="{{imagePath}}asset/{{ritem.CategoryCode == 'ART' ? 'Artwork' : ritem.CategoryCode == 'LIB' ? 'Library' : ritem.CategoryCode == 'ARC' ? 'Archives' : ''}}/{{ritem.ImagePath}}"/>
							<img ng-if="!ritem.ImagePath" class="image-responsive" src="{{imagePath}}noimg.png" />
						</div>
						<div class="pl-1 pr-1 d-flex align-items-center" style="width:75%">
							<div class="full-width">
								<table>
									<tr>
										<!-- <th class="text-bold pr-3">ARTIST</th> -->
										<td style="font-size:14px" ng-bind-html="ritem.Artist"></td>
									</tr>
									<tr>
										<!-- <th class="text-bold pr-3">TITLE</th> -->
										<td style="font-size:18px"><i>{{ritem.SourceTitle | cut:true:40:' ...'}}</i></td>
									</tr>
									
								</table>
							</div>
							
						</div>
						<!-- <div class="width-10  d-flex justify-content-end align-items-center">
							<img class="icons-3" src="{{imagePath}}artwork.png" />
							<a href="" class="mb-1"><img src="{{imagePath}}cart.png" /></a>
							<a href=""><img src="{{imagePath}}icon-art-work.png" /></a>
						</div> -->
					</div></a>
				</div>
				
			</div>
		</div>
		
	</div>
</section>
<script type="text/javascript">

$(document).click(function (e) {

var $searchBar = $('.basicSearch');
var $autocompleteBar = $('.bs_autocomplete');
var $searchDropDown = $('.search-dropdown');
var btnAdvSearch = $('.btn-advSearch');

	if (!$searchBar.is(e.target)
	&& $searchBar.has(e.target).length === 0)
	{

	$autocompleteBar.hide();
	}

	if ((!$searchDropDown.is(e.target)
	&& $searchDropDown.has(e.target).length === 0) && (!btnAdvSearch.is(e.target)
	&& btnAdvSearch.has(e.target).length === 0))
	{
	$searchDropDown.removeClass("avtive");
	$('.icon-advanceSearch').removeClass("active");
	}


	$searchBar.on('click', function(){
		$autocompleteBar.show();
	});

});
</script>