<section id="cartPage">
	<!-- <div advance-search class="isolate-bg pt-3 pb-3"></div>
	<div class="container-fluid">
		<div class="searchResult pt-1 pb-1">
			<div class="container">
				<div class="row p-3">
					<div class="title col-md-12 text-center">
						<h1 class="theme-color">
							My Cart
						</h1>
					</div>
					<div class="col-md-12 stepper mt-3">
						<ul class="progressbar">
							 <li class="active">Cart</li>
							 <li>Info</li>
							 <li>Complete</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-12 d-flex align-items-center pt-3 pb-3">
					<div class="width-80">
						<h3 class="text-bold">MY LIST</h3>
					</div>
					<div class="width-20 d-flex justify-content-end">
						<a class="btn btn-secondary text-light mr-2" ng-click="bookmark($event)"><img src="{{imagePath}}bookmark.png" class="icons-3" /> Send List via Email </a>

						<a class="btn text-light" style="background-color:#124F4F" ui-sref="personal-particular">Make Request</a>
						
						
					</div>
					
				</div>
				<div class="col-md-12">
					<hr />
				</div>
				<div class="col-md-12">
					<div class="row p-1 align-middle">
						<div class="col-md-9">
							<label class="m-0" for="check_all">
							<input type="checkbox" id="check_all" />
							<span>Select All - {{requestLength}} Item(s)</span> 
							</label>
						</div>
						<div class="col-md-3 text-right">
							<a href="" class="text-dark"><img  class="" src="{{imagePath}}delete.png" /> &nbsp; <span class="d-inline-block align-middle">DELETE</span></a>
						</div>
					</div>
					<div ng-if="requestLength <= 0" class="text-center pt-5">
						Your list is empty.
					</div>
					<div class="col-md-12 cart-items" ng-repeat="item in myRequest" ng-if="requestLength > 0">
						<div class="row p-3 mt-2 d-flex align-items-center isolate-bg rounded">
							<div class="col-md-1">
								<input type="checkbox" class="align-middle" />
							</div>
							<div class="col-md-3">
								<img ng-if="item.imagePath" ng-src="{{imagePath}}asset/{{item.category == 'ART' ? 'Artwork' : item.category == 'LIB' ? 'Library' : item.category == 'ARC' ? 'Archives' : ''}}/{{item.imagePath}}" class="image-responsive cart-img" /><img ng-if="!item.imagePath" src="{{imagePath}}noimg.png" class="image-responsive cart-img" />

								
							</div>
							<div class="col-md-6">
								<h5>{{item.sourceTitle}}</h5> 
								{{item.artist}}
								<hr>
								<a class="text-bold theme-color" ng-if="item.category != 'ART'" ui-sref="details({productId : item.productID})">View Details</a>

				  				<a class="text-bold theme-color" ng-if="item.category == 'ART'" ui-sref="artwork_details({productId: item.productID})">View Details</a>
								
							</div>
							<div class="col-md-2 text-right">
								<!-- <a href="" class="d-block mb-2"><img src="{{imagePath}}pdf.png" /></a> -->
								<a ng-click="removeItem(item.productID)"><img style="max-height:100%;" src="{{imagePath}}delete_dark.png" /></a>
							</div>
						</div>
					
					</div>

				</div>
			</div>
		</div>

<!-- 				<div class="row mt-3 mb-5">
					<div class="col-md-12">
						<div class="row p-1 pl-2 bg-dark text-light rounded">
							<div class="col-md-12">
								View On Site Only 
							</div>

						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="row p-3 mt-2 d-flex align-items-center isolate-bg rounded">
									<div class="col-md-1">
										<input type="checkbox" class="align-middle" />
									</div>
									<div class="col-md-3 d-flex justify-content-center">
										<img src="{{imagePath}}no-image.png" style="width:50px; height:auto" class="image-responsive" />
									</div>
									<div class="col-md-6">
										<h5>White Orchids (Phalenopsis)</h5> 
										Georgette Chen, 1965 - 1968
										<hr>
										<a href="#details" class="text-bold theme-color">View Details</a>
									</div>
									<div class="col-md-2 text-right">
										<a href="" class="d-block mb-2"><img src="{{imagePath}}pdf.png" /></a>
										<a href=""><img src="{{imagePath}}delete_dark.png" /></a>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div> -->
			

			<!-- <div class="col-md-3 bg-F4 p-3 pt-5 min-full-height d-flex justify-content-center">
				<div>
					<h3 class="text-bold">My Request Checkout</h3> 
					<div class="break-line"></div>
					<div class="col-md-12 stepper mt-3">
						<ul class="progressbar">
							 <li class="active"><img src="{{imagePath}}cart-active.png" class="icons-4" />Cart</li>
							 <li><img src="{{imagePath}}cart-deactive.png" class="icons-4" /> Info</li>
							 <li><img src="{{imagePath}}cart-deactive.png" class="icons-4" /> Complete</li>
						</ul>
					</div>
					<div class="card">
					<div class="card-header">
						<div class="row p-0">
							<div class="col-md-6">
								<h5 class="m-0">Summary</h5>
							</div>
							<div class="col-md-6 text-right">
								<small>Subtotal ({{requestLength}} items)</small>
							</div>
						</div>
					</div>
					<div class="card-body">
						Please note that all items requested are subject to the approval of National Gallery Singapore. Upon approval, an email confirmation will be sent to you.

						<a class="btn btn-success full-width mt-3" ui-sref="personal-particular">Next <i class="fa fa-chevron-right align-middle"></i></a>
					</div>
				</div>
				</div>
				

			</div>
 -->
	<!-- 		<div class="col-md-4 p-xs-0">
				<div class="card">
					<div class="card-header">
						<div class="row p-0">
							<div class="col-md-6">
								<h5 class="m-0">Summary</h5>
							</div>
							<div class="col-md-6 text-right">
								<small>Subtotal (x items)</small>
							</div>
						</div>
					</div>
					<div class="card-body">
						Please note that all items requested are subject to the approval of National Gallery Singapore. Upon approval, an email confirmation will be sent to you.

						<a class="btn btn-success full-width mt-3" href="#personal-particular">Next <i class="fa fa-chevron-right align-middle"></i></a>
					</div>
				</div>
			</div> -->
		
	</div>

</section>