<section id="DetailsPage" class="bg-light pb-3"> <!--  ng-controller="detailsCtrl as controller" -->
	<!-- 	<div class="container-fluid  isolate-bg pt-3 pb-3">
			<div class="container">
					<div class="row">
							<div class="col-md-12 text-center">
									<img class="icons-4" src="{{imagePath}}icon-artwork.png" />&nbsp; <span class="theme-color text-bold"><i class="fa fa-chevron-left"></i> &nbsp; Artwork</span>
									<h1 class="text-bold mt-3">{{item.SourceTitle}}</h1>
							</div>
											
					</div>
			</div>
	</div> -->
	<div class="position-fixed" id="toastBox">
		<div class="toastBox text-light">
			<div class="full-width full-height d-flex justify-content-center align-items-center">
				<img src="{{imagePath}}request.png" class="pr-3 align-middle" /> <p class="d-inline-bloc m-0">Item Added</p>
				<!-- <b>{{item.SourceTitle}}</b> -->
			</div>
			
		</div>
	</div>
	<div class="container-fluid">
		<div class="container">
			<div class="row pt-3 pb-2">
				<div class="col-md-6 d-flex align-items-center justify-content-start breadcrum text-uppercase">
					<small><a ng-click="back()"><img src="{{imagePath}}arrow-left-black.png" class="icons-1 align-middle" /><span class="d-inline-block pt-3 text-bold">BACK</span></a> &nbsp; | &nbsp;<a class="text-dark" ui-sref="{{from.toLowerCase()}}">{{from}}</a> > <a class="text-dark" href=""><span>{{ item.CategoryCode == 'ART' ? 'Artwork' : item.CategoryCode == 'LIB' ? 'Library' : item.CategoryCode == 'ARC' ? 'Archives' : '' }}</span></a> </small>
				</div>
				<!-- <div class="col-md-6 text-bold share-block">
					<div class="addthis_inline_share_toolbox"></div>
				</div> -->
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<search-component></search-component>
					
				</div>
			</div>
		<!-- 	<div class="row">
				<div class="col-md-12" ng-show="item.ProductId == 15119">
					<button data-toggle="modal" data-target="#pdfViewer" ng-click="openFile('DOCX/Sample+DOCX+File.docx');" class="btn btn-outline-primary">Sample+DOCX+File.docx</button>
					<button data-toggle="modal" data-target="#pdfViewer" ng-click="openVideo('mp3','MP3/James.mp3');" class="btn btn-outline-primary">James.mp3</button>
					<button data-toggle="modal" data-target="#pdfViewer" ng-click="openVideo('mp3','MP3/171119_001.mp3');" class="btn btn-outline-primary">171119_001.mp3</button>
					<button data-toggle="modal" data-target="#pdfViewer" ng-click="openVideo('mp3','MP3/171119_004.mp3');" class="btn btn-outline-primary">171119_004.mp3</button>
					<button data-toggle="modal" data-target="#pdfViewer" ng-click="openVideo('MP3/soldier.mp3');" class="btn btn-outline-primary">soldier.mp3</button>
					<button data-toggle="modal" data-target="#pdfViewer" ng-click="openFile('PDF/Sample+PDF+File.pdf');" class="btn btn-outline-primary">Sample+PDF+File.pdf</button>
					<button data-toggle="modal" data-target="#pdfViewer" ng-click="openFile('PDF/Sample+PDF+REDACT+File.pdf');" class="btn btn-outline-primary">Sample+PDF+REDACT+File.pdf</button>
					<button data-toggle="modal" data-target="#pdfViewer" ng-click="openFile('PDF/Sample+PDFA+File.pdf');" class="btn btn-outline-primary">Sample+PDFA+File.pdf</button>
					<button data-toggle="modal" data-target="#pdfViewer" ng-click="openFile('PPTX/Sample+PPTX+File.pptx');" class="btn btn-outline-primary">Sample+PPTX+File.pptx</button>
					<button data-toggle="modal" data-target="#pdfViewer" ng-click="openFile('TIF/0003.TIF');" class="btn btn-outline-primary">0003.TIF</button>
					<button data-toggle="modal" data-target="#pdfViewer" ng-click="openFile('TIF/CCH0001-001.tif');" class="btn btn-outline-primary">CCH0001-001.tif</button>
					<button data-toggle="modal" data-target="#pdfViewer" ng-click="openFile('TIF/CCH0001-002.tif');" class="btn btn-outline-primary">CCH0001-002.tif</button>
					<button data-toggle="modal" data-target="#pdfViewer" ng-click="openFile('TIF/CCH0001-003.tif');" class="btn btn-outline-primary">CCH0001-003.tif</button>
					<button data-toggle="modal" data-target="#pdfViewer" ng-click="openFile('TIF/CCH0001-012.tif');" class="btn btn-outline-primary">CCH0001-012.tif</button>
					<button data-toggle="modal" data-target="#pdfViewer" ng-click="openFile('TIF/CCH0001-013.tif');" class="btn btn-outline-primary">CCH0001-013.tif</button>
					<button data-toggle="modal" data-target="#pdfViewer" ng-click="openFile('TIF/CCH0001-014.tif');" class="btn btn-outline-primary">CCH0001-014.tif</button>
					<button data-toggle="modal" data-target="#pdfViewer" ng-click="openFile('TIF/RC-S100-HKL001.tif');" class="btn btn-outline-primary">RC-S100-HKL001.tif</button>
					<button data-toggle="modal" data-target="#pdfViewer" ng-click="openFile('TIF/box1c-003.tif');" class="btn btn-outline-primary">box1c-003.tif</button>
					<button data-toggle="modal" data-target="#pdfViewer" ng-click="openVideo('wav','WAV/LWE_00150_03_1.wav');" class="btn btn-outline-primary">LWE_00150_03_1.wav</button>
					<button data-toggle="modal" data-target="#pdfViewer" ng-click="openVideo('wav','WAV/LWE_00174_52.wav');" class="btn btn-outline-primary">LWE_00174_52.wav</button>
					<button data-toggle="modal" data-target="#pdfViewer" ng-click="openVideo('wav','WAV/LWE_00174_54.wav');" class="btn btn-outline-primary">LWE_00174_54.wav</button>
				</div>

			</div> -->
		</div>
	</div>

	<div class="container-fluid" ng-if="!emptyResult">
		<div class="container mt-3 mb-3">
			<div class="row" ng-show="item.CategoryCode == 'ART'">
				<div class="col-md-12">
					<div class="d-flex justify-content-center align-items-center">
						<div class="position-relative" >
							<img ng-if="item.ImagePath" class="image-responsive" ng-src="{{imagePath}}asset/{{item.CategoryCode == 'ART' ? 'Artwork' : item.CategoryCode == 'LIB' ? 'Library' : item.CategoryCode == 'ARC' ? 'Archives' : ''}}/{{item.ImagePath}}" style="max-width:500px" alt="{{item.SourceTitle}}" />
							<div class="position-absolute p-2 text-right" style="bottom:0;right:0">
								<a ng-click="showAdvanced($event)"><img src="{{imagePath}}manify.png" /></a>
							</div>
						</div>
					</div>
					<div class="col-md-12 text-center mt-3 mb-3 p-0">
						<h1 style="font-size: 1.25rem;"><i ng-bind-html="item.SourceTitle"></i></h1>
						<span ng-bind-html="item.Artist"></span><br />
						<span ng-bind-html="item.ProductDate"></span>
					</div>
				</div>
			<!-- 	<div class="col-md-4 p-2">
					<a download class="text-light btn btn-secondary full-width mt-2 text-uppercase  text-bold" href="{{imagePath}}asset/{{item.CategoryCode == 'ART' ? 'Artwork' : item.CategoryCode == 'LIB' ? 'Library' : item.CategoryCode == 'ARC' ? 'Archives' : ''}}/{{item.FilePath}}">View <img class="ml-2" style="width:35px" ng-src="{{imagePath}}{{item.FileFormat == '.jpg' ? 'jpg' : item.FileFormat == '.mp3' ? 'mp3' : 'pdf' }}.png" ></a>
				</div> -->
				<div class="offset-md-2 col-md-8 mt-3">
					<div class="p-3 bg-white">
						<div class="detailsTable">
							<table class="table table-details">
								<tr ng-if="item.Artist">
									<th>Artist</th>
									<td>
										<div class="d-block" ng-repeat="artwork in item.ArtworkArtists track by $index">
											<a ui-sref="search({det:'isDet', SearchType:'a',Artist: artwork.Artist,CategoryCode:item.CategoryCode})" target="_blank"><u ng-bind-html="artwork.Artist"></u></a>
											<p class="m-0 p-0" ng-if="artwork.ArtistDateOfBirth || artwork.ArtistDateOfDeath">(<span ng-show="artwork.ArtistDateOfBirth">b. {{artwork.ArtistDateOfBirth}}</span><span ng-show="artwork.ArtistDateOfDeath">; d. {{artwork.ArtistDateOfDeath}}</span>)</p>
										</div>
										<!-- <div class="d-block">
											<a ui-sref="search({det:'isDet', SearchType:'a',Artist: item.Artist,CategoryCode:item.CategoryCode})" target="_blank"><u>{{item.Artist}}</u></a>
										</div> -->
									</td>
								</tr>
							<!-- 	<tr ng-if="item.ArtistDateOfBirth">
									<th>Date of Birth</th>
									<td>{{item.ArtistDateOfBirth}}</td>
								</tr>
								<tr ng-if="item.ArtistDateOfDeath">
									<th>Date of Death</th>
									<td>{{item.ArtistDateOfDeath}}</td>
								</tr> -->
								<tr ng-if="item.ArtworkTitles.length > 0">
									<th>Title</th>
									<td>
										<!-- <i>{{item.SourceTitle}}</i> -->
										<div class="d-block" ng-repeat="artTitle in item.ArtworkTitles track by $index">
											<span ng-if="$index == 0">
												<i ng-bind-html="artTitle"></i>
											</span>
											<span ng-if="$index > 0" ng-bind-html="artTitle"></span>
											
										</div>
									</td>
								</tr>
								<tr ng-if="item.ProductDate">
									<th>Date</th>
									<td>
										<span ng-bind-html="item.ProductDate"></span>
									</td>
								</tr>
								<tr ng-if="item.Medium">
									<th>Medium</th>
									<td>
										<span ng-bind-html="item.Medium"></span>
									</td>
								</tr>
								<tr ng-if="item.Dimensions.length > 0"> 
									<th>Dimensions</th>
									<td>
										<div class="d-block" ng-repeat="dim in item.Dimensions track by $index">
											<span ng-bind-html="dim"></span>
										</div>
									</td>
								</tr>
								<tr ng-if="item.Creditline">
									<th>Creditline</th>
									<td>
										<span ng-bind-html="item.Creditline"></span>
									</td>
								</tr>
								<tr ng-if="item.PhotoCredit">
									<th>Photo Credit</th>
									<td>
										<span ng-bind-html="item.PhotoCredit"></span>
									</td>
								</tr>		
								<tr ng-if="item.AccessionNo">
									<th>Accession Number</th>
									<td>
										<span ng-bind-html="item.AccessionNo"></span>
									</td>
								</tr>
								<tr ng-if="item.Location">
									<th>Geographic Association</th>
									<td>
										<span ng-bind-html="item.Location"></span>
									</td>
								</tr>
								<tr ng-if="item.OnDisplay">
									<th>On Display</th>
									<td>
										<span ng-bind-html="item.OnDisplay"></span>
									</td>
								</tr>
		
							</table>
						</div>
						<!-- <h4 class="text-bold mt-1 mb-3 ml-1">{}</h4> -->
						
						<!-- <div class="text-center pt-3">
							<a ng-click="expandDetails()" class="theme-color" ng-if="item.FilePath">View {{showText}}</a>
						</div> -->
					</div>
				</div>
			</div>
			<div class="row" ng-show="item.CategoryCode == 'ARC' || item.CategoryCode == 'LIB'">
				<div class="col-md-4 details_image_block">
					<div class="d-flex justify-content-center align-items-center">
						<div class="position-relative">
						<!-- 	<div ng-show="item.ProductId == 342 || item.ProductId == 335">
								<img class="image-responsive" ng-src="{{imagePath}}asset/Library/notavailable.png" alt="{{item.SourceTitle}}" />
							</div>
							<div ng-hide="item.ProductId == 342 || item.ProductId == 335">
								<img ng-if="item.ImagePath" class="image-responsive" ng-src="{{imagePath}}asset/{{item.CategoryCode == 'ART' ? 'Artwork' : item.CategoryCode == 'LIB' ? 'Library' : item.CategoryCode == 'ARC' ? 'Archives' : ''}}/{{item.ImagePath}}" alt="{{item.SourceTitle}}" />
								<img ng-if="!item.ImagePath && item.CategoryCode == 'ARC'" class="image-responsive" src="{{imagePath}}noimg.png" />
							</div> -->
							<img ng-if="item.ImagePath" class="image-responsive" ng-src="{{imagePath}}asset/{{item.CategoryCode == 'ART' ? 'Artwork' : item.CategoryCode == 'LIB' ? 'Library' : item.CategoryCode == 'ARC' ? 'Archives' : ''}}/{{item.ImagePath}}" alt="{{item.SourceTitle}}" />
							<img ng-if="!item.ImagePath && item.CategoryCode == 'ARC'" class="image-responsive" src="{{imagePath}}noimg.png" />
							<div class="full-width lib_gridTitle" ng-if="!item.ImagePath && item.CategoryCode == 'LIB'"  style="background-color:{{randomColor}};" ng-bind-html="item.SourceTitle">
								
							</div>
							<div class="position-absolute p-2 text-right" style="bottom:0;right:0" ng-if="item.FilePath && item.CategoryCode == 'ARC' && (item.FileFormat == '.jpg' || item.FileFormat == '.png')">
								<a ng-click="showAdvanced($event)"><img src="{{imagePath}}manify.png" /></a>
							</div>
						</div>
					</div>
					<!--ng-click="showFile()" -->
					<div class="col-md-12 text-center mt-3 mb-3 p-0">
						<!-- <p ng-bind-html="item.SourceTitle"></p> -->
						<h1 style="font-size: 14px;" ng-bind-html="item.SourceTitle"></h1>
						<!-- 	<a  ng-show="item.CategoryCode == 'ARC' && item.FileFormat == '.jpg'" class="text-light btn btn-secondary full-width mt-2 text-uppercase  text-bold" ng-click="showFile()">View <img class="ml-2" style="width:35px" ng-src="{{imagePath}}{{item.FileFormat == '.jpg' ? 'jpg' : item.FileFormat == '.mp3' ? 'mp3' : 'pdf' }}.png" ></a> -->
						<div ng-if="item.CategoryCode == 'ARC' && item.FileFormat == '.pdf'">
							<button class="text-light btn btn-secondary full-width mt-2 text-uppercase text-bold" type="button" data-toggle="modal" data-target="#pdfViewer" ng-click="openSource()">
							  View <img class="ml-2" style="width:35px" ng-src="{{imagePath}}{{item.FileFormat == '.jpg' ? 'jpg' : item.FileFormat == '.mp3' ? 'mp3' : 'pdf' }}.png" >
							</button>
						</div>
						<div ng-if="item.CategoryCode == 'ARC' && item.FileFormat == '.mp4'">
							<button class="py-3 text-light btn btn-secondary full-width mt-2 text-uppercase text-bold" type="button" data-toggle="modal" data-target="#pdfViewer" ng-click="openSource()">
							  PLAY [Video]
							</button>
						</div>
						
					</div>

				</div>
				<div class="col-md-8">
					<div class="bg-white p-3">
						<div class="detailsTable">
							<table class="table table-details">
								<tbody>
								<tr ng-if="item.ReferenceCode"> <!-- ARC -->
									<th>Reference Code</th> 
									<td>
										<span ng-bind-html="item.ReferenceCode"></span>
									</td>
								</tr>
								<tr ng-if="item.SourceTitle"> <!-- ARC LIB -->
									<th>{{item.CategoryCode == 'LIB' ? 'Main Title' : 'Title'}}</th>
									<td>
										<span ng-bind-html="item.OtherTitle ? item.OtherTitle : item.SourceTitle"></span>
									</td>
								</tr>
								
								<tr ng-if="item.Author.length > 0 && item.CategoryCode == 'LIB'"> <!-- LIB -->
									<th>Author</th>
									<td>
										<div class="d-block" ng-repeat="aut in item.Author track by $index">
											<a ui-sref="search({det:'isDet', SearchType:'a',Artist: productLink.Author[$index],CategoryCode:item.CategoryCode})" target="_blank"><u ng-bind-html="aut"></u></a>
										</div>
									</td>
								</tr>
								<tr ng-if="item.FondsCollection"> <!-- ARC -->
									<th>Fonds / Collection</th> 
									<td>
										<!-- {{item.FondsCollection}} -->
										<div class="d-block">
											<a ui-sref="search({det:'isDet', SearchType:'a',FondsCollection: productLink.FondsCollection, CategoryCode:item.CategoryCode})" target="_blank"><u ng-bind-html="item.FondsCollection"></u></a>
										</div>
									</td>
								</tr>
								<tr ng-if="item.Creators.length > 0 && item.CategoryCode == 'ARC'"> <!-- ARC -->
									<th>Creators</th> 
									<td>
										<div class="d-block" ng-repeat="crtor in item.Creators track by $index">
											<a ui-sref="search({det:'isDet', SearchType:'a',Artist: productLink.Creators[$index], CategoryCode:item.CategoryCode})" target="_blank"><u ng-bind-html="crtor"></u></a>
										</div>
									
									</td>
								</tr>
								<tr ng-if="item.MeetingName"> <!-- LIB -->
									<th>Meeting</th>
									<td>
										<div class="d-inline-block pr-2" ng-repeat="mtname in item.MeetingName track by $index">
											<span ng-bind-html="mtname"></span>
										</div>
									</td>
								</tr>
								<tr ng-if="item.EditionStatement"> <!-- LIB -->
									<th>Edition</th>
									<td>
										<span ng-bind-html="item.EditionStatement"></span>
									</td>
								</tr>
								<tr ng-if="item.Imprint"> <!-- LIB -->
									<th>Publisher</th>
									<td>
										<div class="d-inline-block pr-2" ng-repeat="imp in item.Imprint track by $index">
											<span ng-bind-html="imp"></span>
										</div>
									</td>
								</tr>
								<tr ng-if="item.Collation"> <!-- LIB -->
									<th>Collation</th>
									<td ng-bind-html="item.Collation">
										<span ng-bind-html="item.Collation"></span>
									</td>
								</tr>
								<tr ng-if="item.SeriesTitle"> <!-- LIB -->
									<th>Series Title</th>
									<td>
							<!-- 			<div class="d-block">
											<a ui-sref="search({det:'isDet', SearchType:'a',SeriesTitle: item.SeriesTitle.substring(0,item.SeriesTitle.indexOf(';') ),CategoryCode:item.CategoryCode})" target="_blank"><u>{{item.SeriesTitle}}</u></a>
										</div> -->

										<div class="d-block">
											<a ui-sref="search({det:'isDet', SearchType:'a',SeriesTitle: productLink.SeriesTitle[0],CategoryCode:item.CategoryCode})" target="_blank"><u ng-bind-html="item.SeriesTitle[0] ? item.SeriesTitle[0] : ''"></u></a>&nbsp;{{item.SeriesTitle[1] ? ';&nbsp;' + item.SeriesTitle[1] : ''}}
										</div>
									</td>
								</tr>
								<tr ng-if="item.Notes.length > 0 && item.CategoryCode == 'LIB'"> <!-- LIB -->
									<th>Notes</th>
									<td>
										<div class="d-block" ng-repeat="note in item.Notes track by $index">
											<span ng-bind-html="note"></span>
										</div>
									</td>
								</tr>
								<tr ng-if="item.LinkingNotes"> <!-- LIB -->
									<th>Linking Notes</th>
									<td>
										<div class="d-inline-block pr-2" ng-repeat="ln in item.LinkingNotes track by $index">
											<span ng-bind-html="item.ln"></span>
										</div>
									</td>
								</tr>
								<tr ng-show="item.Credits"> <!-- LIB -->
									<th>Credits</th>
									<td>
										<span ng-bind-html="Credits"></span>
									</td>
								</tr>
								<tr ng-if="item.Performers"> <!-- LIB -->
									<th>Performers</th>
									<td>
										<span ng-bind-html="item.Performers"></span>
									</td>
								</tr>
								<tr ng-if="item.SystemDetails"> <!-- LIB -->
									<th>System Details</th>
									<td>
										<span ng-bind-html="item.SystemDetails"></span>
									</td>
								</tr>
								<tr ng-show="item.Contents"> <!-- LIB -->
									<th>Contents</th>
									<td>
										<span ng-bind-html="Contents"></span>
									</td>
								</tr>
								<tr ng-if="item.Summary"> <!-- LIB -->
									<th>Summary</th>
									<td>
										<span ng-bind-html="item.Summary"></span>
									</td>
								</tr>
								<tr ng-if="item.ISBN.length > 0"> <!-- LIB -->
									<th>ISBN</th>
									<td>
										<!-- {{item.ISBN}} -->
										<div class="d-block pr-2" ng-repeat="isbn in item.ISBN track by $index">
											<span ng-bind-html="isbn"></span>
										</div>
									</td>
								</tr>
								<tr ng-if="item.ISSN.length > 0"> <!-- LIB -->
									<th>ISSN</th>
									<td>
										<!-- {{item.ISSN}} -->
										<div class="d-block pr-2" ng-repeat="issn in item.ISSN track by $index">
											<span ng-bind-html="issn"></span>
										</div>
									</td>
								</tr>
								<tr ng-if="item.DeweyClass"> <!-- LIB -->
									<th>Dewey Class</th>
									<td>
										<span ng-bind-html="item.DeweyClass"></span>
									</td>
								</tr>
								<!-- ARC -->
								<!-- <tr ng-if="item.TypeOfDate"> 
									<th>Date</th>
									<td>{{item.TypeOfDate}}</td>
								</tr> -->
								<tr ng-if="item.ProductDate && item.CategoryCode == 'ARC'"> <!-- ARC -->
									<th>Display Date (Type of Date)</th>
									<td>
										<span ng-bind-html="item.ProductDate"></span>
									</td>
								</tr>
								<tr ng-if="item.Language"> <!-- LIB -->
									<th>Language</th>
									<td>
										<span ng-bind-html="item.Language"></span>
									</td>
								</tr>
								<tr ng-if="item.AddedTitle"> <!-- LIB -->
									<th>Added Title</th>
									<td>
										<div class="d-block pr-2" ng-repeat="at in item.AddedTitle track by $index">
											<span ng-bind-html="item.VariantTitle[$index]"></span> {{at}}
										</div>

									</td>
								</tr>
								<tr ng-if="item.Subject.length > 0 && item.CategoryCode == 'ARC'"> <!--ARC -->
									<th>Subject</th>
									<td>
										<div class="d-block" ng-repeat="sub in item.Subject track by $index">
											<a ui-sref="search({det:'isDet', SearchType:'a',Subject: productLink.Subject[$index],CategoryCode:item.CategoryCode})" target="_blank"><u ng-bind-html="sub"></u></a>
										</div>
									</td>
								</tr>
								<tr ng-if="item.Subject.length > 0  && item.CategoryCode == 'LIB'"> <!--LIB -->
									<th>Subject</th>
									<td>
										<div class="d-block" ng-repeat="sub in item.Subject track by $index">
											<a ui-sref="search({det:'isDet', SearchType:'a',Subject: productLink.Subject[$index],CategoryCode:item.CategoryCode})" target="_blank"><u ng-bind-html="sub"></u></a>
										</div>
									</td>
								</tr>
								<tr ng-if="item.BRN">  <!-- LIB -->
									<th>BRN</th>
									<td>
										<span ng-bind-html="item.BRN"></span>
									</td>
								</tr>
								<tr ng-if="item.Permalink">  <!-- LIB -->
									<th>Permalink</th>
									<td>
										<span ng-bind-html="item.Permalink"></span>
									</td>
								</tr>
								<tr ng-if="item.ItemAvailability">  <!-- LIB -->
									<th>Item Availability</th>
									<td>
										<span ng-bind-html="item.ItemAvailability"></span>
									</td>
								</tr>
	
								<tr ng-if="item.AccessLevel && item.CategoryCode == 'ARC'"> <!-- ARC -->
									<th>Access Restrictions Code</th>
									<td>
										<span ng-bind-html="item.AccessLevel"></span>
									</td>
								</tr>
								<tr ng-if="item.ConditionsGoverningAccess"> <!-- ARC -->
									<th>Conditions Governing Access</th>
									<td>
										<span ng-bind-html="item.ConditionsGoverningAccess"></span>
									</td>
								</tr>
								<tr ng-if="item.UsageRestrictionsCode"> <!-- ARC -->
									<th>Usage Restrictions Code</th>
									<td>
										<span ng-bind-html="item.UsageRestrictionsCode"></span>
									</td>
								</tr>
								<tr ng-if="item.ConditionsGoverningUseAndReproduction"> <!-- ARC -->
									<th>Conditions Governing Use And Reproduction</th>
									<td>
										<span ng-bind-html="item.ConditionsGoverningUseAndReproduction"></span>
									</td>
								</tr>
								<tr ng-if="item.SystemArrangement"> <!-- ARC -->
									<th>System of Arrangement</th>
									<td>
										<span ng-bind-html="item.SystemArrangement"></span>
									</td>
								</tr>
								<tr ng-if="item.ArchivalHistory"> <!-- ARC -->
									<th>Archival History</th>
									<td>
										<span ng-bind-html="item.ArchivalHistory"></span>
									</td>
								</tr>
								<tr ng-if="item.SourceOfAcquisition"> <!-- ARC -->
									<th>Immediate Source of Acquisition or Transfer</th>
									<td>
										<span ng-bind-html="item.SourceOfAcquisition"></span>
									</td>
								</tr>
								<tr ng-if="item.LocationOfOriginals"> <!-- ARC -->
									<th>Existence and Location of Originals</th>
									<td>
										<span ng-bind-html="item.LocationOfOriginals"></span>
									</td>
								</tr>
								<tr ng-if="item.LocationOfCopies"> <!-- ARC -->
									<th>Existence and Location of Copies</th>
									<td>
										<span ng-bind-html="item.LocationOfCopies"></span>
									</td>
								</tr>
								<tr ng-if="item.Notes && item.CategoryCode == 'ARC'"> <!-- ARC -->
									<th>Notes</th>
									<td>
										<span ng-bind-html="item.Notes"></span>
									</td>
								</tr>
								<tr ng-if="item.ScopeAndContent"> <!-- ARC -->
									<th>Scope and Content</th>
									<td>
										<span ng-bind-html="item.ScopeAndContent"></span>
									</td>
								</tr>
								</tbody>
								
								
							</table>
							
						</div>
						<!-- <h4 class="text-bold mt-1 mb-3 ml-1">{{item.SourceTitle}}</h4> -->
						
					<!-- 	<div class="text-center pt-3">
							<a ng-click="expandDetails()" class="theme-color" ng-if="item.FilePath">View {{showText}}</a>
						</div> -->
					</div>
					<div class="mt-2" ng-if="item.CategoryCode == 'LIB'">
						<table class="table table-bordered table-striped">
							<thead style="background-color:#ddd">
								<tr>
									<th width="33%">Collection</th>
									<th width="33%">Call Number</th>
									<th width="33%">Status/Desc</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="itm in item.Items" ng-if="item.Items.length > 0">
									<td>
										<span ng-bind-html="itm.Collection != null ? itm.Collection.replace('<b>', '').replace('</b>', '').replace('<strong>').replace('</strong>') : itm.Collection"></span>
									</td>
									<td>{{itm.ClassNumber ? itm.ClassNumber : ''}} {{itm.Suffix ? itm.Suffix : '-'}}<br>{{itm.Category1 ? itm.Category1 : ''}} {{itm.Category2 ? itm.Category2 : ''}}</td>
									<td>
										<ul class="ml-3" style="list-style-type:disc">
											<li ng-show="itm.StatusDescription">
												{{itm.StatusDescription ? itm.StatusDescription : '-'}}
											</li>
											<li ng-show="itm.Status">
												{{itm.Status ? itm.Status : '-'}}
											</li>
										</ul>
										
									</td>
								</tr>
								<tr ng-if="item.Items.length <= 0">
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="mt-2" ng-if="item.CategoryCode == 'ARC'">
						<table class="table table-bordered">
							<thead style="background-color:#ddd">
								<tr>
									<th width="33%">General Material Type</th>
									<th width="33%">Extent and Medium</th>
									<th width="33%">Storage Location</th>
								</tr>
							</thead>
							<tbody class="bg-white">
								<tr>
									<!-- <td>{{item.MaterialType ? item.MaterialType : '-'}}</td>
									<td> {{item.ExtentAndMedium ? item.ExtentAndMedium : '-'}} </td>
									<td>{{item.StorageLocation ? item.StorageLocation : '-'}}</td> -->
									<td>
										<span ng-bind-html="item.MaterialType"></span>
									</td>
									<td>
										<span ng-bind-html="item.ExtentAndMedium"></span>
									</td>
									<td>
										<span ng-bind-html="item.StorageLocation"></span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
			
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="container-fluid py-3" ng-show="relatedProducts">
		<div class="container">
			<div class="row py-2">
				<div class="col-md-12">
					<h4><b>Related Items:</b></h4>
				</div>
			</div>
			<div class="row related_item">
			
				<div class="col-md-4 mb-3 cursor_pointer" ng-repeat="ritem in relatedProducts.Products" ui-sref="search({det:'isDet', relatedSearch:true, SearchType:'a',Artist: item.CategoryCode == 'LIB' ? item.PersonalAuthor ? item.PersonalAuthor : item.OrgArtist : item.OrgArtist, Subject: item.SubjectPersonalName ,CategoryCode:ritem.CategoryCode, ProductId: item.ProductId})">

					<div class="d-flex flex-row p-3 items">
						<div class="d-flex align-items-center pr-3 w-25">
							<img ng-if="ritem.ImagePath" class="image-responsive mw-100 mh-100" ng-src="{{imagePath}}asset/{{ritem.CategoryCode == 'ART' ? 'Artwork' : ritem.CategoryCode == 'LIB' ? 'Library' : ritem.CategoryCode == 'ARC' ? 'Archives' : ''}}/{{ritem.ImagePath}}" alt="{{ritem.SourceTitle}}" />
							<img ng-if="!ritem.ImagePath " class="image-responsive" src="{{imagePath}}noimg.png" />
						</div>
						<div class="d-flex align-items-center w-75">
							<div class="w-100">
								<div class="w-100">
									<b>{{ritem.CategoryCode == 'ART' ? 'Artwork' : ritem.CategoryCode == 'LIB' ? 'Library' : ritem.CategoryCode == 'ARC' ? 'Archives' : ''}} (<span class="count" ng-if="ritem.CategoryCode == 'ARC'">{{relatedProducts.CountARC}}</span><span class="count" ng-if="ritem.CategoryCode == 'ART'">{{relatedProducts.CountART}}</span><span class="count" ng-if="ritem.CategoryCode == 'LIB'">{{relatedProducts.CountLIB}}</span>)</b>
								</div>
								<hr class="my-1 w-100">
								<div>
									{{ritem.SourceTitle | cut:true:35:' ...'}}
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	
	<div class="modal fade full-height" id="pdfViewer" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
	    <div class="modal-content position-relative">
    	<!-- <div ng-if="cover" class="position-absolute w-100 h-100 bg-white d-flex justify-content-center align-items-center" style="left:0;top:0;z-index:10;background-color:#D1D1D1">
  			<img src="{{imagePath}}loading.gif" class="icons-4" />
  		</div> -->
  		<div class="modal-header text-light" style="background-color:#343A40">
	        <h5 class="modal-title" ng-bind-html="item.SourceTitle"></h5>
	        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true"><i><img ng-src="{{imagePath}}close.png" class="icons-3" /></i></span>
	        </button>
	      </div>
	      <div class="modal-body mh-100" style="background-color:#D1D1D1">
	  		<div ng-if="testfile=='testVideo'">
	  			<video class="plyr__video-embed" id="playerDesktop" crossorigin data-plyr-config='{ "displayDuration": true, "resetOnEnd":false, "loop":{ "active": false }, "controls": ["play-large", "play", "rewind", "fast-forward","current-time", "progress", "duration", "mute", "volume", "settings", "fullscreen"], "settings": [] , "fullscreen":{ "enabled": true, "fallback": true, "iosNative": true } }' ></video>
	  		</div>
	  		<div class="iframe-container" ng-if="testfile=='testFile'">
	  			<iframe id="pdfViewerFrame" frameborder="0" refreshable="tab.refresh" ng-src="{{pdfUrl}}"></iframe>
	  		</div>
			 <div ng-show="item.FileFormat == '.jpg' || item.FileFormat == '.png'">
			    <img ng-src="{{imagePath}}asset/{{item.CategoryCode == 'ART' ? 'Artwork' : item.CategoryCode == 'LIB' ? 'Library' : item.CategoryCode == 'ARC' ? 'Archives' : ''}}/{{item.FilePath}}" />
			  </div>
			  <div class="iframe-container" ng-if="item.FileFormat == '.pdf'">
				<div style='position:relative;z-index:9;'>
		            <div style='background-color: transparent;top: -8px;height: 100px;position: absolute;right: -8px;width: 100px;'></div>
		        </div>
			  	<iframe id="pdfViewerFrame" frameborder="0" refreshable="tab.refresh"  src="{{pdfUrl}}"></iframe>
			
			  </div>
			  <div ng-if="item.FileFormat == '.mp4'"> 
				<div>
					<video class="plyr__video-embed" id="playerDesktop" crossorigin data-plyr-config='{ "displayDuration": true, "resetOnEnd":false, "loop":{ "active": false }, "controls": ["play-large", "play", "rewind", "fast-forward","current-time", "progress", "duration", "mute", "volume", "settings", "fullscreen"], "settings": [] , "fullscreen":{ "enabled": true, "fallback": true, "iosNative": true } }' ></video>
				</div>
			  </div>
	      </div>
	    <!--   <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div> -->
	    </div>
	  </div>
	</div>
</section>
<script type="text/javascript" nonce="hQ6k3E3F5N">
$(document).ready(function(){

	$('#relatedWork-slide').slick({
		infinite: true,
		slidesToShow: 2,
		slidesToScroll: 1,
		dots: false,
		autoplay: true,
		autoplaySpeed: 3000,
		responsive: [
			{
				breakpoint: 1024,
				settings: {
				slidesToShow: 1,
				slidesToScroll: 1,
			}
			},
			{
				breakpoint: 600,
				settings: {
				slidesToShow: 1,
				slidesToScroll: 1,
				arrows:false
			}
			},
			{
				breakpoint: 480,
				settings: {
				slidesToShow: 1,
				slidesToScroll: 1,
				arrows:false,
			}
		}]
	});

});

// $(document).bind( "mouseup touchend", function(e){
// 	var $searchBar = $('.basicSearch');
// 	var $autocompleteBar = $('.bs_autocomplete');
// 	var $searchDropDown = $('.search-dropdown');
// 	var btnAdvSearch = $('.btn-advSearch');

// 	if (!$searchBar.is(e.target)
// 	&& $searchBar.has(e.target).length === 0)
// 	{
// 	$autocompleteBar.hide();
// 	}

// 	if ((!$searchDropDown.is(e.target)
// 	&& $searchDropDown.has(e.target).length === 0) && (!btnAdvSearch.is(e.target)
// 	&& btnAdvSearch.has(e.target).length === 0))
// 	{
// 	$searchDropDown.removeClass("avtive");
// 	$('.icon-advanceSearch').removeClass("active");
// 	}


// 	$searchBar.on('click', function(){
// 		$autocompleteBar.show();
// 	});

// });



</script>