<section id="FAQ" class="bg-light">
    <div class="container-fluid">
        <div class="container pb-5">
            <div class="col-md-12 p-0 pb-2 pt-3 text-uppercase">
                <small><a ng-click="back()" class="text-dark"><img src="{{imagePath}}arrow-left-black.png" class="icons-1 align-top" /><span class="d-inline-block text-bold">BACK</span></a> &nbsp; | &nbsp; <a class="text-dark" ui-sref="faq">FAQ</a></small>
                <!-- <search-filter></search-filter> -->
            </div>
            <div class="py-5">
                <h1 class="text-center text-bold m-0 theme-color text-uppercase">Frequently Asked Questions</h1>
            </div>
            <div class="pt-3" ng-repeat="faq in faqs track by $index" ng-show="faq.FAQItems.length > 0">
                <div class="FAQ">
                    <div class="AwardRecipients-title">
                        <h3 ng-bind-html="faq.Description"></h3>
                    </div>
                    <div ng-repeat="(key,item) in faq.FAQItems">
                        <div class="accordianClick" id="accordian-{{faq.Sequence}}{{item.ItemSequence}}">
                            <div class="accordianTitle">
                                <img src="{{imagePath}}arrow-right.png" class="icons-3 icons8">{{key+1}}. {{item.Question}}
                            </div>
                        </div>
                        <div class="accordian accordian-{{faq.Sequence}}{{item.ItemSequence}}">
                            <div class="accorContent">
                                <p ta-bind ng-model="item.Answer"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>