<section id="homepage" ng-init="init()">
	<div class="container-fluid position-fixed full-width" id="collectionOptionBar">
		<div class="row full-height pl-md-5 pr-md-5">
			<div class="col-md-8 col-xs-12 d-flex align-items-end pl-3 pr-3">
				<ul class="tabsBar full-width">
					<li ng-class="toggleValue == 'ALL' ? 'active' : ''"><a class="p-3" ng-click="switchBG('ALL')">ALL ({{productsLength ? productsLength : 0}})</a></li>
					<li ng-class="toggleValue == 'ART' ? 'active' : ''"><a class="p-3" ng-click="switchBG('ART')">ARTWORK ({{artLength ? artLength : 0}})</a></li>
					<li ng-class="toggleValue == 'ARC' ? 'active' : ''"><a class="p-3" ng-click="switchBG('ARC')">ARCHIVE ({{arcLength ? arcLength : 0}})</a></li>
					<li ng-class="toggleValue == 'LIB' ? 'active' : ''"><a class="p-3" ng-click="switchBG('LIB')">LIBRARY ({{libLength ? libLength : 0}})</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-xs-12 pl-3 pr-3 full-height d-flex justify-content-end align-items-center" style="height:55px">
				<search-component class="d-inline-block full-width"></search-component>
				<!-- <label class="d-inline-block width-10 m-0 pl-3">
							<img src="{{imagePath}}searchIcon.png" class="icons-3 align-middle" />
							<input type="checkbox" ng-model="toggleAdvanceSearch" hidden />
				</label> -->
			</div>
			<div class="col-xs-12 hidden-md selectBars full-width pl-3 pr-3">
				<select ng-model="categoryOption" ng-change="switchBG(categoryOption)" class="form-control">
					<option value="ALL">ALL ({{productsLength ? productsLength : 0}})</option>
					<option value="ART">ARTWORK ({{artLength ? artLength : 0}})</option>
					<option value="ARC">ARCHIVE ({{arcLength ? arcLength : 0}})</option>
					<option value="LIB">LIBRARY ({{libLength ? libLength : 0}})</option>
				</select>
			</div>
		</div>
	</div>
	<div class="container-fluid short_header" id="search-section">
		<div class="col-md-12 banner position-relative">
			<div class="row d-flex justify-content-center full-height text-center m-0">
				<div class="col-md-6 p-0">
					<h1 class="text-uppercase text-bolder">Search Our Collections</h1>
					<search-component class="text-left"></search-component>
				</div>
			</div>
			<div class="row position-absolute full-width pl-md-5 pr-md-5" style="bottom:0;">
				<div class="position-relative siteLoc full-width">
					<div class="row pt-2 full-width m-0" id="tabsContainer">
						<div class="col-md-12 col-xs-12 d-flex align-items-end p-0">
							<ul class="tabsBar">
								<li ng-class="toggleValue == 'ALL' ? 'active' : ''"><a class="p-3" ng-click="switchBG('ALL')">ALL ({{productsLength ? productsLength : 0}})</a></li>
								<li ng-class="toggleValue == 'ART' ? 'active' : ''"><a class="p-3" ng-click="switchBG('ART')">ARTWORK ({{artLength ? artLength : 0}})</a></li>
								<li ng-class="toggleValue == 'ARC' ? 'active' : ''"><a class="p-3" ng-click="switchBG('ARC')">ARCHIVE ({{arcLength ? arcLength : 0}})</a></li>
								<li ng-class="toggleValue == 'LIB' ? 'active' : ''"><a class="p-3" ng-click="switchBG('LIB')">LIBRARY ({{libLength ? libLength : 0}})</a></li>
							</ul>
						</div>
						<div class="col-xs-12 hidden-md selectBars full-width">
							<select ng-model="categoryOption" ng-change="switchBG(categoryOption)" class="form-control">
								<option value="ALL">ALL ({{productsLength ? productsLength : 0}})</option>
								<option value="ART">ARTWORK ({{artLength ? artLength : 0}})</option>
								<option value="ARC">ARCHIVE ({{arcLength ? arcLength : 0}})</option>
								<option value="LIB">LIBRARY ({{libLength ? libLength : 0}})</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<div class="collection-section position-relative">
		<!-- <div ng-show="imagesPreload" class="position-absolute bg-white w-100 h-100" style="z-index:3"></div> -->
		<div class="container-fluid allCollection" ng-show="toggleValue == 'ALL'">
			<div class="row m-0">
				<div class="col-md-12 collection pt-4">
					<div masonry item-selector=".masonry-brick" column-width=".masonry-brick" reload-on-show reload-on-resize masonry-options="{{masonry}}"  class="masonry-grid allGrid mw-100">
						<div class="gutter-sizer"></div>
						<!-- <div ng-repeat="data in allGridData"> -->
						<div class="masonry-brick" ng-repeat="d in allGridData track by $index">
							<div class="position-relative product_image">
								<img src="{{imagePath}}asset/{{d.CategoryCode == 'ART' ? 'Artwork' : d.CategoryCode == 'ARC' ? 'Archives' : d.CategoryCode == 'LIB' ? 'Library' : ''}}/{{d.ImagePath}}" class="grid-img image-responsive" alt="{{d.SourceTitle}}" />
								<div class="position-absolute viewDetailsOverlay  full-width full-height">
									<a ui-sref="details({from: 'Home', productId: d.ProductId })">
										<p class="text-bold text-light full-width full-height d-flex justify-content-center align-items-center">View Details
										</p>
									</a>
								</div>
							</div>
							<div class="item_details">
								<div class="col-md-12 title pl-1 pr-1">
									<div>
										<p>
											{{d.CategoryCode == 'ART' ? 'ARTWORK' : d.CategoryCode == 'ARC' ? 'ARCHIVE' : 'LIBRARY'}}
										</p>
										<p class="details_name m-0 text-truncate" ng-if="d.CategoryCode == 'ART' && d.Artist">
											{{d.Artist}}
										</p>
										<div class="position-relative">
											<div class="pr-md-4 sourcetitle">
												<i ng-if="d.CategoryCode == 'ART'">{{d.SourceTitle | cut:true:80:' ...'}}</i>
												<span ng-if="d.CategoryCode != 'ART'">{{d.SourceTitle | cut:true:80:' ...'}}</span>
											</div>
											<p class="m-0 mt-1" ng-if="d.ProductDate">
												<small>{{d.ProductDate}}</small>
											</p>
										</div>
									</div>
								</div>
							</div>
							
							<!-- </div> -->
						</div>
					</div>
					<div ng-if="loading" class="position-fixed w-100 text-center" style="bottom:0"><img src="{{imagePath}}loading.gif" class="icons-4" /></div>
					<div ng-if="toggleValue == 'ALL'" scroll-trigger="loadMore()" threshold="1000"></div>
					<div class="col-md-12 mt-5 mb-5 text-center text-bold" ng-show="!isMoreResultForAll" ng-cloak>
						No more result
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid artCollection" ng-show="toggleValue == 'ART'">
			<div class="row m-0">
				<div class="col-md-12 collection pt-4">
					<div masonry item-selector=".masonry-brick" column-width=".masonry-brick" reload-on-show reload-on-resize masonry-options="{{masonry}}"  class="masonry-grid artGrid mw-100">
						<div class="gutter-sizer"></div>
						<!-- <div ng-repeat="data in allGridData"> -->
						<div class="masonry-brick" ng-repeat="d in artGridData track by $index">
							<div class="position-relative product_image">
								<img src="{{imagePath}}asset/{{d.CategoryCode == 'ART' ? 'Artwork' : d.CategoryCode == 'ARC' ? 'Archives' : d.CategoryCode == 'LIB' ? 'Library' : ''}}/{{d.ImagePath}}" class="grid-img image-responsive" alt="{{d.SourceTitle}}" />
								<div class="position-absolute viewDetailsOverlay  full-width full-height">
									<a ui-sref="details({from: 'Home', productId: d.ProductId })">
										<p class="text-bold text-light full-width full-height d-flex justify-content-center align-items-center">View Details
										</p>
									</a>
								</div>
							</div>
							<div class="item_details">
								<div class="col-md-12 title pl-1 pr-1">
									<div>
										<p class="details_name m-0 text-truncate" ng-if="d.Artist">
											{{d.Artist}}
										</p>
										<div class="position-relative">
											<div class="pr-md-4 sourcetitle">
												<i ng-if="d.CategoryCode == 'ART'">{{d.SourceTitle | cut:true:80:' ...'}}</i>
												<span ng-if="d.CategoryCode != 'ART'">{{d.SourceTitle | cut:true:80:' ...'}}</span>
											</div>
											<p class="m-0 mt-1" ng-if="d.ProductDate">
												<small>{{d.ProductDate}}</small>
											</p>
										</div>
									</div>
								</div>
							</div>
							
							<!-- </div> -->
						</div>
					</div>
					<div ng-if="loading" class="position-fixed w-100 text-center" style="bottom:0"><img src="{{imagePath}}loading.gif" class="icons-4" /></div>
					<div ng-if="toggleValue == 'ART'" scroll-trigger="loadMore()" threshold="1000"></div>
					<div class="col-md-12 mt-5 mb-5 text-center text-bold" ng-show="!isMoreResultForArt" ng-cloak>
						No more result
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid arcCollection" ng-show="toggleValue == 'ARC'">
			<div class="row m-0">
				<div class="col-md-12 collection pt-4">
					<div masonry item-selector=".masonry-brick" column-width=".masonry-brick" reload-on-show reload-on-resize masonry-options="{{masonry}}"  class="masonry-grid arcGrid mw-100">
						<!-- <div ng-repeat="data in allGridData"> -->
						<div class="gutter-sizer"></div>
						<div class="masonry-brick" ng-repeat="d in arcGridData track by $index">
							<div class="position-relative product_image">
								<img src="{{imagePath}}asset/{{d.CategoryCode == 'ART' ? 'Artwork' : d.CategoryCode == 'ARC' ? 'Archives' : d.CategoryCode == 'LIB' ? 'Library' : ''}}/{{d.ImagePath}}" class="grid-img image-responsive" alt="{{d.SourceTitle}}" />
								<div class="position-absolute viewDetailsOverlay  full-width full-height">
									<a ui-sref="details({from: 'Home', productId: d.ProductId })">
										<p class="text-bold text-light full-width full-height d-flex justify-content-center align-items-center">View Details
										</p>
									</a>
								</div>
							</div>
							<div class="item_details">
								<div class="col-md-12 title pl-1 pr-1">
									<div>
										<p class="details_name m-0" ng-if="d.Artist && d.CategoryCode == 'ART'">
											{{d.Artist}}
										</p>
										<div class="position-relative">
											<div class="pr-md-4 sourcetitle">
												<i ng-if="d.CategoryCode == 'ART'">{{d.SourceTitle | cut:true:80:' ...'}}</i>
												<span ng-if="d.CategoryCode != 'ART'">{{d.SourceTitle | cut:true:80:' ...'}}</span>
											</div>
											<p class="m-0 mt-1" ng-if="d.ProductDate && d.CategoryCode == 'ART'">
												<small>{{d.ProductDate}}</small>
											</p>
										</div>
									</div>
								</div>
							</div>
							
							<!-- </div> -->
						</div>
					</div>
					<div ng-if="loading" class="position-fixed w-100 text-center" style="bottom:0"><img src="{{imagePath}}loading.gif" class="icons-4" /></div>
					<div ng-if="toggleValue == 'ARC'" scroll-trigger="loadMore()" threshold="1000"></div>
					<div class="col-md-12 mt-5 mb-5 text-center text-bold" ng-show="!isMoreResultForArc" ng-cloak>
						No more result
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid libCollection" ng-show="toggleValue == 'LIB'">
			<div class="row m-0">
				<div class="col-md-12 collection pt-4">
					<div masonry item-selector=".masonry-brick" column-width=".masonry-brick" reload-on-show reload-on-resize masonry-options="{{masonry}}"  class="masonry-grid libGrid mw-100">
						<div class="gutter-sizer"></div>
						<!-- <div ng-repeat="data in allGridData"> -->
						<div class="masonry-brick" ng-repeat="d in libGridData track by $index">
							<div class="position-relative product_image">
								<img src="{{imagePath}}asset/{{d.CategoryCode == 'ART' ? 'Artwork' : d.CategoryCode == 'ARC' ? 'Archives' : d.CategoryCode == 'LIB' ? 'Library' : ''}}/{{d.ImagePath}}" class="grid-img image-responsive" alt="{{d.SourceTitle}}" />
								<div class="position-absolute viewDetailsOverlay  full-width full-height">
									<a ui-sref="details({from: 'Home', productId: d.ProductId })">
										<p class="text-bold text-light full-width full-height d-flex justify-content-center align-items-center">View Details
										</p>
									</a>
								</div>
							</div>
							<div class="item_details">
								<div class="col-md-12 title pl-1 pr-1">
									<div>
										<p class="details_name m-0" ng-if="d.Artist && d.CategoryCode == 'ART'">
											{{d.Artist}}
										</p>
										<div class="position-relative">
											<div class="pr-md-4 sourcetitle">
												<i ng-if="d.CategoryCode == 'ART'">{{d.SourceTitle | cut:true:80:' ...'}}</i>
												<span ng-if="d.CategoryCode != 'ART'">{{d.SourceTitle | cut:true:80:' ...'}}</span>
											</div>
											<p class="m-0 mt-1" ng-if="d.ProductDate && d.CategoryCode == 'ART'">
												<small>{{d.ProductDate}}</small>
											</p>
										</div>
									</div>
								</div>
							</div>
							
							<!-- </div> -->
						</div>
					</div>
					<div ng-if="loading" class="position-fixed w-100 text-center" style="bottom:0"><img src="{{imagePath}}loading.gif" class="icons-4" /></div>
					<div ng-if="toggleValue == 'LIB'" scroll-trigger="loadMore()" threshold="1000"></div>
					<div class="col-md-12 mt-5 mb-5 text-center text-bold" ng-show="!isMoreResultForLib" ng-cloak>
						No more result
					</div>
				</div>
			</div>
		</div>
	</div>
</section>