<section id="personalParticular" class="bg-light" ng-init="checkTermIsCheck()">
	<div class="container-fluid">
		<div class="container">
			<form ng-model="formData" name="requestForm" ng-submit="requestSubmit()" novalidate>
				<div class="row">
					<div class="col-md-12 pb-2 pt-3 text-uppercase">
						<small><a ng-click="back()" class="text-dark"><img src="{{imagePath}}arrow-left-black.png"
									class="icons-1 align-top" /><span class="d-inline-block text-bold">BACK</span></a>
							&nbsp; | &nbsp; <a class="text-dark" ui-sref="personal-particular">Request Form</a></small>
						<!-- <search-filter></search-filter> -->
					</div>
					<div class="col-md-12 mb-3">
						<h1 class="text-bold text-center text-uppercase theme-color">Request Form</h1>
						<!-- 	<p class="text-center pb-3">This request form is for you to inquire about reproductions of artwork images and archival materials in our collection. All requests must be for educational and non-commercial use only. Please fill in your personal particulars and list items of interest in the fields provided. Do note that the items are subject to copyright restrictions and approval.</p> -->
						<div class="card border-0">
							<div class="card-body p-4">
								<h5 class="text-bold m-0 pb-4">PERSONAL PARTICULARS</h5>
								<div class="form-group row">
									<label class="col-sm-4 col-form-label" for="name">Name<span
											class="text-danger">*</span></label>
									<div class="col-sm-8">
										<input type="text" ng-model="formData.RequestorName" class="form-control"
											ng-class="{ 'is-invalid' : requestForm.name.$invalid && !requestForm.name.$pristine }"
											name="name" aria-describedby="name" placeholder="Enter name"
											autocomplete="off" required ng-pattern="validateInput" ng-maxlength="250" />
										<span
											ng-show="requestForm.name.$invalid && requestForm.name.$error.required && !requestForm.name.$pristine"
											class="invalid-feedback">Name field is empty</span>
										<span class="invalid-feedback"
											ng-show="requestForm.name.$dirty && requestForm.name.$error.pattern">Name
											cannot contain special characters</span>
										<span
											ng-show="requestForm.name.$invalid && !requestForm.name.$error.pattern && !requestForm.name.$error.required"
											class="invalid-feedback">Name must be maximum 250 characters</span>
									</div>
									<!-- <span class="text-danger" ng-if="formData.name.$valid ">Name Incorrect</span> -->
								</div>
								<div class="form-group row">
									<label class="col-sm-4 col-form-label" for="email">Email Address<span
											class="text-danger">*</span></label>
									<div class="col-sm-8">
										<input type="email" id="email" ng-model="formData.RequestorEmail"
											class="form-control"
											ng-class="{ 'is-invalid' : requestForm.email.$invalid && !requestForm.email.$pristine }"
											name="email" aria-describedby="email" placeholder="Enter email address"
											autocomplete="off" required />
										<span ng-show="requestForm.email.$invalid && !requestForm.email.$pristine"
											class="invalid-feedback">Enter a valid email.</span>
									</div>
									<!-- <span class="text-danger" ng-if="formData.email.$valid">Email Incorrect</span> -->
								</div>
								<div class="form-group row">
									<label class="col-sm-4 col-form-label" for="designation">Title/Designation<span
											class="text-danger">*</span></label>
									<div class="col-sm-8">
										<input type="text" ng-model="formData.RequestorTitle" class="form-control"
											ng-class="{ 'is-invalid' : requestForm.designation.$invalid && !requestForm.designation.$pristine }"
											name="designation" id="designation" aria-describedby="designation"
											placeholder="Enter Designation" autocomplete="off" required
											ng-pattern="validateInput" ng-maxlength="200" />
										<span
											ng-show="requestForm.designation.$invalid && requestForm.designation.$error.required && !requestForm.designation.$pristine"
											class="invalid-feedback">Designation field is empty.</span>
										<span class="invalid-feedback"
											ng-show="requestForm.designation.$dirty && requestForm.designation.$error.pattern">Title/Designation
											cannot contain special characters</span>
										<span
											ng-show="requestForm.designation.$invalid && !requestForm.designation.$error.pattern && !requestForm.designation.$error.required"
											class="invalid-feedback">Title/Designation must be maximum 200
											characters</span>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-4 col-form-label" for="organization">Organization/professional
										affiliation</label>
									<div class="col-sm-8">
										<input type="text" ng-model="formData.OrganisationName" class="form-control"
											ng-class="{ 'is-invalid' : requestForm.organization.$invalid && !requestForm.organization.$pristine }"
											id="organization" aria-describedby="organization" name="organization"
											placeholder="Enter Organization" autocomplete="off"
											ng-pattern="validateInput" ng-maxlength="500" />
										<span class="invalid-feedback"
											ng-show="requestForm.organization.$dirty && requestForm.organization.$error.pattern">Organization/professional
											cannot contain special characters</span>
										<span
											ng-show="requestForm.organization.$invalid && !requestForm.organization.$error.pattern && !requestForm.organization.$error.required"
											class="invalid-feedback">Organization/professional must be maximum 500
											characters</span>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-4 col-form-label" for="address">Address</label>
									<div class="col-sm-8">
										<input type="text" ng-model="formData.Address" class="form-control"
											ng-class="{ 'is-invalid' : requestForm.address.$invalid && !requestForm.address.$pristine }"
											name="address" id="address" aria-describedby="address"
											placeholder="Enter Address" autocomplete="off" ng-pattern="validateInput"
											ng-maxlength="500" />
										<span class="invalid-feedback"
											ng-show="requestForm.address.$dirty && requestForm.address.$error.pattern">Address
											cannot contain special characters</span>
										<span
											ng-show="requestForm.address.$invalid && !requestForm.address.$error.pattern && !requestForm.address.$error.required"
											class="invalid-feedback">Address must be maximum 500 characters</span>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-4 col-form-label" for="surveyRotunda">How did you come to know
										about the Rotunda Library & Archive?</label>
									<div class="col-sm-8">
										<select class="form-control theme-color text-bold"
											ng-model="formData.surveyRotunda" ng-change="changeServey()"
											name="surveyRotunda">
											<option value="">-Select-</option>
											<option value="Gallery visit">Gallery visit</option>
											<option value="Gallery website/social media">Gallery website/social media
											</option>
											<option value="Internet search">Internet search</option>
											<option value="Recommended by teacher">Recommended by teacher</option>
											<option value="Recommended by friend">Recommended by friend</option>
											<option value="From other museums/libraries/archives">From other
												museums/libraries/archives</option>
											<option value="Other">Others: Please specify</option>
										</select>
									</div>
								</div>
								<div class="form-group row" for="surveyRotundaOther"
									ng-show="formData.surveyRotunda == 'Other'">
									<label class="col-sm-4 col-form-label"></label>
									<div class="col-sm-8">
										<input type="text" ng-model="formData.surveyRotundaOther" class="form-control"
											ng-class="{ 'is-invalid' : requestForm.surveyRotundaOther.$invalid && !requestForm.surveyRotundaOther.$pristine }"
											name="surveyRotundaOther" placeholder="Enter Others" autocomplete="off"
											ng-pattern="validateInput" ng-maxlength="500" />
										<span class="invalid-feedback"
											ng-show="requestForm.surveyRotundaOther.$dirty && requestForm.surveyRotundaOther.$error.pattern">Other
											cannot contain special characters</span>
										<span
											ng-show="requestForm.surveyRotundaOther.$invalid && !requestForm.surveyRotundaOther.$error.pattern && !requestForm.surveyRotundaOther.$error.required"
											class="invalid-feedback">Other must be maximum 500 characters</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 mb-3">
						<div class="card border-0">
							<div class="card-body">
								<h5 class="text-bold m-0 pb-4">PROJECT TYPE</h5>
								<div class="">
									<div class="form-group">
										<select class="form-control theme-color text-bold"
											ng-model="formData.typeOfInfo" ng-change="changeInfo()"
											ng-class="{ 'is-invalid' : requestForm.projectTypeOptions.$invalid && !requestForm.projectTypeOptions.$pristine }"
											name="projectTypeOptions" required>
											<option value="">-Select-</option>
											<option value="Publication">Publication</option>
											<option value="Educational">Educational/ Research</option>
											<option value="Digital">Digital</option>
											<option value="Broadcast">Broadcast</option>
											<option value="Exhibition">Exhibition</option>
											<option value="Government">Government/Public agency </option>
											<option value="Personal">Personal</option>
											<option value="Other">Other</option>
										</select>
										<span
											ng-show="requestForm.projectTypeOptions.$invalid && !requestForm.projectTypeOptions.$pristine"
											class="invalid-feedback">Please select a project type!</span>
									</div>
									<div ng-show="formData.typeOfInfo">
										<div class="form-group row" ng-if="formData.typeOfInfo == 'Publication'">
											<label class="col-sm-4 col-form-label"
												for="publicationOption">{{formData.typeOfInfo}} Type<span
													class="text-danger">*</span></label>
											<div class="col-sm-8">
												<select class="form-control" ng-model="formData.EducationalOption"
													ng-class="{ 'is-invalid' : requestForm.PublicationTypeOption.$invalid && !requestForm.PublicationTypeOption.$pristine }"
													name="PublicationTypeOption" required>
													<option value="Exhibition">Exhibition catalogue</option>
													<option value="Newspaper">Newspaper/magazine</option>
													<option value="Academic">Academic journal</option>
													<option value="Textbook">Textbook</option>
													<option value="Brochure">Brochure</option>
													<option value="Commercial">Commercial publication</option>
													<option value="Personal">Personal</option>
													<option value="Other">Other</option>
												</select>
											</div>
											<span
												ng-show="requestForm.PublicationTypeOption.$invalid && !requestForm.PublicationTypeOption.$pristine"
												class="invalid-feedback">Please select a {{formData.typeOfInfo}}
												type!</span>
										</div>
										<div class="form-group row" ng-if="formData.typeOfInfo == 'Educational'">
											<label class="col-sm-4 col-form-label"
												for="publicationOption">{{formData.typeOfInfo}} / Research Type<span
													class="text-danger">*</span></label>
											<div class="col-sm-8">
												<select class="form-control" ng-model="formData.EducationalOption"
													ng-class="{ 'is-invalid' : requestForm.EducationalTypeOption.$invalid && !requestForm.EducationalTypeOption.$pristine }"
													name="EducationalTypeOption" required>
													<option value="Thesis">Thesis/unpublished paper</option>
													<option value="SchoolAssignment">School assignment</option>
													<option value="Academic">Teaching materials</option>
													<option value="Textbook">Personal research</option>
													<option value="Other">Other</option>
												</select>
											</div>
											<span
												ng-show="requestForm.EducationalOption.$invalid && !requestForm.EducationalOption.$pristine"
												class="invalid-feedback">Please select a {{formData.typeOfInfo}}
												type!</span>
										</div>
										<div class="form-group row" ng-if="formData.typeOfInfo == 'Digital'">
											<label class="col-sm-4 col-form-label"
												for="publicationOption">{{formData.typeOfInfo}} Type<span
													class="text-danger">*</span></label>
											<div class="col-sm-8">
												<select class="form-control" ng-model="formData.EducationalOption"
													ng-class="{ 'is-invalid' : requestForm.DigitalTypeOption.$invalid && !requestForm.DigitalTypeOption.$pristine }"
													name="DigitalTypeOption" required>
													<option value="Thesis">Application</option>
													<option value="SchoolAssignment">E-book</option>
													<option value="Academic">Website</option>
													<option value="Textbook">Social media</option>
													<option value="Other">Other</option>
												</select>
											</div>
											<span
												ng-show="requestForm.DigitalTypeOption.$invalid && !requestForm.DigitalTypeOption.$pristine"
												class="invalid-feedback">Please select a {{formData.typeOfInfo}}
												type!</span>
										</div>
										<div class="form-group row" ng-if="formData.typeOfInfo == 'Broadcast'">
											<label class="col-sm-4 col-form-label"
												for="publicationOption">{{formData.typeOfInfo}} Type<span
													class="text-danger">*</span></label>
											<div class="col-sm-8">
												<select class="form-control" ng-model="formData.EducationalOption"
													ng-class="{ 'is-invalid' : requestForm.BroadcastTypeOption.$invalid && !requestForm.BroadcastTypeOption.$pristine }"
													name="BroadcastTypeOption" required>
													<option value="Thesis">Film</option>
													<option value="SchoolAssignment">TV Broadcast</option>
													<option value="Academic">Online Streaming</option>
													<option value="Other">Other</option>
												</select>
											</div>
											<span
												ng-show="requestForm.BroadcastTypeOption.$invalid && !requestForm.BroadcastTypeOption.$pristine"
												class="invalid-feedback">Please select a {{formData.typeOfInfo}}
												type!</span>
										</div>
										<div class="form-group row" ng-if="formData.typeOfInfo == 'Exhibition'">
											<label class="col-sm-4 col-form-label"
												for="publicationOption">{{formData.typeOfInfo}} Type<span
													class="text-danger">*</span></label>
											<div class="col-sm-8">
												<select class="form-control" ng-model="formData.EducationalOption"
													ng-class="{ 'is-invalid' : requestForm.ExhibitionTypeOption.$invalid && !requestForm.ExhibitionTypeOption.$pristine }"
													name="ExhibitionTypeOption" required>
													<option value="Thesis">Museum</option>
													<option value="SchoolAssignment">Commercial gallery</option>
													<option value="Other">Other</option>
												</select>
											</div>
											<span
												ng-show="requestForm.ExhibitionTypeOption.$invalid && !requestForm.ExhibitionTypeOption.$pristine"
												class="invalid-feedback">Please select a {{formData.typeOfInfo}}
												type!</span>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label" for="title">Title / Description<span
													class="text-danger">*</span></label>
											<div class="col-sm-8">
												<input type="text" class="form-control" ng-model="formData.Description"
													ng-class="{ 'is-invalid' : requestForm.Description.$invalid && !requestForm.Description.$pristine }"
													name="Description" aria-describedby="Description" required
													ng-pattern="validateInput" ng-maxlength="300" />
												<span
													ng-show="requestForm.Description.$invalid && requestForm.Description.$error.required && !requestForm.Description.$pristine"
													class="invalid-feedback">Description field is empty</span>
												<span class="invalid-feedback"
													ng-show="requestForm.Description.$dirty && requestForm.Description.$error.pattern">Title
													/ Description
													cannot contain special characters</span>
												<span
													ng-show="requestForm.Description.$invalid && !requestForm.Description.$error.pattern && !requestForm.Description.$error.required"
													class="invalid-feedback">Title / Description must be maximum 300
													characters</span>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label" for="Creator">Creator / Author<span
													class="text-danger">*</span></label>
											<div class="col-sm-8">
												<input type="text" class="form-control" ng-model="formData.Creator"
													ng-class="{ 'is-invalid' : requestForm.Creator.$invalid && !requestForm.Creator.$pristine }"
													name="Creator" aria-describedby="Creator" required
													ng-pattern="validateInput" ng-maxlength="300" />
												<span
													ng-show="requestForm.Creator.$invalid && requestForm.Creator.$error.required && !requestForm.Creator.$pristine"
													class="invalid-feedback">Creator field is empty</span>
												<span class="invalid-feedback"
													ng-show="requestForm.Creator.$dirty && requestForm.Creator.$error.pattern">Creator
													/ Author
													cannot contain special characters</span>
												<span
													ng-show="requestForm.Creator.$invalid && !requestForm.Creator.$error.pattern && !requestForm.Creator.$error.required"
													class="invalid-feedback">Creator / Author must be maximum 300
													characters</span>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label" for="date_pou">Date / Period of
												Use<span class="text-danger">*</span></label>
											<div class="col-sm-8">
												<input type="date" ng-model="formData.PeriodOfUse" class="form-control"
													ng-class="{ 'is-invalid' : requestForm.date_pou.$invalid && !requestForm.date_pou.$pristine }"
													name="date_pou" required>
												<span
													ng-show="requestForm.date_pou.$invalid && !requestForm.date_pou.$pristine"
													class="invalid-feedback">Date field is invalid</span>
											</div>
											<!-- <span class="text-danger" ng-if="formData.name.$valid ">Name Incorrect</span> -->
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label" for="Territory">Territory of Use<span
													class="text-danger">*</span></label>
											<div class="col-sm-8">
												<input type="text" class="form-control" ng-model="formData.Territory"
													ng-class="{ 'is-invalid' : requestForm.Territory.$invalid && !requestForm.Territory.$pristine }"
													name="Territory" aria-describedby="Territory" required
													ng-pattern="validateInput" ng-maxlength="300" />

												<span
													ng-show="requestForm.Territory.$invalid && requestForm.Territory.$error.required && !requestForm.Territory.$pristine"
													class="invalid-feedback">Territory field is empty</span>
												<span class="invalid-feedback"
													ng-show="requestForm.Territory.$dirty && requestForm.Territory.$error.pattern">Territory
													of Use
													cannot contain special characters</span>
												<span
													ng-show="requestForm.Territory.$invalid && !requestForm.Territory.$error.pattern && !requestForm.Territory.$error.required"
													class="invalid-feedback">Territory of Use must be maximum 300
													characters</span>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label" for="Format">Format of
												Reproduction<span class="text-danger">*</span></label>
											<div class="col-sm-8">
												<input type="text" class="form-control" ng-model="formData.Format"
													ng-class="{ 'is-invalid' : requestForm.Format.$invalid && !requestForm.Format.$pristine }"
													name="Format" aria-describedby="Format" required
													ng-pattern="validateInput" ng-maxlength="200" />

												<span
													ng-show="requestForm.Format.$invalid && requestForm.Format.$error.required && !requestForm.Format.$pristine"
													class="invalid-feedback">Format field is empty</span>
												<span class="invalid-feedback"
													ng-show="requestForm.Format.$dirty && requestForm.Format.$error.pattern">Format
													of
													Reproduction
													cannot contain special characters</span>
												<span
													ng-show="requestForm.Format.$invalid && !requestForm.Format.$error.pattern && !requestForm.Format.$error.required"
													class="invalid-feedback">Format of
													Reproduction must be maximum 200
													characters</span>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label" for="Language">Language<span
													class="text-danger">*</span></label>
											<div class="col-sm-8">
												<input type="text" class="form-control" ng-model="formData.Language"
													ng-class="{ 'is-invalid' : requestForm.Language.$invalid && !requestForm.Language.$pristine }"
													name="Language" aria-describedby="Language" required
													ng-pattern="validateInput" ng-maxlength="200" />

												<span
													ng-show="requestForm.Language.$invalid && requestForm.Language.$error.required && !requestForm.Language.$pristine"
													class="invalid-feedback">Language field is empty</span>
												<span class="invalid-feedback"
													ng-show="requestForm.Language.$dirty && requestForm.Language.$error.pattern">Language
													cannot contain special characters</span>
												<span
													ng-show="requestForm.Language.$invalid && !requestForm.Language.$error.pattern && !requestForm.Language.$error.required"
													class="invalid-feedback">Language must be maximum 200
													characters</span>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label" for="image">Use of image(s):<span
													class="text-danger">*</span><small>e.g. full page, detail,
													front/back cover</small></label>
											<div class="col-sm-8">
												<input type="text" class="form-control" ng-model="formData.UseOfImage"
													ng-class="{ 'is-invalid' : requestForm.UseOfImage.$invalid && !requestForm.UseOfImage.$pristine }"
													name="UseOfImage" aria-describedby="UseOfImage" required
													ng-pattern="validateInput" ng-maxlength="300" />

												<span
													ng-show="requestForm.UseOfImage.$invalid && requestForm.UseOfImage.$error.required && !requestForm.UseOfImage.$pristine"
													class="invalid-feedback">Use Of Image field is empty</span>
												<span class="invalid-feedback"
													ng-show="requestForm.UseOfImage.$dirty && requestForm.UseOfImage.$error.pattern">Use
													of image(s)
													cannot contain special characters</span>
												<span
													ng-show="requestForm.UseOfImage.$invalid && !requestForm.UseOfImage.$error.pattern && !requestForm.UseOfImage.$error.required"
													class="invalid-feedback">Use of image(s) must be maximum 300
													characters</span>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label" for="Publisher">Publisher<span
													class="text-danger">*</span></label>
											<div class="col-sm-8">
												<input type="text" class="form-control" ng-model="formData.Publisher"
													ng-class="{ 'is-invalid' : requestForm.Publisher.$invalid && !requestForm.Publisher.$pristine }"
													name="Publisher" aria-describedby="Publisher" required
													ng-pattern="validateInput" ng-maxlength="300" />

												<span
													ng-show="requestForm.Publisher.$invalid && requestForm.Publisher.$error.required && !requestForm.Publisher.$pristine"
													class="invalid-feedback">Publisher field is empty</span>
												<span class="invalid-feedback"
													ng-show="requestForm.Publisher.$dirty && requestForm.Publisher.$error.pattern">Publisher
													cannot contain special characters</span>
												<span
													ng-show="requestForm.Publisher.$invalid && !requestForm.Publisher.$error.pattern && !requestForm.Publisher.$error.required"
													class="invalid-feedback">Publisher must be maximum 300
													characters</span>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label" for="Print">Print Run</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" ng-model="formData.PrintRun"
													ng-class="{ 'is-invalid' : requestForm.PrintRun.$invalid && !requestForm.PrintRun.$pristine }"
													name="PrintRun" aria-describedby="PrintRun"
													ng-pattern="validateInput" ng-maxlength="200" />

												<span class="invalid-feedback"
													ng-show="requestForm.PrintRun.$dirty && requestForm.PrintRun.$error.pattern">Print
													Run
													cannot contain special characters</span>
												<span
													ng-show="requestForm.PrintRun.$invalid && !requestForm.PrintRun.$error.pattern && !requestForm.PrintRun.$error.required"
													class="invalid-feedback">Print Run must be maximum 200
													characters</span>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label" for="Retail">Retail Price</label>
											<div class="col-sm-8">
												<input type="number" class="form-control"
													ng-model="formData.RetailPrice"
													ng-class="{ 'is-invalid' : requestForm.RetailPrice.$invalid && !requestForm.RetailPrice.$pristine }"
													name="RetailPrice" aria-describedby="RetailPrice" />

											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label" for="Retail">Remarks</label>
											<div class="col-sm-8">
												<input type="text" class="form-control"
													ng-class="{ 'is-invalid' : requestForm.RemarksField.$invalid && !requestForm.RemarksField.$pristine }"
													ng-model="formData.RequestorRemark" name="RemarksField"
													aria-describedby="RemarksField" ng-pattern="validateInput" />
												<span class="invalid-feedback"
													ng-show="requestForm.RemarksField.$dirty && requestForm.RemarksField.$error.pattern">Remarks
													cannot contain special characters</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 infoForm" ng-show="formData.typeOfInfo">
						<div>
							<div id="projectItem">
								<ng-form name="requestItemList" novalidate>
									<div class="card mb-3 border border-0"
										ng-repeat="data in formDataItems track by $index">
										<div class="card-body bg-white">
											<div class="row m-0">
												<div class="col-md-6 p-0">
													<h5 class="text-bold m-0 pb-4">REQUESTED ITEM {{$index + 1}}</h5>
												</div>
												<div class="col-md-6 d-flex justify-content-end p-0"
													ng-show="formDataItems.length > 1">
													<a ng-click="removeItem($index)" class="theme-color">remove</a>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-4 col-form-label" for="title">Category<span
														class="text-danger">*</span></label>
												<div class="col-sm-8">
													<select class="form-control theme-color text-bold"
														ng-model="data.CategoryCode" required>
														<option value="ART">Artwork</option>
														<option value="ARC">Archive</option>
													</select>
												</div>
											</div>
											<div ng-show="data.CategoryCode">
												<div class="form-group row" ng-if="data.CategoryCode == 'ART'">
													<label class="col-sm-4 col-form-label" for="artist">Artist Name<span
															class="text-danger">*</span></label>
													<div class="col-sm-8">
														<input type="text" class="form-control" ng-model="data.Artist"
															ng-class="{ 'is-invalid' : requestItemList.artist{{$index + 1}}.$invalid && !requestItemList.artist{{$index + 1}}.$pristine }"
															name="artist{{$index + 1}}"
															aria-describedby="artist{{$index + 1}}" required
															ng-pattern="validateInput" />
														<span
															ng-show="requestItemList.artist{{$index + 1}}.$invalid && requestItemList.artist{{$index + 1}}.$error.required && !requestItemList.artist{{$index + 1}}.$pristine"
															class="invalid-feedback">Artist field is empty</span>
														<span class="invalid-feedback"
															ng-show="requestItemList.artist{{$index + 1}}.$dirty && requestItemList.artist{{$index + 1}}.$error.pattern">Artist
															Name
															cannot contain special characters</span>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-4 col-form-label" for="title">Title<span
															class="text-danger">*</span></label>
													<div class="col-sm-8">
														<input type="text" class="form-control" ng-model="data.Title"
															ng-class="{ 'is-invalid' : requestItemList.reqTitle{{$index + 1}}.$invalid && !requestItemList.reqTitle{{$index + 1}}.$pristine }"
															name="reqTitle{{$index + 1}}" required
															ng-pattern="validateInput" />
														<span
															ng-show="requestItemList.reqTitle{{$index + 1}}.$invalid && requestItemList.reqTitle{{$index + 1}}.$error.required && !requestItemList.reqTitle{{$index + 1}}.$pristine"
															class="invalid-feedback">Title field is empty</span>
														<span class="invalid-feedback"
															ng-show="requestItemList.reqTitle{{$index + 1}}.$dirty && requestItemList.reqTitle{{$index + 1}}.$error.pattern">Title
															cannot contain special characters</span>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-4 col-form-label">{{data.CategoryCode == 'ART'
														? 'Accession Number' : 'Reference Code'}} </label>
													<div class="col-sm-8">
														<input type="text" class="form-control"
															ng-model="data.AccessionNo"
															ng-class="{ 'is-invalid' : requestItemList.AccessionNo{{$index + 1}}.$invalid && !requestItemList.AccessionNo{{$index + 1}}.$pristine }"
															name="AccessionNo{{$index + 1}}"
															aria-describedby="AccessionNo{{$index + 1}}"
															ng-pattern="validateInput" />
														<span class="invalid-feedback"
															ng-show="requestItemList.AccessionNo{{$index + 1}}.$dirty && requestItemList.AccessionNo{{$index + 1}}.$error.pattern">{{data.CategoryCode
															== 'ART'
															? 'Accession Number' : 'Reference Code'}}
															cannot contain special characters</span>
													</div>
												</div>
											</div>
										</div>
										<div class="p-3"
											ng-show="formDataItems.length <= 9 && formDataItems.length <= ($index+1)">
											<a ng-click="addMore(data, $index + 1)" class="text-bold theme-color">+ Add
												another Item</a>
										</div>
									</div>
								</ng-form>

							</div>

						</div>

					</div>
					<div class="col-md-12 mt-3 mb-3 d-flex justify-content-center">
						<div>
							<div class="d-block" vc-recaptcha key="'6Ld3PLsUAAAAANzw4lYL6SMZvbywyBtVTFuL8BPV'"
								ng-model="user.myRecaptchaResponse" name="captcha"></div>
						</div>
					</div>
					<div class="col-md-12 mt-3 mb-3 d-flex justify-content-center">
						<div>

							<div class="d-flex justify-content-center mb-3">
								<div>
									<div ng-if="loading" class="text-center"><img src="{{imagePath}}loading.gif"
											class="icons-4" /></div>
									<div class="text-center mb-5"
										ng-if="!requestForm.$invalid && !requestItemList.$invalid">
										<button class="btn theme-bgcolor text-light mb-3" type="submit">Submit
											Request</button>
										<p>By clicking on “Submit Request”, I declare that the information provided
											above is accurate and complete.</p>
									</div>

									<p class="font-weight-bold"
										ng-if="requestForm.$invalid || requestItemList.$invalid"><span
											class="text-danger">*</span>Please fill in all required fields to proceed
									</p>
								</div>

							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- <div class="col-md-3 bg-F4 p-3 pt-5 min-full-height d-flex justify-content-center">
											<div>
																					</div>
	</div> -->
</section>
<script type="text/javascript">
	var nowTemp = new Date();
	var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
	$('.datePicker').datepicker({
		format: 'dd/mm/yyyy',
		onRender: function (date) {
			return date.valueOf() < now.valueOf() ? 'disabled' : '';
		}
	});
</script>