<section id="searchPage" ng-init="init(false, false)">
	<!-- <div advance-search class="isolate-bg pt-3 pb-3"></div> -->
	<div class="container-fluid">
		<div class="position-fixed full-width" id="searchNav" style="height:auto">
			<div class="row pl-md-5 pr-md-5 m-0 mb-1 full-height">
				<div class="col-md-6 pl-md-0 pt-2 pb-2 pr-2 full-height">
					<search-component id="innerSearch"></search-component>
				</div>
				<!-- 		<div class="col-md-3 d-flex align-items-center">
					<small class="text-bold">{{productsLength}} Result Found</small>
				</div> -->
				<div class="col-md-6 pr-0 pt-2 d-flex justify-content-md-end">
					<div class="search_options_list">
						<ul class="m-0">
							<li>
								<div class="d-inline-block search_sort" ng-show="toggleValue == 'ALL'">
									<select class="form-control" name="sorting_func" ng-model="sorting_func" ng-change="sortingFunc(sorting_func)">
										<option value="">Relevance...</option>
										<option value="Title, asc">Title (A-Z, 0-9)</option>
										<option value="Title, desc">Title (Z-A, 9-0)</option>
									</select>
								</div>
								<div class="d-inline-block search_sort" ng-show="toggleValue == 'ART'">
									<select class="form-control" name="sorting_func" ng-model="sorting_func" ng-change="sortingFunc(sorting_func)">
										<option value="">Relevance...</option>
										<option value="Title, asc">Title (A-Z, 0-9)</option>
										<option value="Title, desc">Title (Z-A, 9-0)</option>
										<option value="Artist, asc">Artist (A-Z, 0-9)</option>
										<option value="Artist, desc">Artist (Z-A, 9-0)</option>
										<option value="Medium, asc">Medium (A-Z, 0-9)</option>
										<option value="Medium, desc">Medium (Z-A, 9-0)</option>
										<option value="AccessionNo, asc">AccessionNo (A-Z, 0-9)</option>
										<option value="AccessionNo, desc">AccessionNo (Z-A, 9-0)</option>
									</select>
								</div>
								<div class="d-inline-block search_sort" ng-show="toggleValue == 'ARC'">
									<select class="form-control" name="sorting_func" ng-model="sorting_func" ng-change="sortingFunc(sorting_func)">
										<option value="">Relevance...</option>
										<option value="Title, asc">Title (A-Z, 0-9)</option>
										<option value="Title, desc">Title (Z-A, 9-0)</option>
										<option value="FondCollection, asc">Fond/Collection (A-Z)</option>
										<option value="FondCollection, desc">Fond/Collection (Z-A)</option>
										<option value="ReferenceCode, asc">Reference Code (A-Z, 0-9)</option>
										<option value="ReferenceCode, desc">Reference Code (Z-A, 9-0)</option>
									</select>
								</div>
								<div class="d-inline-block search_sort" ng-show="toggleValue == 'LIB'">
									<select class="form-control" name="sorting_func" ng-model="sorting_func" ng-change="sortingFunc(sorting_func)">
										<option value="">Relevance...</option>
										<option value="Title, asc">Title (A-Z, 0-9)</option>
										<option value="Title, desc">Title (Z-A, 9-0)</option>
										<option value="Author, asc">Author (A-Z, 0-9)</option>
										<option value="Author, desc">Author (Z-A, 9-0)</option>
										<option value="DeweyClass, asc">DeweyClass (A-Z, 0-9)</option>
										<option value="DeweyClass, desc">DeweyClass (Z-A, 9-0)</option>
										<option value="CreateTime, asc">CreateTime (A-Z, 0-9)</option>
										<option value="CreateTime, desc">CreateTime (Z-A, 9-0)</option>
									</select>
								</div>
								
							</li>
							<li><a ng-click="gridView()"><img ng-src="{{imagePath}}icon/grid-{{isGridView ? 'active' : 'inactive'}}.png" class="icons-4" /></a></li>
							<li><a ng-click="listView()"><img ng-src="{{imagePath}}icon/List-{{isGridView ? 'inactive' : 'active'}}.png" class="icons-4" /></a></li>
							<li><a class="btnfilter" ng-click="triggerFilterBlock()"><img ng-src="{{imagePath}}icon/Filter-inactive.png" class="icons-4" /></a></li>
							<!-- <li><a ng-click="sorting()"><img ng-src="{{imagePath}}icon/ATOZ-{{isSort ? 'active' : 'inactive'}}.png" class="icons-4" /></a> </li> -->
						</ul>
					</div>
					<!-- <a href="" ng-click="advanceSearch3()"><img src="{{imagePath}}filter.png" /></a> &nbsp; | &nbsp; -->
				</div>
			</div>
			<div class="row full-height pl-md-5 pr-md-5">
				<div class="col-md-12 col-xs-12 d-flex align-items-end pl-3 pr-3">
					<ul class="tabsBar">
						<li ng-class="toggleValue == 'ALL' ? 'active' : ''"><a class="p-3" ng-click="switchBG('ALL')">ALL ({{productsLength ? productsLength : 0}})</a></li>
						<li ng-class="toggleValue == 'ART' ? 'active' : ''"><a class="p-3" ng-click="switchBG('ART')">ARTWORK ({{artLength ? artLength : 0}})</a></li>
						<li ng-class="toggleValue == 'ARC' ? 'active' : ''"><a class="p-3" ng-click="switchBG('ARC')">ARCHIVE ({{arcLength ? arcLength : 0}})</a></li>
						<li ng-class="toggleValue == 'LIB' ? 'active' : ''"><a class="p-3" ng-click="switchBG('LIB')">LIBRARY ({{libLength ? libLength : 0}})</a></li>
					</ul>
				</div>
				<div class="col-xs-12 hidden-md selectBars full-width pl-3 pr-3">
					<select ng-model="categoryOption" ng-change="switchBG(categoryOption)" class="form-control">
						<option value="ALL">ALL ({{productsLength ? productsLength : 0}})</option>
						<option value="ART">ARTWORK ({{artLength ? artLength : 0}})</option>
						<option value="ARC">ARCHIVE ({{arcLength ? arcLength : 0}})</option>
						<option value="LIB">LIBRARY ({{libLength ? libLength : 0}})</option>
					</select>
				</div>
			</div>
		</div>
		<div class="position-fixed full-height filter-block" id="filter-block">
			<div class="full-height">
				<search-filter id="filterPanel"></search-filter>
			</div>
		</div>
		<!-- <div class="container mb-0"> -->
		<div class="row pl-md-5 pr-md-5 m-0 search-data">
			<div class="col-md-12 pl-md-0 pr-md-0 pb-2 pt-3">
				<small><a ng-click="back()" class="text-dark"><img ng-src="{{imagePath}}arrow-left-black.png" class="icons-1 align-top" /><span class="d-inline-block text-bold">BACK</span></a> &nbsp; | &nbsp; <a class="text-dark text-uppercase" ui-sref="search">Search</a></small>
				<!-- <search-filter></search-filter> -->
			</div>
			<!-- <div class="col-md-9 p-md-0">
									<div class="d-inline-block" ng-show="location == 'search'">
														<select class="form-control bg-F4 full-height text-bold" ng-model="toggleValue" ng-change="switchBG()">
																			<option ng-value="true">National Gallery - Artwork</option>
																			<option ng-value="false">Rotunda - Archive, Library</option>
														</select>
									</div>
			</div> -->
			<!-- <div class="col-md-8 d-flex justify-content-end pl-md-0 pr-md-0">
									<button class="btn btn-{{toggleValue ? 'secondary' : 'default'}}" ng-click="toggleValue = true; switchBG()">National Gallery - Artwork</button> &nbsp; ng-click="toggleValue = false; switchBG()">Rotunda - Archive, Library</button>
			</div> -->
			<div class="col-md-4 p-md-0 mt-2 mb-3">
				<search-component></search-component>
			</div>
			<div class="col-md-8 pr-0 pt-2 d-flex justify-content-md-end mb-3">
				<div class="search_options_list">
					<ul>
						<li>
							<div class="d-inline-block search_sort" ng-show="toggleValue == 'ALL'">
								<select class="form-control" name="sorting_func" ng-model="sorting_func" ng-change="sortingFunc(sorting_func)">
									<option value="">Relevance...</option>
									<option value="Title, asc">Title (A-Z, 0-9)</option>
									<option value="Title, desc">Title (Z-A, 9-0)</option>
								</select>
							</div>
							<div class="d-inline-block search_sort" ng-show="toggleValue == 'ART'">
								<select class="form-control" name="sorting_func" ng-model="sorting_func" ng-change="sortingFunc(sorting_func)">
									<option value="">Relevance...</option>
									<option value="Title, asc">Title (A-Z, 0-9)</option>
									<option value="Title, desc">Title (Z-A, 9-0)</option>
									<option value="Artist, asc">Artist (A-Z, 0-9)</option>
									<option value="Artist, desc">Artist (Z-A, 9-0)</option>
									<option value="Medium, asc">Medium (A-Z, 0-9)</option>
									<option value="Medium, desc">Medium (Z-A, 9-0)</option>
									<option value="AccessionNo, asc">AccessionNo (A-Z, 0-9)</option>
									<option value="AccessionNo, desc">AccessionNo (Z-A, 9-0)</option>
								</select>
							</div>
							<div class="d-inline-block search_sort" ng-show="toggleValue == 'ARC'">
								<select class="form-control" name="sorting_func" ng-model="sorting_func" ng-change="sortingFunc(sorting_func)">
									<option value="">Relevance...</option>
									<option value="Title, asc">Title (A-Z, 0-9)</option>
									<option value="Title, desc">Title (Z-A, 9-0)</option>
									<option value="FondCollection, asc">Fond/Collection (A-Z)</option>
									<option value="FondCollection, desc">Fond/Collection (Z-A)</option>
									<option value="ReferenceCode, asc">Reference Code (A-Z, 0-9)</option>
									<option value="ReferenceCode, desc">Reference Code (Z-A, 9-0)</option>
								</select>
							</div>
							<div class="d-inline-block search_sort" ng-show="toggleValue == 'LIB'">
								<select class="form-control" name="sorting_func" ng-model="sorting_func" ng-change="sortingFunc(sorting_func)">
									<option value="">Relevance...</option>
									<option value="Title, asc">Title (A-Z, 0-9)</option>
									<option value="Title, desc">Title (Z-A, 9-0)</option>
									<option value="Author, asc">Author (A-Z, 0-9)</option>
									<option value="Author, desc">Author (Z-A, 9-0)</option>
									<option value="DeweyClass, asc">DeweyClass (A-Z, 0-9)</option>
									<option value="DeweyClass, desc">DeweyClass (Z-A, 9-0)</option>
									<option value="CreateTime, asc">CreateTime (A-Z, 0-9)</option>
									<option value="CreateTime, desc">CreateTime (Z-A, 9-0)</option>
								</select>
							</div>
							
						</li>
						<li><a ng-click="gridView()"><img ng-src="{{imagePath}}icon/grid-{{isGridView ? 'active' : 'inactive'}}.png" class="icons-4" /></a></li>
						<li><a ng-click="listView()"><img ng-src="{{imagePath}}icon/List-{{isGridView ? 'inactive' : 'active'}}.png" class="icons-4" /></a></li>
						<li><a ng-click="triggerFilterBlock()"><img ng-src="{{imagePath}}icon/Filter-inactive.png" class="icons-4" /></a></li>
						<!-- <li>
											<div class="position-relative">
																<a ng-click="sorting()"><img ng-src="{{imagePath}}icon/ATOZ-{{isSort ? 'active' : 'inactive'}}.png" class="icons-4" /></a>
											</div>
						</li> -->
					</ul>
				</div>
				<!-- <a href="" ng-click="advanceSearch3()"><img src="{{imagePath}}filter.png" /></a> &nbsp; | &nbsp; -->
				
				
			</div>
			<div class="col-md-12 d-flex align-items-end p-0" id="tabsContainer">
				<ul class="tabsBar">
					<li ng-class="toggleValue == 'ALL' ? 'active' : ''"><a class="p-3" ng-click="switchBG('ALL')">ALL ({{productsLength ? productsLength : 0}})</a></li>
					<li ng-class="toggleValue == 'ART' ? 'active' : ''"><a class="p-3" ng-click="switchBG('ART')">ARTWORK ({{artLength ? artLength : 0}})</a></li>
					<li ng-class="toggleValue == 'ARC' ? 'active' : ''"><a class="p-3" ng-click="switchBG('ARC')">ARCHIVE ({{arcLength ? arcLength : 0}})</a></li>
					<li ng-class="toggleValue == 'LIB' ? 'active' : ''"><a class="p-3" ng-click="switchBG('LIB')">LIBRARY ({{libLength ? libLength : 0}})</a></li>
				</ul>
			</div>
			<div class="col-xs-12 hidden-md selectBars full-width">
				<select ng-model="categoryOption" ng-change="switchBG(categoryOption)" class="form-control">
					<option value="ALL">ALL ({{productsLength ? productsLength : 0}})</option>
					<option value="ART">ARTWORK ({{artLength ? artLength : 0}})</option>
					<option value="ARC">ARCHIVE ({{arcLength ? arcLength : 0}})</option>
					<option value="LIB">LIBRARY ({{libLength ? libLength : 0}})</option>
				</select>
			</div>
		</div>
	</div>
	<div class="collection-section position-relative">
		<!-- <div ng-show="imagesPreload" class="position-absolute bg-white w-100 h-100" style="z-index:3"></div> -->
		<div class="container-fluid allCollection" ng-show="toggleValue == 'ALL'">
			<div class="row m-0">
				<div class="col-md-12 collection pt-4" ng-show="isGridView">
					<div masonry item-selector=".masonry-brick" column-width=".masonry-brick" reload-on-show reload-on-resize masonry-options="{{masonry}}"  class="masonry-grid allGrid  mw-100">
						<div class="gutter-sizer"></div>
						<!-- <div ng-repeat="data in allGridData"> -->
						<div masonry-brick class="masonry-brick" ng-repeat="d in allGridData track by $index">
							<div class="position-relative product_image">
								<img ng-src="{{imagePath}}asset/{{d.CategoryCode == 'ART' ? 'Artwork' : d.CategoryCode == 'ARC' ? 'Archives' : d.CategoryCode == 'LIB' ? 'Library' : ''}}/{{d.ImagePath}}" class="grid-img image-responsive" alt="{{d.SourceTitle}}" />
								<div class="position-absolute viewDetailsOverlay  full-width full-height">
									<a ng-click="clickViewItem(d.ProductId)" ui-sref="details({from: 'Search', productId: d.ProductId })">
										<p class="text-bold text-light full-width full-height d-flex justify-content-center align-items-center">View Details
										</p>
									</a>
								</div>
							</div>
							<div class="item_details">
								<div class="col-md-12 title pl-1 pr-1">
									<div>
										<p>
											{{d.CategoryCode == 'ART' ? 'ARTWORK' : d.CategoryCode == 'ARC' ? 'ARCHIVE' : 'LIBRARY'}}
										</p>
										<p class="details_name m-0 text-truncate" ng-if="d.CategoryCode == 'ART' && d.Artist">
											<span ng-bind-html="d.Artist"></span>
										</p>
										<div class="position-relative">
											<div class="pr-md-4 sourcetitle">
												<div ng-if="d.CategoryCode == 'ART'">
													<i ng-bind-html="d.SourceTitle"></i>
												</div>
												<div ng-if="d.CategoryCode != 'ART'">
													<span ng-bind-html="d.SourceTitle"></span>
												</div>
												<!-- <div class="pr-md-4 sourcetitle">
																	<i ng-if="d.CategoryCode == 'ART'">{{d.SourceTitle | cut:true:80:' ...'}}</i>
																	<span ng-if="d.CategoryCode != 'ART'">{{d.SourceTitle | cut:true:80:' ...'}}</span>
												</div> -->
												
											</div>
											<p class="m-0 mt-1" ng-if="d.ProductDate">
												<small>{{d.ProductDate}}</small>
											</p>
										</div>
									</div>
								</div>
							</div>
							
							<!-- </div> -->
						</div>
					</div>
					
				</div>
				<div class="col-md-12 collection " ng-show="!isGridView">
					
					<div class="row item-list" ng-repeat="d in allGridData track by $index">
						<div class="col-12 p-3" ng-show="d.CategoryCode == 'LIB'">
							<div class="w-100">
								<ul>
									<li>
										<div ng-if="d.CategoryCode == 'ART'">
											<i ng-bind-html="d.SourceTitle"></i>
										</div>
										<div ng-if="d.CategoryCode != 'ART'">
											<span ng-bind-html="d.SourceTitle"></span>
										</div>
										<!-- <i ng-if="d.CategoryCode == 'ART'">{{d.SourceTitle}}</i>
										<span ng-if="d.CategoryCode != 'ART'">{{d.SourceTitle}}</span> -->
									</li>
									<li class="pt-2">
										<a ng-click="clickViewItem(d.ProductId)" ui-sref="details({from: 'Search', productId: d.ProductId })">
											<span class="text-bold theme-color">View Details</span>
										</a>
									</li>
								</ul>
							</div>
							<div class="w-100" style="overflow:auto">
								<table class="table table-bordered">
									<thead class="bg-secondary text-white">
										<tr>
											<th style="width:33.33%">Collection</th>
											<th style="width:33.33%">Call Number</th>
											<th style="width:33.33%">Status/Desc</th>
										</tr>
									</thead>
									<tbody class="bg-white">
										<tr ng-repeat="itm in d.Items">
											<td>
												<span ng-bind-html="itm.Collection != null ? itm.Collection.replace('<b>', '').replace('</b>', '').replace('<strong>').replace('</strong>') : itm.Collection"></span>
											</td>
											<td>{{itm.ClassNumber}} {{itm.Suffix}}<br>{{itm.Category1}} {{itm.Category2}}</td>
											<td>
												<ul class="ml-3" style="list-style-type:disc">
													<li>
														{{itm.StatusDescription}}{{itm.Status}}
													</li>
												</ul>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-12 item_list_details p-3" ng-show="d.CategoryCode == 'ART'">
							<div class="row item-list">
								<div class="item-attachment p-2 border border-light-gray d-flex align-items-center justify-content-center bg-ddd"><img ng-src="{{imagePath}}asset/{{d.CategoryCode == 'ART' ? 'Artwork' : d.CategoryCode == 'ARC' ? 'Archives' : d.CategoryCode == 'LIB' ? 'Library' : ''}}/{{d.ImagePath}}" class="grid-img image-responsive" alt="{{d.SourceTitle}}" /></div>
								<div class="item_list_details position-relative">
									<div class="row d-flex align-items-center full-height">
										<div class="title" class="border-secondary d-flex align-items-center">
											<div>
												<p class="details_name m-0 text-truncate" ng-if="d.Artist">
													<span ng-bind-html="d.Artist"></span>
												</p>
												<div class="position-relative">
													<div class="pr-md-4 sourcetitle">
														<i ng-bind-html="d.SourceTitle"></i>
														<!-- <i>{{d.SourceTitle}}</i> -->
													</div>
													<p class="m-0 mt-1" ng-if="d.ProductDate">
														<small>{{d.ProductDate}}</small>
													</p>
												</div>
												<div class="pt-3">
													<a ng-click="clickViewItem(d.ProductId)" ui-sref="details({from: 'Search', productId: d.ProductId })">
														<p class="text-bold theme-color">View Details</p>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 item_list_details p-3" ng-show="d.CategoryCode == 'ARC'">
							<div class="row item-list">
								<div class="item-attachment p-2 border border-light-gray d-flex align-items-center justify-content-center bg-ddd"><img ng-src="{{imagePath}}asset/{{d.CategoryCode == 'ART' ? 'Artwork' : d.CategoryCode == 'ARC' ? 'Archives' : d.CategoryCode == 'LIB' ? 'Library' : ''}}/{{d.ImagePath}}" class="grid-img image-responsive" alt="{{d.SourceTitle}}" /></div>
								<div class="item_list_details position-relative">
									<div class="row d-flex align-items-center full-height">
										<div class="title full-width" class="border-secondary d-flex align-items-center">
											<div>
												<div class="position-relative">
													<div class="pr-md-4 sourcetitle" ng-bind-html="d.SourceTitle"></div>
													<div class="pr-md-4 pt-2" ng-bind-html="d.FondsCollection"></div>
												</div>
												<div class="pt-3">
													<a ng-click="clickViewItem(d.ProductId)" ui-sref="details({from: 'Search', productId: d.ProductId })">
														<p class="text-bold theme-color">View Details</p>
													</a>
													<div class="arcTableList">
														<table class="table table-bordered mt-2">
															<thead class="bg-secondary text-white">
																<tr>
																	<th style="width:33.33%">General Material Type</th>
																	<th style="width:33.33%">Extent and Medium</th>
																	<th style="width:33.33%">Storage Location</th>
																</tr>
															</thead>
															<tbody class="bg-white">
																<tr>
																	<td>
																		<span ng-bind-html="d.MaterialType"></span>
																	</td>
																	<td>
																		<span ng-bind-html="d.ExtentAndMedium"></span>
																	</td>
																	<td>
																		<span ng-bind-html="d.StorageLocation"></span>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 p-0">
					<div ng-if="loading" class="position-fixed w-100 text-center" style="bottom:0"><img ng-src="{{imagePath}}loading.gif" class="icons-4" /></div>
					<div ng-if="toggleValue == 'ALL'" scroll-trigger="loadMore()" threshold="1000"></div>
					
					<div class="col-md-12 mt-5 mb-5 text-center text-bold" ng-if="!isMoreResultForAll && productsLength > 0" ng-cloak>
						No more result
					</div>
					<div class="col-md-12 mt-5 mb-5 text-center" ng-if="!isMoreResultForAll && productsLength <= 0" ng-cloak>
						<div class="font-weight-bold">Sorry, your search did not find any results.</div>
						<div>For enquiries, please contact us at <a href="mailto:infomanagement@nationalgallery.sg">infomanagement@nationalgallery.sg</a> (artwork-related) or <a href="mailto:library.archive@nationalgallery.sg">library.archive@nationalgallery.sg</a> (library and archive-related)</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid artCollection" ng-show="toggleValue == 'ART'">
			<div class="row m-0">
				<div class="col-md-12 collection pt-4" ng-show="isGridView">
					<div masonry item-selector=".masonry-brick" column-width=".masonry-brick" reload-on-show reload-on-resize masonry-options="{{masonry}}"  class="masonry-grid artGrid mw-100">
						<div class="gutter-sizer"></div>
						<!-- <div ng-repeat="data in allGridData"> -->
						<div masonry-brick class="masonry-brick" ng-repeat="d in artGridData track by $index">
							<div class="position-relative product_image">
								<img ng-src="{{imagePath}}asset/{{d.CategoryCode == 'ART' ? 'Artwork' : d.CategoryCode == 'ARC' ? 'Archives' : d.CategoryCode == 'LIB' ? 'Library' : ''}}/{{d.ImagePath}}" class="grid-img image-responsive" alt="{{d.SourceTitle}}" />
								<div class="position-absolute viewDetailsOverlay  full-width full-height">
									<a ng-click="clickViewItem(d.ProductId)" ui-sref="details({from: 'Search', productId: d.ProductId })">
										<p class="text-bold text-light full-width full-height d-flex justify-content-center align-items-center">View Details
										</p>
									</a>
								</div>
							</div>
							<div class="item_details">
								<div class="col-md-12 title pl-1 pr-1">
									<div>
										<p class="details_name m-0" ng-if="d.Artist">
											<span ng-bind-html="d.Artist"></span>
										</p>
										<div class="position-relative">
											<div class="pr-md-4 sourcetitle">
												<i ng-if="d.CategoryCode == 'ART'" ng-bind-html="d.SourceTitle"></i>
												<!-- <i ng-if="d.CategoryCode == 'ART'">{{d.SourceTitle | cut:true:80:' ...'}}</i> -->
												
											</div>
											<p class="m-0 mt-1" ng-if="d.ProductDate">
												<small>{{d.ProductDate}}</small>
											</p>
										</div>
									</div>
								</div>
							</div>
							
							<!-- </div> -->
						</div>
					</div>
					
				</div>
				<div class="col-md-12 collection" ng-show="!isGridView">
					<div class="row item-list" ng-repeat="d in artGridData track by $index">
						<div class="item-attachment p-2 border border-light-gray d-flex align-items-center justify-content-center bg-ddd"><img ng-src="{{imagePath}}asset/{{d.CategoryCode == 'ART' ? 'Artwork' : d.CategoryCode == 'ARC' ? 'Archives' : d.CategoryCode == 'LIB' ? 'Library' : ''}}/{{d.ImagePath}}" class="grid-img image-responsive" alt="{{d.SourceTitle}}" /></div>
						<div class="item_list_details position-relative">
							<div class="row d-flex align-items-center full-height">
								<div class="title" class="border-secondary d-flex align-items-center">
									<div>
										<p class="details_name m-0" ng-if="d.Artist">
											<span ng-bind-html="d.Artist"></span>
										</p>
										<div class="position-relative">
											<div class="pr-md-4 sourcetitle">
												<i ng-bind-html="d.SourceTitle"></i>
												<!-- <i>{{d.SourceTitle}}</i> -->
											</div>
											<p class="m-0 mt-1" ng-if="d.ProductDate">
												<small>{{d.ProductDate}}</small>
											</p>
										</div>
										<div class="pt-3">
											<a ng-click="clickViewItem(d.ProductId)" ui-sref="details({from: 'Search', productId: d.ProductId })">
												<p class="text-bold theme-color">View Details</p>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 p-0">
					<div ng-if="loading" class="position-fixed w-100 text-center" style="bottom:0"><img ng-src="{{imagePath}}loading.gif" class="icons-4" /></div>
					<div ng-if="toggleValue == 'ART'" scroll-trigger="loadMore()" threshold="1000"></div>
					<div class="col-md-12 mt-5 mb-5 text-center text-bold" ng-if="!isMoreResultForArt && artLength > 0" ng-cloak>
						No more result
					</div>
					<div class="col-md-12 mt-5 mb-5 text-center" ng-if="!isMoreResultForArt && artLength <= 0" ng-cloak>
						<div class="font-weight-bold">Sorry, your search did not find any results.</div>
						<div>For artwork-related enquiries, please contact us at <a href="mailto:infomanagement@nationalgallery.sg">infomanagement@nationalgallery.sg</a></div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid arcCollection" ng-show="toggleValue == 'ARC'">
			<div class="row m-0">
				<div class="col-md-12 collection pt-4" ng-show="isGridView">
					<div masonry item-selector=".masonry-brick" column-width=".masonry-brick" reload-on-show reload-on-resize masonry-options="{{masonry}}"  class="masonry-grid arcGrid mw-100">
						<div class="gutter-sizer"></div>
						<!-- <div ng-repeat="data in allGridData"> -->
						<div masonry-brick class="masonry-brick" ng-repeat="d in arcGridData track by $index">
							<div class="position-relative product_image">
								<img ng-src="{{imagePath}}asset/{{d.CategoryCode == 'ART' ? 'Artwork' : d.CategoryCode == 'ARC' ? 'Archives' : d.CategoryCode == 'LIB' ? 'Library' : ''}}/{{d.ImagePath}}" class="grid-img image-responsive" alt="{{d.SourceTitle}}" />
								<div class="position-absolute viewDetailsOverlay  full-width full-height">
									<a ng-click="clickViewItem(d.ProductId)" ui-sref="details({from: 'Search', productId: d.ProductId })">
										<p class="text-bold text-light full-width full-height d-flex justify-content-center align-items-center">View Details
										</p>
									</a>
								</div>
							</div>
							<div class="item_details">
								<div class="col-md-12 title pl-1 pr-1">
									<div>
										<p class="details_name m-0" ng-if="d.Artist && d.CategoryCode == 'ART'">
											<span ng-bind-html="d.Artist"></span>
										</p>
										<div class="position-relative">
											<div class="pr-md-4 sourcetitle">
												<span ng-bind-html="d.SourceTitle"></span>
												<!-- <span>{{d.SourceTitle | cut:true:80:' ...'}}</span> -->
											</div>
											<p class="m-0 mt-1" ng-if="d.ProductDate && d.CategoryCode == 'ART'">
												<small>{{d.ProductDate}}</small>
											</p>
										</div>
									</div>
								</div>
							</div>
							
							<!-- </div> -->
						</div>
					</div>
				</div>
				<div class="col-md-12 collection" ng-show="!isGridView">
					<div class="row item-list" ng-repeat="d in arcGridData track by $index">
						<div class="item-attachment p-2 border border-light-gray d-flex align-items-center justify-content-center bg-ddd"><img ng-src="{{imagePath}}asset/{{d.CategoryCode == 'ART' ? 'Artwork' : d.CategoryCode == 'ARC' ? 'Archives' : d.CategoryCode == 'LIB' ? 'Library' : ''}}/{{d.ImagePath}}" class="grid-img image-responsive" alt="{{d.SourceTitle}}" /></div>
						<div class="item_list_details position-relative">
							<div class="row d-flex align-items-center full-height">
								<div class="title full-width" class="border-secondary d-flex align-items-center">
									<div>
										<div class="position-relative">
											<div class="pr-md-4 sourcetitle" ng-bind-html="d.SourceTitle"></div>
											<!-- <div class="pr-md-4 sourcetitle">{{d.SourceTitle}}</div> -->
											<div class="pr-md-4 pt-2" ng-bind-html="d.FondsCollection"></div>
										</div>
										<div class="pt-3">
											<a ng-click="clickViewItem(d.ProductId)" ui-sref="details({from: 'Search', productId: d.ProductId })">
												<p class="text-bold theme-color">View Details</p>
											</a>
											<div class="arcTableList">
												<table class="table table-bordered mt-2">
													<thead class="bg-secondary text-white">
														<tr>
															<th style="width:33.33%">General Material Type</th>
															<th style="width:33.33%">Extent and Medium</th>
															<th style="width:33.33%">Storage Location</th>
														</tr>
													</thead>
													<tbody class="bg-white">
														<tr>
															<td>
																<span ng-bind-html="d.MaterialType"></span>
															</td>
															<td>
																<span ng-bind-html="d.ExtentAndMedium"></span>
															</td>
															<td>
																<span ng-bind-html="d.StorageLocation"></span>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 p-0">
					<div ng-if="loading" class="position-fixed w-100 text-center" style="bottom:0"><img ng-src="{{imagePath}}loading.gif" class="icons-4" /></div>
					<div ng-if="toggleValue == 'ARC'" scroll-trigger="loadMore()" threshold="1000"></div>
					<div class="col-md-12 mt-5 mb-5 text-center text-bold" ng-if="!isMoreResultForArc && arcLength > 0" ng-cloak>
						No more result
					</div>
					<div class="col-md-12 mt-5 mb-5 text-center" ng-if="!isMoreResultForArc && arcLength <= 0" ng-cloak>
						<div class="font-weight-bold">Sorry, your search did not find any results.</div>
						<div>For archive-related enquiries, please contact us at <a href="mailto:library.archive@nationalgallery.sg">library.archive@nationalgallery.sg</a></div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid libCollection" ng-show="toggleValue == 'LIB'">
			<div class="row m-0">
				<div class="col-md-12 collection pt-4" ng-show="isGridView">
					<div masonry item-selector=".masonry-brick" column-width=".masonry-brick" reload-on-show reload-on-resize masonry-options="{{masonry}}"  class="masonry-grid libGrid mw-100">
						<div class="gutter-sizer"></div>
						<!-- <div ng-repeat="data in allGridData"> -->
						<div masonry-brick class="masonry-brick" ng-repeat="d in libGridData track by $index">
							<div class="position-relative product_image">
								<img ng-src="{{imagePath}}asset/{{d.CategoryCode == 'ART' ? 'Artwork' : d.CategoryCode == 'ARC' ? 'Archives' : d.CategoryCode == 'LIB' ? 'Library' : ''}}/{{d.ImagePath}}" class="grid-img image-responsive" alt="{{d.SourceTitle}}" />
								<div class="position-absolute viewDetailsOverlay  full-width full-height">
									<a ng-click="clickViewItem(d.ProductId)" ui-sref="details({from: 'Search', productId: d.ProductId })">
										<p class="text-bold text-light full-width full-height d-flex justify-content-center align-items-center">View Details
										</p>
									</a>
								</div>
							</div>
							<div class="item_details">
								<div class="col-md-12 title pl-1 pr-1">
									<div>
										<p class="details_name m-0" ng-if="d.Artist && d.CategoryCode == 'ART'">
											<span ng-bind-html="d.Artist"></span>
										</p>
										<div class="position-relative">
											<div class="pr-md-4 sourcetitle">
												<span ng-bind-html="d.SourceTitle"></span>
												<!-- <span>{{d.SourceTitle | cut:true:80:' ...'}}</span> -->
											</div>
											<p class="m-0 mt-1" ng-if="d.ProductDate && d.CategoryCode == 'ART'">
												<small>{{d.ProductDate}}</small>
											</p>
										</div>
									</div>
								</div>
							</div>
							
							<!-- </div> -->
						</div>
					</div>
					
				</div>
				<div class="col-md-12 collection pt-4" ng-show="!isGridView">
					<div class="row item-list" ng-repeat="d in libGridData track by $index">
						<div class="col-md-12 p-3">
							<ul>
								<li>
									<p ng-bind-html="d.SourceTitle"></p>
									<!-- <span>{{d.SourceTitle}}</span> -->
								</li>
								<li class="pt-2">
									<a ng-click="clickViewItem(d.ProductId)" ui-sref="details({from: 'Search', productId: d.ProductId })">
										<span class="text-bold theme-color">View Details</span>
									</a>
								</li>
							</ul>
						</div>
						<div class="col-md-12" style="overflow:auto">
							<table class="table table-bordered">
								<thead class="bg-secondary text-white">
									<tr>
										<th style="width:33.33%">Collection</th>
										<th style="width:33.33%">Call Number</th>
										<th style="width:33.33%">Status/Desc</th>
									</tr>
								</thead>
								<tbody class="bg-white" ng-if="d.Items.length <= 10">
									<tr ng-repeat="itm in d.Items">
										<td>
											<span ng-bind-html="itm.Collection != null ? itm.Collection.replace('<b>', '').replace('</b>', '').replace('<strong>').replace('</strong>') : itm.Collection"></span>
										</td>
										<td>{{itm.ClassNumber}} {{itm.Suffix}}<br>{{itm.Category1}} {{itm.Category2}}</td>
										<td>
											<!-- <ul class="ml-3" style="list-style-type:disc">
																<li>
																					{{itm.StatusDescription}}{{itm.Status}}
																</li>
											</ul> -->
											<ul class="ml-3" style="list-style-type:disc">
												<li ng-show="itm.StatusDescription">
													{{itm.StatusDescription ? itm.StatusDescription : '-'}}
												</li>
												<li ng-show="itm.Status">
													{{itm.Status ? itm.Status : '-'}}
												</li>
											</ul>
										</td>
									</tr>
								</tbody>
								<tbody class="bg-white" ng-if="d.Items.length > 10">
									<tr>
										<td colspan="4" class="text-center">
											<a class="theme-color" ng-click="clickViewItem(d.ProductId)" ui-sref="details({from: 'Search', productId: d.ProductId })">
												{{d.Items.length}} copies - see details
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-md-12 p-0">
					<div ng-if="loading" class="position-fixed w-100 text-center" style="bottom:0"><img ng-src="{{imagePath}}loading.gif" class="icons-4" /></div>
					<div ng-if="toggleValue == 'LIB'" scroll-trigger="loadMore()" threshold="1000"></div>
					<div class="col-md-12 mt-5 mb-5 text-center text-bold" ng-if="!isMoreResultForLib && libLength > 0" ng-cloak>
						No more result
					</div>
					<div class="col-md-12 mt-5 mb-5 text-center" ng-if="!isMoreResultForLib && libLength <= 0" ng-cloak>
						<div class="font-weight-bold">Sorry, your search did not find any results.</div>
						<div>For library-related enquiries, please contact us at <a href="mailto:library.archive@nationalgallery.sg">library.archive@nationalgallery.sg</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	var $btnFilter = $('#btnFilter');
	var $filterPanel = $('#filterPanel');
	$(document).bind( "mouseup touchend", function(e){
	if ((!$btnFilter.is(e.target)
	&& $btnFilter.has(e.target).length === 0) && (!$filterPanel.is(e.target) && $filterPanel.has(e.target).length === 0))
	{
		$('#filter-block').removeClass('active');
	// $('.mobile-navigation').css({'margin-right':'-270px'});
	//  $('span.hamburger').removeClass('close');
	//  $('#cart').removeClass('drop');
	}
	});
</script>