<section id="success" class="bg-light">
	<div class="container-fluid">
		<div class="container pt-3">
			<div class="row m-0">
			<!-- 		<div class="col-md-3 bg-F4 p-3 pt-5 min-full-height d-flex justify-content-center">
					<div>
							
							<div class="break-line"></div>
							<div class="col-md-12 stepper mt-3">
									<ul class="progressbar">
											<li class="active"><img src="{{imagePath}}cart-active.png" class="icons-4" />Cart</li>
											<li class="active"><img src="{{imagePath}}cart-active.png" class="icons-4" /> Info</li>
											<li class="active"><img src="{{imagePath}}cart-active.png" class="icons-4" /> Complete</li>
									</ul>
							</div>
					</div>
					
			</div> -->
			<div class="col-md-12 text-center mb-5">
				<h2 class="text-bold">Request Submitted</h2>
			</div>
			<div class="col-md-12 d-flex align-items-center justify-content-center text-dark">
				<div class="col-md-12 text-center">
					<div class="svg-container p-3">
						<svg class="ft-green-tick" xmlns="http://www.w3.org/2000/svg" height="100" width="100" viewBox="0 0 48 48" aria-hidden="true">
							<circle class="circle" fill="#5bb543" cx="24" cy="24" r="22"/>
							<path class="tick" fill="none" stroke="#FFF" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M14 27l5.917 4.917L34 17"/>
						</svg>
					</div>
					<p>Thank you for your interest in our collections. Please allow us at least five (5) working days to get back to you to process your request. To note you might receive responses from different administrators working for different types of database. 
					<hr style="width:100px;">
					For general equiries and feedback, please email <a class="text-dark text-bold" href="mailto:info@nationalgallery.sg">info@nationalgallery.sg</a> or call our Visitor Services Helpdesk at <a class="text-dark text-bold" href="tel:+6562717000">6271 7000</a>
					<br /><br />
					</p>
					<div class="mt-4 d-flex justify-content-center full-width" id="surveyForm">
						<div>
							<h5 class="text-bold m-0">How did you hear about SEARCH OUR COLLECTIONS? </h5>
							<ul class="text-left mt-2">

								<li ng-repeat="item in surveyList.items">
									<label>
										<input type="checkbox" ng-model="item.checked" ng-change="pickSurvey(item)" /> &nbsp;
										{{item.name}}
									</label>
								</li>
							</ul>

							<a ng-click="thankyouMessage()" class="btn theme-bgcolor text-light full-width mt-3">Submit</a>
						</div>
						
					</div>
					<div class="mt-3">
						<a  ui-sref="home">Back to Home</a>
					</div>
					
				</div>
				
			</div>
		</div>
		</div>
		
	</div>
</section>