<section id="termAndCondition" class="bg-light">
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-12 pt-3 pb-2 text-uppercase">
					<small><a ng-click="back()" class="text-dark"><img src="{{imagePath}}arrow-left-black.png" class="icons-1 align-top" /><span class="d-inline-block text-bold">BACK</span></a> &nbsp; | &nbsp; <a class="text-dark" ui-sref="termCondition">Terms and Conditions</a></small>
					<!-- <search-filter></search-filter> -->
				</div>
				<div class="col-md-12">
					<div style="padding:50px 0">
						<h1 class="text-bold text-center text-uppercase theme-color">Request Form</h1>
						<p class="text-center pb-3">This request form is for you to inquire about reproductions of artwork images and archival materials in our collection. All requests must be for educational and non-commercial use only. Please fill in your personal particulars and list items of interest in the fields provided. Do note that the items are subject to copyright restrictions and approval.</p>
					</div>
					
					<div class="card">
						<div class="card-header">
							<h4 class="m-0">Terms and Conditions</h4>
						</div>
						<div class="card-body">
							If permission is granted, use of the supplied images is subject to the acceptance and fulfilment of the following terms & conditions: <br>
							<ol>
								<li>The Gallery has sole discretion and final say on whether it wishes to grant the permission sought; the Gallery is under no obligation to release the images to anyone.</li>
								<li>Images may not be cropped, overprinted or altered in any way without prior written approval of the copyright owner.</li>
								<li>The applicant shall send PDF and caption proofs to the Gallery for approval prior to publication.</li>
								<li>Any reproductions shall be credited in accordance to the Gallery’s instructions</li>
								<li>The artist of the work or source of the image shall be correctly attributed.</li>
								<li>If a detail of the image is used, the words ‘Detail of’ must appear before the title of the artwork.</li>
								<li>The Gallery may take up to 4 weeks to process requests for images.</li>
								<li>All rights granted are non-transferrable and for one-time use only.</li>
								<li>A complimentary copy of any output arising from the request (e.g. in the form of a publication/thesis/footage) must be sent/emailed to the Gallery within 30 days of its production to the respective addresses: Information Management, 1 St Andrew’s Road #01-01 Singapore 178957 or <a href="mailto:library.archive@nationalgallery.sg">library.archive@nationalgallery.sg</a>. This copy may be accessioned into the Rotunda Library and Archive collection and made accessible to researchers.</li>
								<li>The Gallery will only use the information you have provided for the purposes of processing this request.</li>
							</ol>

							<div class="text-center">
								<label class="d-block">
									<input type="checkbox" class="d-inline-block align-middle" ng-model="termCondition"  />
									<span>I accept the terms and conditions</span>
									
								</label>
								<button ng-disabled="!termCondition" class="btn theme-bgcolor text-light" ui-sref="personal-particular" ng-click="isCheckTerm()">Proceed</button>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>